:host {
  display: contents;
}
:host {
  --bg-color: var(--s-color-fg);
  --size: 1px;
  --opacity: 0.13;
  --width: 100%;
  --height: 100%;
  --spacing: var(--s-spacing-md);
}

.divider {
  background-color: var(--bg-color);
  opacity: var(--opacity);
}

:host(:not([vertical])) .divider {
  display: block;
  width: var(--width);
  height: var(--size);
}

:host([vertical]) .divider {
  display: inline-block;
  width: var(--size);
  height: var(--height);
}
