:host {
  display: contents;
}

:host > .root {
  display: flex;
  position: absolute;
  inset: 0;
  flex: 1;
  flex-direction: column;
  pointer-events: none;
}

:host > .root > .dragover {
  position: absolute;
  inset: 0;
  flex: 1;
  pointer-events: none;
  background-color: var(---theme_color-panel);
  color: var(---theme_color-fg);
  font-size: var(---theme_text-xl-font-size);
  font-weight: 600;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
