*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 0;
  text-underline-offset: 3px;
  background-size: cover;
  border: none;
  overflow-wrap: break-word;
  margin: 0;
  min-width: 0;
  max-width: 100%;
  font-family: var(--s-font-sans, sans-serif);
  pointer-events: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

*::-moz-focus-inner {
  border: none;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: none;
}

*::-webkit-scrollbar {
  width: var(--s-scrollbar-size, 8px);
  height: var(--s-scrollbar-size, 8px);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--s-color-scrollbar-thumb, #00000040);
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--s-color-scrollbar-thumb-hover, #00000080);
}

*::-webkit-scrollbar-track {
  background-color: var(--s-color-scrollbar-track, #0000001a);
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-corner {
  display: none;
}

/* scrollbar-color and scrollbar-width is only supported in Firefox */
* {
  scrollbar-color: var(--s-color-scrollbar-thumb, #00000040)
    var(--s-color-scrollbar-thumb, #0000001a);
  scrollbar-width: var(--s-scrollbar-thickness, thin);
}

[hidden] {
  display: none !important;
}

.disabled * {
  pointer-events: none;
}

slot {
  border-radius: inherit;
}
