* {
  flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 0;
  min-width: 0;
  max-width: 100%;
}

[hidden] {
  display: none !important;
}

[popover] {
  margin: 0;
  padding: 0;
  inset: auto;
}

slot {
  border-radius: inherit;
  color: inherit;
}

* slot {
  border-radius: inherit;
}
