:host {
  display: contents;
  --_position: relative;
  --_overflow-x: clip;
  --_overflow-y: clip;
  --_height: 2px;
  --_height-min: var(--_height);
  --_text-font: var(--theme-font-sans);
  --_text-size: var(--theme-text-xs-font-size);
  --_text-weight: 400;
  --_background-color: var(--theme-color-neutral-30);
  --_text-color: var(--theme-color-primary-60);
  --_speed: 2.5;
  --_duration: 400ms;
}

:host > .root {
  display: flex;
  position: var(--_position);
  overflow-x: var(--_overflow-x);
  overflow-y: var(--_overflow-y);
  min-height: var(--_height-min);
  height: var(--_height);
  font-family: var(--_text-font);
  font-size: var(--_text-size);
  font-weight: var(--_text-weight);
  background-color: var(--_background-color);
  contain: strict;
  will-change: transform;
}

:host > .root > .indicator {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  color: var(--_text-color);
  line-height: var(--_height);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
  transform-origin: left;
  transition-property: transform, background-color;
  transition-duration: var(--_duration);
  transform: scaleX(var(--_value));
  will-change: transform;
}
:host(:not([value])) > .root > .indicator {
  animation: indeterminate-bar calc(1s * var(--_speed)) infinite
    cubic-bezier(0.37, 0, 0.63, 1);
}
:host([rtl]) > .root > .indicator {
  transform-origin: right;
}
:host([rtl]:not([value])) > .root > .indicator {
  animation-name: indeterminate-bar-rtl;
}

:host > .root > .label {
  position: absolute;
  inset: 0;
}

@keyframes indeterminate-bar {
  0% {
    transform: translateX(-50%) scaleX(50%);
  }
  75%,
  100% {
    transform: translateX(100%) scaleX(50%);
  }
}

@keyframes indeterminate-bar-rtl {
  0% {
    transform: translateX(50%) scaleX(50%);
  }
  75%,
  100% {
    transform: translateX(-100%) scaleX(50%);
  }
}
