:host {
  display: contents;
  --_overflow-y: visible;
  --_child-layout: column-reverse;
  --_position: absolute;
  --_z: var(--theme-z-index-toast);
  --_width-max: 100%;
  --_height-max: 100%;
  --_inset-t: auto;
  --_inset-b: 16px;
  --_inset-lr: 16px;
}

:host > .root {
  display: flex;
  flex-direction: var(--_child-layout);
  overflow-y: var(--_overflow-y);
  position: var(--_position);
  z-index: var(--_z);
  max-width: var(--_width-max);
  max-height: var(--_height-max);
  inset-block-start: var(--_inset-t);
  inset-block-end: var(--_inset-b);
  inset-inline: var(--_inset-lr);
}
