.s-theme-dark {
  color-scheme: dark;

  /*
   * Color Primitives
   */

  /* Gray */
  --s-color-gray-10: hsl(240 5.1% 15%);
  --s-color-gray-20: hsl(240 5.7% 18.2%);
  --s-color-gray-30: hsl(240 4.6% 22%);
  --s-color-gray-40: hsl(240 5% 27.6%);
  --s-color-gray-50: hsl(240 5% 35.5%);
  --s-color-gray-60: hsl(240 3.7% 44%);
  --s-color-gray-70: hsl(240 5.3% 58%);
  --s-color-gray-80: hsl(240 5.6% 73%);
  --s-color-gray-90: hsl(240 7.3% 84%);
  --s-color-gray-95: hsl(240 9.1% 91.8%);
  --s-color-gray-99: hsl(0 0% 95%);

  /* Red */
  --s-color-red-10: hsl(0 56% 23.9%);
  --s-color-red-20: hsl(0.6 60% 33.9%);
  --s-color-red-30: hsl(0.9 67.2% 37.1%);
  --s-color-red-40: hsl(1.1 71.3% 43.7%);
  --s-color-red-50: hsl(1 76% 52.5%);
  --s-color-red-60: hsl(0.7 89.6% 57.2%);
  --s-color-red-70: hsl(0 98.6% 67.9%);
  --s-color-red-80: hsl(0 100% 72.3%);
  --s-color-red-90: hsl(0 100% 85.6%);
  --s-color-red-95: hsl(0 100% 90.3%);
  --s-color-red-99: hsl(0 100% 95.9%);

  /* Orange */
  --s-color-orange-10: hsl(15 64.2% 23.3%);
  --s-color-orange-20: hsl(15.1 70.9% 31.1%);
  --s-color-orange-30: hsl(15.3 75.7% 35.5%);
  --s-color-orange-40: hsl(17.1 83.5% 42.7%);
  --s-color-orange-50: hsl(20.1 88% 50.8%);
  --s-color-orange-60: hsl(24.3 100% 50.5%);
  --s-color-orange-70: hsl(27.2 100% 57.7%);
  --s-color-orange-80: hsl(31.3 100% 68.7%);
  --s-color-orange-90: hsl(33.8 100% 79.3%);
  --s-color-orange-95: hsl(38.9 100% 87.7%);
  --s-color-orange-99: hsl(46.2 100% 95%);

  /* Amber */
  --s-color-amber-10: hsl(21.9 66.3% 21.1%);
  --s-color-amber-20: hsl(21.5 73.6% 29.7%);
  --s-color-amber-30: hsl(22.3 77.6% 33.3%);
  --s-color-amber-40: hsl(25.4 84.2% 39.6%);
  --s-color-amber-50: hsl(31.4 87.4% 46.7%);
  --s-color-amber-60: hsl(37 96.6% 48.3%);
  --s-color-amber-70: hsl(43.3 100% 53.4%);
  --s-color-amber-80: hsl(46.5 100% 61.1%);
  --s-color-amber-90: hsl(49.3 100% 73%);
  --s-color-amber-95: hsl(51.8 100% 85%);
  --s-color-amber-99: hsl(60 100% 94.6%);

  /* Yellow */
  --s-color-yellow-10: hsl(32.5 60% 18.2%);
  --s-color-yellow-20: hsl(28.1 68.6% 29%);
  --s-color-yellow-30: hsl(31.3 75.8% 30.8%);
  --s-color-yellow-40: hsl(34.7 84.4% 35.3%);
  --s-color-yellow-50: hsl(40.1 87.3% 43.3%);
  --s-color-yellow-60: hsl(44.7 88% 46%);
  --s-color-yellow-70: hsl(47.7 100% 50.9%);
  --s-color-yellow-80: hsl(51.3 100% 59.9%);
  --s-color-yellow-90: hsl(54.6 100% 73%);
  --s-color-yellow-95: hsl(58.9 100% 84.2%);
  --s-color-yellow-99: hsl(60 100% 94%);

  /* Lime */
  --s-color-lime-10: hsl(86.5 54.4% 18%);
  --s-color-lime-20: hsl(87.6 56.8% 23.3%);
  --s-color-lime-30: hsl(85.8 63.2% 24.5%);
  --s-color-lime-40: hsl(86.1 72% 29.4%);
  --s-color-lime-50: hsl(85.5 76.8% 37.3%);
  --s-color-lime-60: hsl(84.3 74.2% 42.1%);
  --s-color-lime-70: hsl(82.8 81.5% 52.6%);
  --s-color-lime-80: hsl(82 89.9% 64%);
  --s-color-lime-90: hsl(80.9 97.9% 76.6%);
  --s-color-lime-95: hsl(77.9 100% 85.8%);
  --s-color-lime-99: hsl(69.5 100% 93.8%);

  /* Green */
  --s-color-green-10: hsl(144.3 53.6% 16%);
  --s-color-green-20: hsl(143.2 55.4% 23.5%);
  --s-color-green-30: hsl(141.5 58.2% 26.3%);
  --s-color-green-40: hsl(140.8 64.2% 31.8%);
  --s-color-green-50: hsl(140.3 68% 39.2%);
  --s-color-green-60: hsl(141.1 64.9% 43%);
  --s-color-green-70: hsl(141.6 72.4% 55.2%);
  --s-color-green-80: hsl(141.7 82.7% 70.1%);
  --s-color-green-90: hsl(141 90.9% 82.1%);
  --s-color-green-95: hsl(142 100% 89.1%);
  --s-color-green-99: hsl(144 100% 95.5%);

  /* Emerald */
  --s-color-emerald-10: hsl(164.3 75% 13.5%);
  --s-color-emerald-20: hsl(163.5 72.6% 20.1%);
  --s-color-emerald-30: hsl(162.1 73.7% 22.4%);
  --s-color-emerald-40: hsl(161.3 77.3% 27.6%);
  --s-color-emerald-50: hsl(159.6 77.1% 34.3%);
  --s-color-emerald-60: hsl(159.1 73.5% 37.9%);
  --s-color-emerald-70: hsl(157.8 66.8% 48.9%);
  --s-color-emerald-80: hsl(156.2 76.1% 63.8%);
  --s-color-emerald-90: hsl(152.4 84.4% 77.4%);
  --s-color-emerald-95: hsl(149.3 100% 87%);
  --s-color-emerald-99: hsl(158.6 100% 94.8%);

  /* Teal */
  --s-color-teal-10: hsl(176.5 51.5% 15.4%);
  --s-color-teal-20: hsl(175.9 54.7% 22.3%);
  --s-color-teal-30: hsl(175.9 60.7% 23.9%);
  --s-color-teal-40: hsl(174.5 67.3% 28.8%);
  --s-color-teal-50: hsl(174.4 71.9% 34.9%);
  --s-color-teal-60: hsl(173.1 71% 38.3%);
  --s-color-teal-70: hsl(172.3 68.2% 48.1%);
  --s-color-teal-80: hsl(170.5 81.3% 61.5%);
  --s-color-teal-90: hsl(168.4 92.1% 75.2%);
  --s-color-teal-95: hsl(168.3 100% 86%);
  --s-color-teal-99: hsl(180 100% 95.5%);

  /* Cyan */
  --s-color-cyan-10: hsl(197.1 53.8% 20.3%);
  --s-color-cyan-20: hsl(196.8 57.3% 27.2%);
  --s-color-cyan-30: hsl(195.3 62.7% 29.4%);
  --s-color-cyan-40: hsl(193.5 71.3% 34.1%);
  --s-color-cyan-50: hsl(192.5 76.8% 40.6%);
  --s-color-cyan-60: hsl(189.4 78.6% 42.6%);
  --s-color-cyan-70: hsl(188.2 89.1% 51.7%);
  --s-color-cyan-80: hsl(187 98.6% 66.2%);
  --s-color-cyan-90: hsl(184.9 100% 78.3%);
  --s-color-cyan-95: hsl(180 100% 86.6%);
  --s-color-cyan-99: hsl(180 100% 94.8%);

  /* Sky */
  --s-color-sky-10: hsl(203 63.8% 20.9%);
  --s-color-sky-20: hsl(203.4 70.4% 28%);
  --s-color-sky-30: hsl(202.7 75.8% 30.8%);
  --s-color-sky-40: hsl(203.1 80.4% 36.1%);
  --s-color-sky-50: hsl(202.1 80.5% 44.3%);
  --s-color-sky-60: hsl(199.7 85.9% 47.7%);
  --s-color-sky-70: hsl(198.7 97.9% 57.2%);
  --s-color-sky-80: hsl(198.7 100% 70.5%);
  --s-color-sky-90: hsl(198.8 100% 82.5%);
  --s-color-sky-95: hsl(198.5 100% 89.9%);
  --s-color-sky-99: hsl(186 100% 95.5%);

  /* Blue */
  --s-color-blue-10: hsl(227.1 49.5% 22.7%);
  --s-color-blue-20: hsl(225.8 58.9% 36.8%);
  --s-color-blue-30: hsl(227.7 64.4% 42.9%);
  --s-color-blue-40: hsl(226.1 72.7% 51.2%);
  --s-color-blue-50: hsl(222.6 86.5% 56.3%);
  --s-color-blue-60: hsl(217.8 95.8% 57.4%);
  --s-color-blue-70: hsl(213.3 100% 65%);
  --s-color-blue-80: hsl(210.9 100% 74.8%);
  --s-color-blue-90: hsl(211.5 100% 83.4%);
  --s-color-blue-95: hsl(211 100% 88.9%);
  --s-color-blue-99: hsl(201.8 100% 95.3%);

  /* Indigo */
  --s-color-indigo-10: hsl(243.5 40.8% 27%);
  --s-color-indigo-20: hsl(242.9 45.7% 37.6%);
  --s-color-indigo-30: hsl(244.7 52.7% 43.1%);
  --s-color-indigo-40: hsl(245.3 60.5% 52.4%);
  --s-color-indigo-50: hsl(244.1 79.2% 60.4%);
  --s-color-indigo-60: hsl(239.6 88.7% 63.8%);
  --s-color-indigo-70: hsl(234.5 96.7% 70.9%);
  --s-color-indigo-80: hsl(229.4 100% 78.3%);
  --s-color-indigo-90: hsl(227.1 100% 85%);
  --s-color-indigo-95: hsl(223.8 100% 89.9%);
  --s-color-indigo-99: hsl(220 100% 95.1%);

  /* Violet */
  --s-color-violet-10: hsl(265.1 57.3% 25.4%);
  --s-color-violet-20: hsl(263.5 63.8% 39.4%);
  --s-color-violet-30: hsl(263.4 66.2% 44.1%);
  --s-color-violet-40: hsl(263.7 72.8% 52.4%);
  --s-color-violet-50: hsl(262.5 87.3% 59.8%);
  --s-color-violet-60: hsl(258.3 95.1% 63.2%);
  --s-color-violet-70: hsl(255.1 100% 67.2%);
  --s-color-violet-80: hsl(253 100% 81.5%);
  --s-color-violet-90: hsl(251.7 100% 87.9%);
  --s-color-violet-95: hsl(254.1 100% 91.7%);
  --s-color-violet-99: hsl(257.1 100% 96.1%);

  /* Purple */
  --s-color-purple-10: hsl(276 54.3% 20.5%);
  --s-color-purple-20: hsl(273.6 61.8% 35.4%);
  --s-color-purple-30: hsl(272.9 64% 41.4%);
  --s-color-purple-40: hsl(271.9 68.1% 49.2%);
  --s-color-purple-50: hsl(271.5 85.1% 57.8%);
  --s-color-purple-60: hsl(270.7 96.4% 62.1%);
  --s-color-purple-70: hsl(270.5 100% 71.9%);
  --s-color-purple-80: hsl(270.9 100% 81.3%);
  --s-color-purple-90: hsl(272.4 100% 87.7%);
  --s-color-purple-95: hsl(276.7 100% 91.5%);
  --s-color-purple-99: hsl(300 100% 96.5%);

  /* Fuchsia */

  --s-color-fuchsia-10: hsl(297.1 51.2% 18.6%);
  --s-color-fuchsia-20: hsl(296.7 59.5% 31.5%);
  --s-color-fuchsia-30: hsl(295.4 65.4% 35.1%);
  --s-color-fuchsia-40: hsl(294.6 67.4% 42.2%);
  --s-color-fuchsia-50: hsl(293.3 68.7% 51.2%);
  --s-color-fuchsia-60: hsl(292.1 88.4% 57.7%);
  --s-color-fuchsia-70: hsl(292 98.5% 59.5%);
  --s-color-fuchsia-80: hsl(292.4 100% 79.5%);
  --s-color-fuchsia-90: hsl(292.9 100% 86.8%);
  --s-color-fuchsia-95: hsl(300 100% 91.5%);
  --s-color-fuchsia-99: hsl(300 100% 96.3%);

  /* Pink */
  --s-color-pink-10: hsl(336.2 59.6% 20%);
  --s-color-pink-20: hsl(336.8 63.9% 34%);
  --s-color-pink-30: hsl(336.8 68.7% 37.6%);
  --s-color-pink-40: hsl(336.1 71.8% 44.5%);
  --s-color-pink-50: hsl(333.9 74.9% 53.1%);
  --s-color-pink-60: hsl(330.7 86.3% 57.7%);
  --s-color-pink-70: hsl(328.6 91.5% 67.2%);
  --s-color-pink-80: hsl(327.4 97.6% 78.7%);
  --s-color-pink-90: hsl(325.1 100% 86.6%);
  --s-color-pink-95: hsl(322.1 100% 91.3%);
  --s-color-pink-99: hsl(315 100% 95.9%);

  /* Rose */
  --s-color-rose-10: hsl(342.3 62.9% 21.5%);
  --s-color-rose-20: hsl(342.8 68.9% 34.2%);
  --s-color-rose-30: hsl(344.8 72.6% 37.3%);
  --s-color-rose-40: hsl(346.9 75.8% 43.7%);
  --s-color-rose-50: hsl(348.2 80.1% 52.7%);
  --s-color-rose-60: hsl(350.4 94.8% 57.5%);
  --s-color-rose-70: hsl(351.2 100% 58.1%);
  --s-color-rose-80: hsl(352.3 100% 78.1%);
  --s-color-rose-90: hsl(352 100% 86.2%);
  --s-color-rose-95: hsl(354.5 100% 90.7%);
  --s-color-rose-99: hsl(353.3 100% 95.7%);

  /* Neutral one-offs */
  --s-color-neutral-0: hsl(0 0% 0%);
  --s-color-neutral-100: hsl(0 0% 100%);

  /* Elements */
  --s-color-bg: hsl(0 0% 0%);
  --s-color-fg: hsl(0 0% 100%);
  --s-color-focus: var(--s-color-primary-80);
  --s-color-surface: var(--s-color-neutral-10);
  --s-color-surface-border: var(--s-color-neutral-30);

  /* Scrollbars */
  --s-scrollbar-thumb: #ffffff40;
  --s-scrollbar-thumb-hover: #ffffff80;
  --s-scrollbar-track: #ffffff1a;

  /*
   * Opacities
   */

  --s-opacity-overlay: 0.5;

  /*
   * Elevations
   */

  --s-shadow-key-0: 0 0 0 hsl(0 0% 0% / 0%);
  --s-shadow-key-1: 0 1px 2px hsl(0 0% 0% / 90%);
  --s-shadow-key-2: 0 1px 2px hsl(0 0% 0% / 90%);
  --s-shadow-key-3: 0 1px 3px hsl(0 0% 0% / 90%);
  --s-shadow-key-4: 0 2px 3px hsl(0 0% 0% / 90%);
  --s-shadow-key-5: 0 4px 4px hsl(0 0% 0% / 90%);

  --s-shadow-ambient-0: 0 0 0 hsl(0 0% 0% / 0%);
  --s-shadow-ambient-1: 0 1px 3px hsl(0 0% 0% / 45%);
  --s-shadow-ambient-2: 0 2px 6px hsl(0 0% 0% / 45%);
  --s-shadow-ambient-3: 0 4px 8px hsl(0 0% 0% / 45%);
  --s-shadow-ambient-4: 0 6px 10px hsl(0 0% 0% / 45%);
  --s-shadow-ambient-5: 0 8px 12px hsl(0 0% 0% / 45%);

  /*
   * Opacities
   */

  --s-opacity-overlay: 0.5;
}

/* _utility.css */
