:root,
.s-theme-light,
.s-theme-dark {
  --s-easing-linear: linear;
  --s-easing-ease: ease;
  --s-easing-ease-in: ease-in;
  --s-easing-ease-out: ease-out;
  --s-easing-ease-in-out: ease-in-out;
  --s-easing-ease-1: cubic-bezier(0.25, 0, 0.5, 1);
  --s-easing-ease-2: cubic-bezier(0.25, 0, 0.4, 1);
  --s-easing-ease-3: cubic-bezier(0.25, 0, 0.3, 1);
  --s-easing-ease-4: cubic-bezier(0.25, 0, 0.2, 1);
  --s-easing-ease-5: cubic-bezier(0.25, 0, 0.1, 1);
  --s-easing-ease-in-1: cubic-bezier(0.25, 0, 1, 1);
  --s-easing-ease-in-2: cubic-bezier(0.5, 0, 1, 1);
  --s-easing-ease-in-3: cubic-bezier(0.7, 0, 1, 1);
  --s-easing-ease-in-4: cubic-bezier(0.9, 0, 1, 1);
  --s-easing-ease-in-5: cubic-bezier(1, 0, 1, 1);
  --s-easing-ease-out-1: cubic-bezier(0, 0, 0.75, 1);
  --s-easing-ease-out-2: cubic-bezier(0, 0, 0.5, 1);
  --s-easing-ease-out-3: cubic-bezier(0, 0, 0.3, 1);
  --s-easing-ease-out-4: cubic-bezier(0, 0, 0.1, 1);
  --s-easing-ease-out-5: cubic-bezier(0, 0, 0, 1);
  --s-easing-ease-in-out-1: cubic-bezier(0.1, 0, 0.9, 1);
  --s-easing-ease-in-out-2: cubic-bezier(0.3, 0, 0.7, 1);
  --s-easing-ease-in-out-3: cubic-bezier(0.5, 0, 0.5, 1);
  --s-easing-ease-in-out-4: cubic-bezier(0.7, 0, 0.3, 1);
  --s-easing-ease-in-out-5: cubic-bezier(0.9, 0, 0.1, 1);
  --s-easing-ease-elastic-1: cubic-bezier(0.5, 0.75, 0.75, 1.25);
  --s-easing-ease-elastic-2: cubic-bezier(0.5, 1, 0.75, 1.25);
  --s-easing-ease-elastic-3: cubic-bezier(0.5, 1.25, 0.75, 1.25);
  --s-easing-ease-elastic-4: cubic-bezier(0.5, 1.5, 0.75, 1.25);
  --s-easing-ease-elastic-5: cubic-bezier(0.5, 1.75, 0.75, 1.25);
  --s-easing-ease-squish-1: cubic-bezier(0.5, -0.1, 0.1, 1.5);
  --s-easing-ease-squish-2: cubic-bezier(0.5, -0.3, 0.1, 1.5);
  --s-easing-ease-squish-3: cubic-bezier(0.5, -0.5, 0.1, 1.5);
  --s-easing-ease-squish-4: cubic-bezier(0.5, -0.7, 0.1, 1.5);
  --s-easing-ease-squish-5: cubic-bezier(0.5, -0.9, 0.1, 1.5);
  --s-easing-ease-step-1: steps(2);
  --s-easing-ease-step-2: steps(3);
  --s-easing-ease-step-3: steps(4);
  --s-easing-ease-step-4: steps(7);
  --s-easing-ease-step-5: steps(10);
}
