/*
 * This file contains utility classes that can't be contained in a component and must be applied to the light DOM. None
 * of the rules in this stylesheet should target component tags or HTML tags, and all classes *must* start with ".s-"
 * to reduce the possibility of collisions.
 */

/*
 * Global Tokens
 */

:host,
.s-theme-dark,
.s-theme-light {
  /* Primary */
  --s-color-primary-10: var(--s-color-sky-10);
  --s-color-primary-20: var(--s-color-sky-20);
  --s-color-primary-30: var(--s-color-sky-30);
  --s-color-primary-40: var(--s-color-sky-40);
  --s-color-primary-50: var(--s-color-sky-50);
  --s-color-primary-60: var(--s-color-sky-60);
  --s-color-primary-70: var(--s-color-sky-70);
  --s-color-primary-80: var(--s-color-sky-80);
  --s-color-primary-90: var(--s-color-sky-90);
  --s-color-primary-95: var(--s-color-sky-95);
  --s-color-primary-99: var(--s-color-sky-99);

  /* Success */
  --s-color-success-10: var(--s-color-green-10);
  --s-color-success-20: var(--s-color-green-20);
  --s-color-success-30: var(--s-color-green-30);
  --s-color-success-40: var(--s-color-green-40);
  --s-color-success-50: var(--s-color-green-50);
  --s-color-success-60: var(--s-color-green-60);
  --s-color-success-70: var(--s-color-green-70);
  --s-color-success-80: var(--s-color-green-80);
  --s-color-success-90: var(--s-color-green-90);
  --s-color-success-95: var(--s-color-green-95);
  --s-color-success-99: var(--s-color-green-99);

  /* Warning */
  --s-color-warning-10: var(--s-color-amber-10);
  --s-color-warning-20: var(--s-color-amber-20);
  --s-color-warning-30: var(--s-color-amber-30);
  --s-color-warning-40: var(--s-color-amber-40);
  --s-color-warning-50: var(--s-color-amber-50);
  --s-color-warning-60: var(--s-color-amber-60);
  --s-color-warning-70: var(--s-color-amber-70);
  --s-color-warning-80: var(--s-color-amber-80);
  --s-color-warning-90: var(--s-color-amber-90);
  --s-color-warning-95: var(--s-color-amber-95);
  --s-color-warning-99: var(--s-color-amber-99);

  /* Danger */
  --s-color-danger-10: var(--s-color-red-10);
  --s-color-danger-20: var(--s-color-red-20);
  --s-color-danger-30: var(--s-color-red-30);
  --s-color-danger-40: var(--s-color-red-40);
  --s-color-danger-50: var(--s-color-red-50);
  --s-color-danger-60: var(--s-color-red-60);
  --s-color-danger-70: var(--s-color-red-70);
  --s-color-danger-80: var(--s-color-red-80);
  --s-color-danger-90: var(--s-color-red-90);
  --s-color-danger-95: var(--s-color-red-95);
  --s-color-danger-99: var(--s-color-red-99);

  /* Neutral */
  --s-color-neutral-10: var(--s-color-gray-10);
  --s-color-neutral-20: var(--s-color-gray-20);
  --s-color-neutral-30: var(--s-color-gray-30);
  --s-color-neutral-40: var(--s-color-gray-40);
  --s-color-neutral-50: var(--s-color-gray-50);
  --s-color-neutral-60: var(--s-color-gray-60);
  --s-color-neutral-70: var(--s-color-gray-70);
  --s-color-neutral-80: var(--s-color-gray-80);
  --s-color-neutral-90: var(--s-color-gray-90);
  --s-color-neutral-95: var(--s-color-gray-95);
  --s-color-neutral-99: var(--s-color-gray-99);

  /*
   * Breakpoints
   */

  --s-breakpoint-xs: 400px;
  --s-breakpoint-sm: 600px;
  --s-breakpoint-md: 960px;
  --s-breakpoint-lg: 1280px;
  --s-breakpoint-xl: 1920px;

  /*
   * Spacings
   */

  --s-spacing-none: 0;
  --s-spacing-xxxs: 2px;
  --s-spacing-xxs: 4px;
  --s-spacing-xs: 8px;
  --s-spacing-sm: 12px;
  --s-spacing-md: 16px;
  --s-spacing-lg: 20px;
  --s-spacing-xl: 28px;
  --s-spacing-xxl: 36px;
  --s-spacing-xxxl: 48px;

  /*
   * Border radii
   */

  --s-border-radius-none: 0;
  --s-border-radius-xs: 0.125rem;
  --s-border-radius-sm: 0.25rem;
  --s-border-radius-md: 0.375rem;
  --s-border-radius-lg: 0.5rem;
  --s-border-radius-xl: 0.75rem;
  --s-border-radius-2xl: 1rem;
  --s-border-radius-3xl: 1.5rem;
  --s-border-radius-full: 9999px;
  --s-border-radius-circle: 50%;

  /*
   * Shapes
   */

  --s-shape-rounded: var(--s-border-radius-md);
  --s-shape-pill: var(--s-border-radius-full);
  --s-shape-circle: var(--s-border-radius-circle);

  /*
   * Transitions
   */

  --s-transition-x-slow: 500ms;
  --s-transition-slow: 400ms;
  --s-transition-md: 250ms;
  --s-transition-fast: 150ms;
  --s-transition-x-fast: 75ms;

  /*
   * Durations
   */

  --s-duration-standard: 300ms;
  --s-duration-standard_accelerate: 200ms;
  --s-duration-standard_decelerate: 250ms;
  --s-duration-emphasized: 500ms;
  --s-duration-emphasized_accelerate: 200ms;
  --s-duration-emphasized_decelerate: 400ms;

  /*
   * Easings
   */
  --s-easing-linear: linear;
  --s-easing-ease: ease;
  --s-easing-ease-in: ease-in;
  --s-easing-ease-out: ease-out;
  --s-easing-ease-in-out: ease-in-out;
  --s-easing-ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --s-easing-ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --s-easing-ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --s-easing-ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --s-easing-ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --s-easing-ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --s-easing-ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --s-easing-ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --s-easing-ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --s-easing-ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --s-easing-ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --s-easing-ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --s-easing-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --s-easing-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --s-easing-ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --s-easing-ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --s-easing-ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --s-easing-ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --s-easing-ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --s-easing-ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --s-easing-ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --s-easing-ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --s-easing-ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --s-easing-ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --s-easing-ease-standard: cubic-bezier(0.2, 0, 0, 1);
  --s-easing-ease-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
  --s-easing-ease-standard-decelerate: cubic-bezier(0, 0, 0, 1);
  --s-easing-ease-emphasized: cubic-bezier(0.3, 0, 0, 1);
  --s-easing-ease-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
  --s-easing-ease-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);

  /*
   * Elevations
   */

  --s-shadow-drop-0: drop-shadow(var(--s-shadow-key-0))
    drop-shadow(var(--s-shadow-ambient-0));
  --s-shadow-drop-1: drop-shadow(var(--s-shadow-key-1))
    drop-shadow(var(--s-shadow-ambient-1));
  --s-shadow-drop-2: drop-shadow(var(--s-shadow-key-2))
    drop-shadow(var(--s-shadow-ambient-2));
  --s-shadow-drop-3: drop-shadow(var(--s-shadow-key-3))
    drop-shadow(var(--s-shadow-ambient-3));
  --s-shadow-drop-4: drop-shadow(var(--s-shadow-key-4))
    drop-shadow(var(--s-shadow-ambient-4));
  --s-shadow-drop-5: drop-shadow(var(--s-shadow-key-5))
    drop-shadow(var(--s-shadow-ambient-5));

  --s-shadow-inset-0: inset var(--s-shadow-key-0),
    inset var(--s-shadow-ambient-0);
  --s-shadow-inset-1: inset var(--s-shadow-key-1),
    inset var(--s-shadow-ambient-1);
  --s-shadow-inset-2: inset var(--s-shadow-key-2),
    inset var(--s-shadow-ambient-2);
  --s-shadow-inset-3: inset var(--s-shadow-key-3),
    inset var(--s-shadow-ambient-3);
  --s-shadow-inset-4: inset var(--s-shadow-key-4),
    inset var(--s-shadow-ambient-4);
  --s-shadow-inset-5: inset var(--s-shadow-key-5),
    inset var(--s-shadow-ambient-5);

  /*
   * Typography
   */

  /* Fonts */
  --s-font-mono: "Courier Prime Sans", "Noto Sans Mono", SFMono-Regular,
    Consolas, "Liberation Mono", Menlo, monospace;
  --s-font-sans: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --s-font-serif: "Noto Serif", "Noto Sans", Georgia, "Times New Roman", serif;

  /* Type Scales */
  --s-text-2xs-font-size: 0.6875rem;
  --s-text-2xs-line-height: 1rem;

  --s-text-xs-font-size: 0.75rem;
  --s-text-xs-line-height: 1rem;

  --s-text-sm-font-size: 0.875rem;
  --s-text-sm-line-height: 1.25rem;

  --s-text-md-font-size: 1rem;
  --s-text-md-line-height: 1.5rem;

  --s-text-lg-font-size: 1.125rem;
  --s-text-lg-line-height: 1.75rem;

  --s-text-xl-font-size: 1.25rem;
  --s-text-xl-line-height: 1.75rem;

  --s-text-2xl-font-size: 1.5rem;
  --s-text-2xl-line-height: 2rem;

  --s-text-3xl-font-size: 1.875rem;
  --s-text-3xl-line-height: 2.25rem;

  --s-text-4xl-font-size: 2.25rem;
  --s-text-4xl-line-height: 2.5rem;

  --s-text-5xl-font-size: 3rem;
  --s-text-5xl-line-height: 1;

  --s-text-6xl-font-size: 3.75rem;
  --s-text-6xl-line-height: 1;

  --s-text-7xl-font-size: 4.5rem;
  --s-text-7xl-line-height: 1;

  --s-text-8xl-font-size: 6rem;
  --s-text-8xl-line-height: 1;

  --s-text-9xl-font-size: 8rem;
  --s-text-9xl-line-height: 1;

  /* Text Leading */
  --s-text-leading-none: 1;
  --s-text-leading-xs: 1.25;
  --s-text-leading-sm: 1.375;
  --s-text-leading-md: 1.5;
  --s-text-leading-lg: 1.625;
  --s-text-leading-xl: 2;

  /* Text Kerning */
  --s-text-kerning-xs: -0.05em;
  --s-text-kerning-sm: -0.025em;
  --s-text-kerning-md: 0em;
  --s-text-kerning-lg: 0.025em;
  --s-text-kerning-xl: 0.05em;
  --s-text-kerning-2xl: 0.1em;

  /*
   * States
   */

  --s-drag-state-layer-opacity: 0.16;
  --s-press-state-layer-opacity: 0.12;
  --s-focus-state-layer-opacity: 0.12;
  --s-hover-state-layer-opacity: 0.08;

  /*
   * Animations
   */

  --s-animation-spin: spin 1s linear infinite;
  --s-animation-ping: ping 1.5s infinite;
  --s-animation-bounce: bounce 1s infinite;
  --s-animation-pulse: pulse 2s ease-in-out 0.5s infinite;
  --s-animation-sheen: sheen 8s ease-in-out infinite;

  /*
   * Scrollbars
   */

  --s-scrollbar-size: 8px;
  --s-scrollbar-thickness: thin;

  /*
   * Elements
   */

  /* Focus rings */
  --s-focus-ring-style: solid;
  --s-focus-ring-width: 3px;
  --s-focus-ring-offset: 1px;
  --s-focus-ring-animation-width: 8px;

  /* Buttons */
  --s-button-font-size-sm: var(--s-font-size-xs);
  --s-button-font-size-md: var(--s-font-size-sm);
  --s-button-font-size-lg: var(--s-font-size-md);

  /* Inputs */
  --s-input-height-sm: 1.875rem; /* 30px */
  --s-input-height-md: 2.5rem; /* 40px */
  --s-input-height-lg: 3.125rem; /* 50px */

  --s-input-background-color: var(--s-color-neutral-0);
  --s-input-background-color-hover: var(--s-input-background-color);
  --s-input-background-color-focus: var(--s-input-background-color);
  --s-input-background-color-disabled: var(--s-color-neutral-20);
  --s-input-border-color: var(--s-color-neutral-40);
  --s-input-border-color-hover: var(--s-color-neutral-50);
  --s-input-border-color-focus: var(--s-color-primary-60);
  --s-input-border-color-disabled: var(--s-color-neutral-40);
  --s-input-border-width: 1px;
  --s-input-required-content: "*";
  --s-input-required-content-offset: -2px;
  --s-input-required-content-color: var(--s-input-label-color);

  --s-input-border-radius-sm: var(--s-border-radius-md);
  --s-input-border-radius-md: var(--s-border-radius-md);
  --s-input-border-radius-lg: var(--s-border-radius-md);

  --s-input-font-family: var(--s-font-sans);
  --s-input-font-weight: normal;
  --s-input-font-size-sm: var(--s-font-size-sm);
  --s-input-font-size-md: var(--s-font-size-md);
  --s-input-font-size-lg: var(--s-font-size-lg);
  --s-input-letter-spacing: var(--s-letter-spacing-md);

  --s-input-color: var(--s-color-neutral-80);
  --s-input-color-hover: var(--s-color-neutral-80);
  --s-input-color-focus: var(--s-color-neutral-80);
  --s-input-color-disabled: var(--s-color-neutral-95);
  --s-input-icon-color: var(--s-color-neutral-60);
  --s-input-icon-color-hover: var(--s-color-neutral-70);
  --s-input-icon-color-focus: var(--s-color-neutral-70);
  --s-input-placeholder-color: var(--s-color-neutral-60);
  --s-input-placeholder-color-disabled: var(--s-color-neutral-70);
  --s-input-spacing-sm: var(--s-spacing-sm);
  --s-input-spacing-md: var(--s-spacing-md);
  --s-input-spacing-lg: var(--s-spacing-lg);

  --s-input-focus-ring-color: hsl(198.6 88.7% 48.4% / 40%);
  --s-input-focus-ring-offset: 0;

  --s-input-filled-background-color: var(--s-color-neutral-20);
  --s-input-filled-background-color-hover: var(--s-color-neutral-20);
  --s-input-filled-background-color-focus: var(--s-color-neutral-20);
  --s-input-filled-background-color-disabled: var(--s-color-neutral-20);
  --s-input-filled-color: var(--s-color-neutral-90);
  --s-input-filled-color-hover: var(--s-color-neutral-90);
  --s-input-filled-color-focus: var(--s-color-neutral-80);
  --s-input-filled-color-disabled: var(--s-color-neutral-90);

  /* Labels */
  --s-input-label-font-size-sm: var(--s-font-size-sm);
  --s-input-label-font-size-md: var(--s-font-size-md);
  --s-input-label-font-size-lg: var(--s-font-size-lg);
  --s-input-label-color: inherit;

  /* Help text */
  --s-input-help-text-font-size-sm: var(--s-font-size-xs);
  --s-input-help-text-font-size-md: var(--s-font-size-sm);
  --s-input-help-text-font-size-lg: var(--s-font-size-md);
  --s-input-help-text-color: var(--s-color-neutral-60);

  /* Toggles (checkboxes, radios, switches) */
  --s-toggle-size-sm: 0.875rem; /* 14px */
  --s-toggle-size-md: 1.125rem; /* 18px */
  --s-toggle-size-lg: 1.375rem; /* 22px */

  /* Tooltips */
  --s-tooltip-border-radius: var(--s-border-radius-md);
  --s-tooltip-background-color: var(--s-color-neutral-10);
  --s-tooltip-color: var(--s-color-neutral-80);
  --s-tooltip-font-family: var(--s-font-sans);
  --s-tooltip-font-weight: normal;
  --s-tooltip-font-size: var(--s-font-size-sm);
  --s-tooltip-line-height: 1.4;
  --s-tooltip-arrow-size: 6px;

  /*
   * Z-indexes
   */

  --s-z-index-drawer: 700;
  --s-z-index-dialog: 800;
  --s-z-index-dropdown: 900;
  --s-z-index-toast: 950;
  --s-z-index-tooltip: 1000;

  /* 
   * Icons 
   */
  --s-icon-x: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>');
  --s-icon-x-lg: url('data:image/svg+xml,  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"><path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/></svg>');
  --s-icon-info-circle: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/></svg>');
  --s-icon-check2-circle: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/><path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/></svg>');
  --s-icon-gear: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">  <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>  <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/></svg>');
  --s-icon-exclamation-triangle: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/><path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/></svg>');
  --s-icon-exclamation-octagon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/><path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/></svg>');
}

.s-scroll-lock {
  padding-right: var(--s-scroll-lock-size) !important;
  overflow: hidden !important;
}
