.s-theme-light {
  color-scheme: light;

  /*
   * Color Primitives
   */

  /* Gray */
  --s-color-gray-10: hsl(0 0% 97.5%);
  --s-color-gray-20: hsl(240 4.8% 95.9%);
  --s-color-gray-30: hsl(240 5.9% 90%);
  --s-color-gray-40: hsl(240 4.9% 83.9%);
  --s-color-gray-50: hsl(240 5% 64.9%);
  --s-color-gray-60: hsl(240 3.8% 46.1%);
  --s-color-gray-70: hsl(240 5.2% 33.9%);
  --s-color-gray-80: hsl(240 5.3% 26.1%);
  --s-color-gray-90: hsl(240 3.7% 15.9%);
  --s-color-gray-95: hsl(240 5.9% 10%);
  --s-color-gray-99: hsl(240 7.3% 8%);

  /* Red */
  --s-color-red-10: hsl(0 85.7% 97.3%);
  --s-color-red-20: hsl(0 93.3% 94.1%);
  --s-color-red-30: hsl(0 96.3% 89.4%);
  --s-color-red-40: hsl(0 93.5% 81.8%);
  --s-color-red-50: hsl(0 90.6% 70.8%);
  --s-color-red-60: hsl(0 84.2% 60.2%);
  --s-color-red-70: hsl(0 72.2% 50.6%);
  --s-color-red-80: hsl(0 73.7% 41.8%);
  --s-color-red-90: hsl(0 70% 35.3%);
  --s-color-red-95: hsl(0 62.8% 30.6%);
  --s-color-red-99: hsl(0 60% 19.6%);

  /* Orange */
  --s-color-orange-10: hsl(33.3 100% 96.5%);
  --s-color-orange-20: hsl(34.3 100% 91.8%);
  --s-color-orange-30: hsl(32.1 97.7% 83.1%);
  --s-color-orange-40: hsl(30.7 97.2% 72.4%);
  --s-color-orange-50: hsl(27 96% 61%);
  --s-color-orange-60: hsl(24.6 95% 53.1%);
  --s-color-orange-70: hsl(20.5 90.2% 48.2%);
  --s-color-orange-80: hsl(17.5 88.3% 40.4%);
  --s-color-orange-90: hsl(15 79.1% 33.7%);
  --s-color-orange-95: hsl(15.3 74.6% 27.8%);
  --s-color-orange-99: hsl(15.2 69.1% 19%);

  /* Amber */
  --s-color-amber-10: hsl(48 100% 96.1%);
  --s-color-amber-20: hsl(48 96.5% 88.8%);
  --s-color-amber-30: hsl(48 96.6% 76.7%);
  --s-color-amber-40: hsl(45.9 96.7% 64.5%);
  --s-color-amber-50: hsl(43.3 96.4% 56.3%);
  --s-color-amber-60: hsl(37.7 92.1% 50.2%);
  --s-color-amber-70: hsl(32.1 94.6% 43.7%);
  --s-color-amber-80: hsl(26 90.5% 37.1%);
  --s-color-amber-90: hsl(22.7 82.5% 31.4%);
  --s-color-amber-95: hsl(21.7 77.8% 26.5%);
  --s-color-amber-99: hsl(22.9 74.1% 16.7%);

  /* Yellow */
  --s-color-yellow-10: hsl(54.5 91.7% 95.3%);
  --s-color-yellow-20: hsl(54.9 96.7% 88%);
  --s-color-yellow-30: hsl(52.8 98.3% 76.9%);
  --s-color-yellow-40: hsl(50.4 97.8% 63.5%);
  --s-color-yellow-50: hsl(47.9 95.8% 53.1%);
  --s-color-yellow-60: hsl(45.4 93.4% 47.5%);
  --s-color-yellow-70: hsl(40.6 96.1% 40.4%);
  --s-color-yellow-80: hsl(35.5 91.7% 32.9%);
  --s-color-yellow-90: hsl(31.8 81% 28.8%);
  --s-color-yellow-95: hsl(28.4 72.5% 25.7%);
  --s-color-yellow-99: hsl(33.1 69% 13.9%);

  /* Lime */
  --s-color-lime-10: hsl(78.3 92% 95.1%);
  --s-color-lime-20: hsl(79.6 89.1% 89.2%);
  --s-color-lime-30: hsl(80.9 88.5% 79.6%);
  --s-color-lime-40: hsl(82 84.5% 67.1%);
  --s-color-lime-50: hsl(82.7 78% 55.5%);
  --s-color-lime-60: hsl(83.7 80.5% 44.3%);
  --s-color-lime-70: hsl(84.8 85.2% 34.5%);
  --s-color-lime-80: hsl(85.9 78.4% 27.3%);
  --s-color-lime-90: hsl(86.3 69% 22.7%);
  --s-color-lime-95: hsl(87.6 61.2% 20.2%);
  --s-color-lime-99: hsl(86.5 60.6% 13.9%);

  /* Green */
  --s-color-green-10: hsl(138.5 76.5% 96.7%);
  --s-color-green-20: hsl(140.6 84.2% 92.5%);
  --s-color-green-30: hsl(141 78.9% 85.1%);
  --s-color-green-40: hsl(141.7 76.6% 73.1%);
  --s-color-green-50: hsl(141.9 69.2% 58%);
  --s-color-green-60: hsl(142.1 70.6% 45.3%);
  --s-color-green-70: hsl(142.1 76.2% 36.3%);
  --s-color-green-80: hsl(142.4 71.8% 29.2%);
  --s-color-green-90: hsl(142.8 64.2% 24.1%);
  --s-color-green-95: hsl(143.8 61.2% 20.2%);
  --s-color-green-99: hsl(144.3 60.7% 12%);

  /* Emerald */
  --s-color-emerald-10: hsl(151.8 81% 95.9%);
  --s-color-emerald-20: hsl(149.3 80.4% 90%);
  --s-color-emerald-30: hsl(152.4 76% 80.4%);
  --s-color-emerald-40: hsl(156.2 71.6% 66.9%);
  --s-color-emerald-50: hsl(158.1 64.4% 51.6%);
  --s-color-emerald-60: hsl(160.1 84.1% 39.4%);
  --s-color-emerald-70: hsl(161.4 93.5% 30.4%);
  --s-color-emerald-80: hsl(162.9 93.5% 24.3%);
  --s-color-emerald-90: hsl(163.1 88.1% 19.8%);
  --s-color-emerald-95: hsl(164.2 85.7% 16.5%);
  --s-color-emerald-99: hsl(164.3 87.5% 9.4%);

  /* Teal */
  --s-color-teal-10: hsl(166.2 76.5% 96.7%);
  --s-color-teal-20: hsl(167.2 85.5% 89.2%);
  --s-color-teal-30: hsl(168.4 83.8% 78.2%);
  --s-color-teal-40: hsl(170.6 76.9% 64.3%);
  --s-color-teal-50: hsl(172.5 66% 50.4%);
  --s-color-teal-60: hsl(173.4 80.4% 40%);
  --s-color-teal-70: hsl(174.7 83.9% 31.6%);
  --s-color-teal-80: hsl(175.3 77.4% 26.1%);
  --s-color-teal-90: hsl(176.1 69.4% 21.8%);
  --s-color-teal-95: hsl(175.9 60.8% 19%);
  --s-color-teal-99: hsl(176.5 58.6% 11.4%);

  /* Cyan */
  --s-color-cyan-10: hsl(183.2 100% 96.3%);
  --s-color-cyan-20: hsl(185.1 95.9% 90.4%);
  --s-color-cyan-30: hsl(186.2 93.5% 81.8%);
  --s-color-cyan-40: hsl(187 92.4% 69%);
  --s-color-cyan-50: hsl(187.9 85.7% 53.3%);
  --s-color-cyan-60: hsl(188.7 94.5% 42.7%);
  --s-color-cyan-70: hsl(191.6 91.4% 36.5%);
  --s-color-cyan-80: hsl(192.9 82.3% 31%);
  --s-color-cyan-90: hsl(194.4 69.6% 27.1%);
  --s-color-cyan-95: hsl(196.4 63.6% 23.7%);
  --s-color-cyan-99: hsl(196.8 61% 16.1%);

  /* Sky */
  --s-color-sky-10: hsl(204 100% 97.1%);
  --s-color-sky-20: hsl(204 93.8% 93.7%);
  --s-color-sky-30: hsl(200.6 94.4% 86.1%);
  --s-color-sky-40: hsl(199.4 95.5% 73.9%);
  --s-color-sky-50: hsl(198.4 93.2% 59.6%);
  --s-color-sky-60: hsl(198.6 88.7% 48.4%);
  --s-color-sky-70: hsl(200.4 98% 39.4%);
  --s-color-sky-80: hsl(201.3 96.3% 32.2%);
  --s-color-sky-90: hsl(201 90% 27.5%);
  --s-color-sky-95: hsl(202 80.3% 23.9%);
  --s-color-sky-99: hsl(202.3 73.8% 16.5%);

  /* Blue */
  --s-color-blue-10: hsl(213.8 100% 96.9%);
  --s-color-blue-20: hsl(214.3 94.6% 92.7%);
  --s-color-blue-30: hsl(213.3 96.9% 87.3%);
  --s-color-blue-40: hsl(211.7 96.4% 78.4%);
  --s-color-blue-50: hsl(213.1 93.9% 67.8%);
  --s-color-blue-60: hsl(217.2 91.2% 59.8%);
  --s-color-blue-70: hsl(221.2 83.2% 53.3%);
  --s-color-blue-80: hsl(224.3 76.3% 48%);
  --s-color-blue-90: hsl(225.9 70.7% 40.2%);
  --s-color-blue-95: hsl(224.4 64.3% 32.9%);
  --s-color-blue-99: hsl(226.2 55.3% 18.4%);

  /* Indigo */
  --s-color-indigo-10: hsl(225.9 100% 96.7%);
  --s-color-indigo-20: hsl(226.5 100% 93.9%);
  --s-color-indigo-30: hsl(228 96.5% 88.8%);
  --s-color-indigo-40: hsl(229.7 93.5% 81.8%);
  --s-color-indigo-50: hsl(234.5 89.5% 73.9%);
  --s-color-indigo-60: hsl(238.7 83.5% 66.7%);
  --s-color-indigo-70: hsl(243.4 75.4% 58.6%);
  --s-color-indigo-80: hsl(244.5 57.9% 50.6%);
  --s-color-indigo-90: hsl(243.7 54.5% 41.4%);
  --s-color-indigo-95: hsl(242.2 47.4% 34.3%);
  --s-color-indigo-99: hsl(243.5 43.6% 22.9%);

  /* Violet */
  --s-color-violet-10: hsl(250 100% 97.6%);
  --s-color-violet-20: hsl(251.4 91.3% 95.5%);
  --s-color-violet-30: hsl(250.5 95.2% 91.8%);
  --s-color-violet-40: hsl(252.5 94.7% 85.1%);
  --s-color-violet-50: hsl(255.1 91.7% 76.3%);
  --s-color-violet-60: hsl(258.3 89.5% 66.3%);
  --s-color-violet-70: hsl(262.1 83.3% 57.8%);
  --s-color-violet-80: hsl(263.4 70% 50.4%);
  --s-color-violet-90: hsl(263.4 69.3% 42.2%);
  --s-color-violet-95: hsl(263.5 67.4% 34.9%);
  --s-color-violet-99: hsl(265.1 61.5% 21.4%);

  /* Purple */
  --s-color-purple-10: hsl(270 100% 98%);
  --s-color-purple-20: hsl(268.7 100% 95.5%);
  --s-color-purple-30: hsl(268.6 100% 91.8%);
  --s-color-purple-40: hsl(269.2 97.4% 85.1%);
  --s-color-purple-50: hsl(270 95.2% 75.3%);
  --s-color-purple-60: hsl(270.7 91% 65.1%);
  --s-color-purple-70: hsl(271.5 81.3% 55.9%);
  --s-color-purple-80: hsl(272.1 71.7% 47.1%);
  --s-color-purple-90: hsl(272.9 67.2% 39.4%);
  --s-color-purple-95: hsl(273.6 65.6% 32%);
  --s-color-purple-99: hsl(276 59.5% 16.5%);

  /* Fuchsia */
  --s-color-fuchsia-10: hsl(289.1 100% 97.8%);
  --s-color-fuchsia-20: hsl(287 100% 95.5%);
  --s-color-fuchsia-30: hsl(288.3 95.8% 90.6%);
  --s-color-fuchsia-40: hsl(291.1 93.1% 82.9%);
  --s-color-fuchsia-50: hsl(292 91.4% 72.5%);
  --s-color-fuchsia-60: hsl(292.2 84.1% 60.6%);
  --s-color-fuchsia-70: hsl(293.4 69.5% 48.8%);
  --s-color-fuchsia-80: hsl(294.7 72.4% 39.8%);
  --s-color-fuchsia-90: hsl(295.4 70.2% 32.9%);
  --s-color-fuchsia-95: hsl(296.7 63.6% 28%);
  --s-color-fuchsia-99: hsl(297.1 56.8% 14.5%);

  /* Pink */
  --s-color-pink-10: hsl(327.3 73.3% 97.1%);
  --s-color-pink-20: hsl(325.7 77.8% 94.7%);
  --s-color-pink-30: hsl(325.9 84.6% 89.8%);
  --s-color-pink-40: hsl(327.4 87.1% 81.8%);
  --s-color-pink-50: hsl(328.6 85.5% 70.2%);
  --s-color-pink-60: hsl(330.4 81.2% 60.4%);
  --s-color-pink-70: hsl(333.3 71.4% 50.6%);
  --s-color-pink-80: hsl(335.1 77.6% 42%);
  --s-color-pink-90: hsl(335.8 74.4% 35.3%);
  --s-color-pink-95: hsl(335.9 69% 30.4%);
  --s-color-pink-99: hsl(336.2 65.4% 15.9%);

  /* Rose */
  --s-color-rose-10: hsl(355.7 100% 97.3%);
  --s-color-rose-20: hsl(355.6 100% 94.7%);
  --s-color-rose-30: hsl(352.7 96.1% 90%);
  --s-color-rose-40: hsl(352.6 95.7% 81.8%);
  --s-color-rose-50: hsl(351.3 94.5% 71.4%);
  --s-color-rose-60: hsl(349.7 89.2% 60.2%);
  --s-color-rose-70: hsl(346.8 77.2% 49.8%);
  --s-color-rose-80: hsl(345.3 82.7% 40.8%);
  --s-color-rose-90: hsl(343.4 79.7% 34.7%);
  --s-color-rose-95: hsl(341.5 75.5% 30.4%);
  --s-color-rose-99: hsl(341.3 70.1% 17.1%);

  /* Neutral one-offs */
  --s-color-neutral-0: hsl(0 0% 100%);
  --s-color-neutral-100: hsl(0 0% 0%);

  /* Elements */
  --s-color-bg: hsl(0 0% 100%);
  --s-color-fg: hsl(0 0% 0%);
  --s-color-divider: hsl(0 0% 0% / 13%);
  --s-color-focus: var(--s-color-primary-70);
  --s-color-surface: var(--s-color-neutral-10);
  --s-color-surface-border: var(--s-color-neutral-30);

  /* Scrollbars */
  --s-color-scrollbar-thumb: #00000040;
  --s-color-scrollbar-thumb-hover: #00000080;
  --s-color-scrollbar-track: #0000001a;

  /*
   * Opacities
   */

  --s-opacity-overlay: 0.25;
}
