:host {
  display: contents;
}
:host {
  --overflow-x: clip;
  --overflow-y: clip;
}

.collapsible {
  display: flex;
  overflow-x: var(--overflow-x);
  overflow-y: var(--overflow-y);
}

.collapsible * {
  filter: none;
}
