@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@source ".";

@theme {
  /* Core Inspector Palette (Matches deep navy/slate tones) */
  --color-engine-50: hsl(210.6, 20%, 96%);
  --color-engine-100: hsl(210.6, 22%, 90%);
  --color-engine-200: hsl(210.6, 24%, 80%);
  --color-engine-300: hsl(210.6, 25%, 70%);
  --color-engine-400: hsl(210.6, 25%, 60%);
  --color-engine-500: hsl(211, 26%, 48%);
  --color-engine-600: hsl(210.7, 35%, 41%);
  --color-engine-700: hsl(210.8, 44.9%, 34.9%);
  --color-engine-800: hsl(210.7, 89.1%, 18%);
  --color-engine-900: hsl(210.6, 100%, 10%);
  --color-engine-950: hsl(210.6, 100%, 7%);
}
