:host {
  display: contents;
  --_indicator-color: var(--theme-color-primary-60);
  --_child-layout: column;
  --_position: relative;
  --_duration: 150ms;
  --_indicator-width: 2px;
  --_ease: cubic-bezier(0.4, 0, 0.2, 1);
}

:host([indicator="none"]) > .root {
  --_indicator-width: 0 !important;
}

:host > .root {
  display: flex;
  flex-direction: var(--_child-layout);
  position: var(--_position);
}
:host([vertical]) > .root {
  flex-direction: row;
}

:host > .root > .nav {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-x: visible;
  overflow-y: visible;
  /* Hide scrollbar in Firefox */
  scrollbar-width: none;
  max-height: 100%;
}
:host > .root > .nav::-webkit-scrollbar {
  /* Hide scrollbar in chrome/safari */
  width: 0;
  height: 0;
}
:host([indicator="before"]) > .root > .nav {
  order: 1;
}
:host([vertical]) > .root > .nav {
  flex-direction: column;
}

:host > .root > .indicator {
  position: relative;
  background-color: var(--_indicator-color);
  transition-property: transform;
  transition-duration: var(--_duration);
  transition-timing-function: var(--_ease);
  will-change: transform;
}
:host(:not([vertical])) > .root > .indicator {
  bottom: var(--_indicator-width);
  transform-origin: left;
  height: var(--_indicator-width);
  width: 1px;
}
:host([vertical]) > .root > .indicator {
  right: var(--_indicator-width);
  transform-origin: top;
  height: 1px;
  width: var(--_indicator-width);
}
