:host {
  display: contents;
}
:host {
  --width-max: 20rem;
  --hide-delay: 0ms;
  --show-delay: 75ms;
  --interactable: none;
  --width: max-content;
  --z: var(--s-z-index-tooltip);
  --background-color: var(--s-tooltip-background-color);
  --text-font: var(--s-tooltip-font-family);
  --text-size: var(--s-tooltip-font-size);
  --text-weight: var(--s-tooltip-font-weight);
  --text-leading: var(--s-tooltip-line-height);
  --text-color: var(--s-tooltip-color);
  --corner: var(--s-tooltip-border-radius);
  --padding-tb: 4px;
  --padding-lr: 8px;
  --arrow-size: var(--s-tooltip-arrow-size);
  --arrow-color: var(--s-tooltip-background-color);
}

:host > .root > .anchor {
  display: flex;
}

:host > .root > .body {
  pointer-events: var(--interactable);
  width: var(--width);
  max-width: var(--width-max);
  background-color: var(--background-color);
  font-family: var(--text-font);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  line-height: var(--text-leading);
  color: var(--text-color);
  border-radius: var(--corner);
  padding-block: var(--padding-tb);
  padding-inline: var(--padding-lr);
}

:host > .root::part(popup) {
  pointer-events: none;
  z-index: var(--z);
}

:host([placement^="top"]) > .root::part(popup) {
  transform-origin: bottom;
}

:host([placement^="bottom"]) > .root::part(popup) {
  transform-origin: top;
}

:host([placement^="left"]) > .root::part(popup) {
  transform-origin: right;
}

:host([placement^="right"]) > .root::part(popup) {
  transform-origin: left;
}
