:host {
  display: contents;
  ---position: absolute;
  ---overflow-x: clip;
  ---overflow-y: clip;
  ---padding-tb: 8px;
  ---padding-lr: 0;
  ---width-max: 20rem;
  ---interactable: auto;
  ---width: max-content;
  ---z: var(---theme_z-index-tooltip);
  ---background-color: var(---theme_tooltip-background-color);
  ---text-font: var(---theme_tooltip-font-family);
  ---text-size: var(---theme_tooltip-font-size);
  ---text-weight: var(---theme_tooltip-font-weight);
  ---text-leading: var(---theme_tooltip-line-height);
  ---text-color: var(---theme_tooltip-color);
  ---corner: var(---theme_tooltip-border-radius);
  ---shadow: var(---theme_shadow-box-2);
  ---enter: var(---theme_animation-open);
  ---exit: var(---theme_animation-close);
  ---ease: ease-out;
}

:host > .root {
  display: contents;
  pointer-events: var(---interactable);
}

:host > .popup {
  display: flex;
  position: fixed;
  pointer-events: var(---interactable);
  z-index: var(---z);
  overflow-x: var(---overflow-x);
  overflow-y: var(---overflow-y);
  width: var(---width);
  max-width: var(---width-max);
  padding-block: var(---padding-tb);
  padding-inline: var(---padding-lr);
  background-color: var(---background-color);
  font-family: var(---text-font);
  font-size: var(---text-size);
  font-weight: var(---text-weight);
  line-height: var(---text-leading);
  color: var(---text-color);
  border-radius: var(---corner);
  max-width: var(---auto-size-available-width, none);
  max-height: var(---auto-size-available-height, none);
  box-shadow: var(---shadow);
  will-change: transform, opacity;
}

:host([open]) > .popup[anchored] {
  animation: var(---enter) forwards;
  animation-timing-function: var(---ease);
}
:host(:not([open])) > .popup[anchored] {
  animation: var(---exit) forwards;
  animation-timing-function: var(---ease);
}

:host > .popup::backdrop {
  background-color: transparent;
}

:host > dialog:modal {
  margin: 0;
}

:host([placement^="top"]) > .popup {
  transform-origin: bottom;
}

:host([placement^="bottom"]) > .popup {
  transform-origin: top;
}

:host([placement^="left"]) > .popup {
  transform-origin: right;
}

:host([placement^="right"]) > .popup {
  transform-origin: left;
}
