:host {
  display: contents;
  --_position: absolute;
  --_overflow-x: clip;
  --_overflow-y: clip;
  --_padding-tb: 8px;
  --_padding-lr: 0;
  --_width-max: 20rem;
  --_interactable: auto;
  --_width: max-content;
  --_z: var(--theme-z-index-tooltip);
  --_background-color: var(--theme-tooltip-background-color);
  --_text-font: var(--theme-tooltip-font-family);
  --_text-size: var(--theme-tooltip-font-size);
  --_text-weight: var(--theme-tooltip-font-weight);
  --_text-leading: var(--theme-tooltip-line-height);
  --_text-color: var(--theme-tooltip-color);
  --_corner: var(--theme-tooltip-border-radius);
  --_shadow: var(--theme-shadow-box-2);
  --_enter: var(--theme-animation-open);
  --_exit: var(--theme-animation-close);
  --_ease: ease-out;
}

:host > .root {
  display: contents;
  pointer-events: var(--_interactable);
}

:host > .popup {
  display: flex;
  position: fixed;
  pointer-events: var(--_interactable);
  z-index: var(--_z);
  overflow-x: var(--_overflow-x);
  overflow-y: var(--_overflow-y);
  width: var(--_width);
  max-width: var(--_width-max);
  padding-block: var(--_padding-tb);
  padding-inline: var(--_padding-lr);
  background-color: var(--_background-color);
  font-family: var(--_text-font);
  font-size: var(--_text-size);
  font-weight: var(--_text-weight);
  line-height: var(--_text-leading);
  color: var(--_text-color);
  border-radius: var(--_corner);
  max-width: var(--_auto-size-available-width, none);
  max-height: var(--_auto-size-available-height, none);
  box-shadow: var(--_shadow);
  will-change: transform, opacity;
}

:host([open]) > .popup[anchored] {
  animation: var(--_enter) forwards;
  animation-timing-function: var(--_ease);
}
:host(:not([open])) > .popup[anchored] {
  animation: var(--_exit) forwards;
  animation-timing-function: var(--_ease);
}

:host > .popup::backdrop {
  background-color: transparent;
}

:host > dialog:modal {
  margin: 0;
}

:host([placement^="top"]) > .popup {
  transform-origin: bottom;
}

:host([placement^="bottom"]) > .popup {
  transform-origin: top;
}

:host([placement^="left"]) > .popup {
  transform-origin: right;
}

:host([placement^="right"]) > .popup {
  transform-origin: left;
}
