<s-box bg-color="panel" position="sticky-top">
  <s-scroll-blocker></s-scroll-blocker>
  <s-box bg-color="panel" position="absolute" i="0 0 0 0" height="100vh" translate-y="-100%"></s-box>
  <s-box height="header-nav"></s-box>
  <s-box height="panel-nav" child-layout="row">
    <s-button width="56" height="56" key="close-file-editor" color="fg-50" variant="icon" text-size="20"
      icon="arrow-left" value="list"></s-button>
    <s-box position="relative" p="8 16" text-size="lg" child-layout="row" child-align="center" child-justify="center"
      text-align="center" grow>
      <s-box position="absolute" text-overflow="ellipsis">
        <slot></slot>
      </s-box>
    </s-box>
    <s-box width="56"></s-box>
  </s-box>
</s-box>