<s-box bg-color="panel" position="sticky-top">
  <se-header-navigation-placeholder></se-header-navigation-placeholder>
  <s-box height="panel-nav" child-layout="row">
    <s-button aria-label="Back" variant="icon" width="56" height="56" key="close-file-editor" color="fg-50"
      text-size="20" icon="arrow-left" value="list"></s-button>
    <s-box position="relative" p="8 16" text-size="lg" child-layout="row" child-align="center" child-justify="center"
      text-align="center" grow>
      <s-box position="absolute" text-overflow="ellipsis">
        <slot></slot>
      </s-box>
    </s-box>
    <s-box width="56"></s-box>
  </s-box>
</s-box>