spark-web-player {
  display: contents;
}

spark-web-player * {
  pointer-events: none;
  touch-action: none;
}

spark-web-player > .root {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

spark-web-player > .root > .wrapper {
  position: absolute;
  inset: 0;
  color: black;
}

#spark-background {
  position: absolute;
  inset: 0;
  background-color: black;
}

#spark-overlay {
  position: absolute;
  inset: 0;
}

#spark-root {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
}

#spark-game {
  position: absolute;
  inset: 0;
}

#spark-game * {
  pointer-events: auto;
}
