:host {
  display: contents;
}
:host {
  --interactable: auto;
  --selectable: none;
  --child-layout: column;
  --child-align: center;
  --child-justify: center;
  --position: relative;
  --expand: 1;
  --text-font: var(--s-font-sans);
  --text-size: var(--s-text-sm-font-size);
  --text-weight: 600;
  --text-wrap: nowrap;
  --transition: opacity, transform, filter, color;
  --duration: 100ms;
  --color: var(--s-color-primary-70);
  --text-color: var(--s-color-neutral-70);
  --hover-color: var(--s-color-neutral-90);
  --border-width: 0;
  --padding: 0;
  --padding-tb: 16px;
  --padding-lr: 20px;
  --padding-t: var(--padding-tb);
  --padding-b: var(--padding-tb);
  --padding-l: var(--padding-lr);
  --padding-r: var(--padding-lr);
}

.root {
  cursor: pointer;
  pointer-events: var(--interactable);
  user-select: var(--selectable);
  display: flex;
  flex-direction: var(--child-layout);
  align-items: var(--child-align);
  justify-content: var(--child-justify);
  position: var(--position);
  flex: var(--expand);
  font-family: var(--text-font);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  color: var(--text-color);
  background-color: transparent;
  border-width: var(--border-width);
  white-space: var(--text-wrap);
  transition-property: var(--transition);
  transition-duration: var(--duration);
  padding-top: var(--padding-t, var(--padding-tb, var(--padding)));
  padding-right: var(--padding-r, var(--padding-lr, var(--padding)));
  padding-bottom: var(--padding-b, var(--padding-tb, var(--padding)));
  padding-left: var(--padding-l, var(--padding-lr, var(--padding)));
}

:host([disabled]) .root {
  cursor: default;
  opacity: 0.5;
}

@media (hover: hover) and (pointer: fine) {
  :host(:not([disabled])) .root:hover {
    color: var(--hover-color);
  }
}

:host([active]:not([disabled])) .root {
  color: var(--color);
}

.icon,
.label {
  display: flex;
  align-items: var(--child-align);
  justify-content: var(--child-justify);
  transition-duration: var(--duration);
}

:host([icon]) .label,
:host([spacing]) .label {
  padding-top: var(--spacing, 6px);
}

:host([icon]) .label {
  transform: translateY(0) scale(0.8);
}
:host([icon][active]:not([disabled])) .label {
  transform: translateY(-2px) scale(0.95);
}

:host([icon]) .icon {
  transform: translateY(0);
}
:host([icon][active]:not([disabled])) .icon {
  transform: translateY(-2px);
}

.icon {
  display: none;
}
:host([icon]) .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25em;
  height: 1.25em;
  -webkit-mask-image: var(--icon, none);
  mask-image: var(--icon, none);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: currentColor;
}
