:host {
  display: contents;
}
:host {
  --spacing: 6px;
  --interactable: auto;
  --selectable: none;
  --child-layout: column;
  --child-align: center;
  --child-justify: center;
  --position: relative;
  --grow: 1;
  --shrink: 0;
  --text-font: var(--s-font-sans);
  --text-size: var(--s-text-sm-font-size);
  --text-weight: 600;
  --text-wrap: nowrap;
  --transition-property: opacity, transform, filter;
  --duration: 100ms;
  --color: var(--s-color-primary-60);
  --text-color: var(--s-color-neutral-60);
  --hover-color: var(--s-color-neutral-90);
  --padding-tb: 16px;
  --padding-lr: 20px;
  --icon-size: 20px;
}

:host(:not([child-layout="row"])) {
  --gap: 4px;
}
:host([child-layout="row"]) {
  --gap: 8px;
}

:host > .root {
  cursor: pointer;
  pointer-events: var(--interactable);
  user-select: var(--selectable);
  display: flex;
  flex-direction: var(--child-layout);
  align-items: var(--child-align);
  justify-content: var(--child-justify);
  position: var(--position);
  flex-grow: var(--grow);
  flex-shrink: var(--shrink);
  font-family: var(--text-font);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  color: var(--text-color);
  background-color: transparent;
  white-space: var(--text-wrap);
  transition-property: var(--transition-property);
  transition-duration: var(--duration);
  padding-block: var(--padding-tb);
  padding-inline: var(--padding-lr);
  gap: var(--gap);
  will-change: transform;
}
:host([disabled]) > .root {
  cursor: default;
  opacity: 0.5;
}
:host([active]:not([disabled])) > .root {
  color: var(--color);
}

:host([active]:not([disabled], [state="activating"], [state="deactivating"]))
  > .root::after {
  content: "";
  position: absolute;
  inset: 0;
  border-style: solid;
  border-width: 0 0 var(--indicator-width) 0;
  border-color: white;
  pointer-events: none;
}

:host > .root > .icon,
:host > .root > .label {
  display: flex;
  align-items: var(--child-align);
  justify-content: var(--child-justify);
  transition-duration: var(--duration);
}

:host([icon]) > .root > .label {
  line-height: 1;
}
:host(:not([child-layout="row"])[icon]) > .root > .label {
  transform: translateY(0) scale(0.8);
}
:host(:not([child-layout="row"])[icon][active]:not([disabled]))
  > .root
  > .label {
  transform: scale(0.9);
}

:host > .root > .icon {
  display: none;
}
:host([icon]) > .root > .icon {
  display: flex;
  line-height: 1;
}
:host([icon][active]:not([disabled])) > .root > .icon > * {
  --icon: var(--active-icon) !important;
}
:host(:not([child-layout="row"])[icon]) > .root > .icon {
  font-size: var(--icon-size);
  transform: translateY(0);
}
:host(:not([child-layout="row"])[icon][active]:not([disabled]))
  > .root
  > .icon {
  transform: translateY(-1px);
}

:host > .root::before {
  outline-offset: calc(-2 * var(--s-focus-ring-width));
}
:host > .root.focused::before {
  outline-offset: calc(-2 * var(--s-focus-ring-width));
}
:host > .root.focused.pressed::before {
  outline-offset: calc((-2 * var(--s-focus-ring-width)) + 1px);
}

:host > .root > .ripple {
  border-radius: inherit;
  position: absolute;
  inset: 0;
}
:host([disabled]) > .root > .ripple {
  display: none;
}
