:host {
  display: contents;
}
:host {
  --spacing: 6px;
  --interactable: auto;
  --selectable: none;
  --child-layout: column;
  --child-align: center;
  --child-justify: center;
  --position: relative;
  --grow: 1;
  --shrink: 0;
  --text-font: var(--s-font-sans);
  --text-size: var(--s-text-sm-font-size);
  --text-weight: 600;
  --text-wrap: nowrap;
  --transition-property: opacity, transform, filter, color;
  --duration: 100ms;
  --color: var(--s-color-primary-70);
  --text-color: var(--s-color-neutral-70);
  --hover-color: var(--s-color-neutral-90);
  --padding-tb: 16px;
  --padding-lr: 20px;
  --icon-size: 24px;
}

.root {
  cursor: pointer;
  pointer-events: var(--interactable);
  user-select: var(--selectable);
  display: flex;
  flex-direction: var(--child-layout);
  align-items: var(--child-align);
  justify-content: var(--child-justify);
  position: var(--position);
  flex-grow: var(--grow);
  flex-shrink: var(--shrink);
  font-family: var(--text-font);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  color: var(--text-color);
  background-color: transparent;
  white-space: var(--text-wrap);
  transition-property: var(--transition-property);
  transition-duration: var(--duration);
  padding-block-start: var(--padding-block-start);
  padding-block-end: var(--padding-block-end);
  padding-inline-start: var(--padding-inline-start);
  padding-inline-end: var(--padding-inline-end);
}
:host([disabled]) .root {
  cursor: default;
  opacity: 0.5;
}
@media (hover: hover) and (pointer: fine) {
  :host(:not([disabled])) .root:hover {
    color: var(--hover-color);
  }
}
:host([active]:not([disabled])) .root {
  color: var(--color);
}

.icon,
.label {
  display: flex;
  align-items: var(--child-align);
  justify-content: var(--child-justify);
  transition-duration: var(--duration);
}

:host([icon]) .label {
  margin-top: var(--spacing);
  line-height: 1;
  transform: translateY(0) scale(0.8);
}
:host([icon][active]:not([disabled])) .label {
  transform: translateY(-2px) scale(0.95);
}

.icon {
  margin-top: 4px;
  line-height: 1;
  font-size: var(--icon-size);
  transform: translateY(0);
}
:host([icon][active]:not([disabled])) .icon {
  transform: translateY(-2px);
}

button::before {
  outline-offset: calc(-2 * var(--s-focus-ring-width));
}
button.focused::before {
  outline-offset: calc(-1 * var(--s-focus-ring-width));
}
button.focused.pressed::before {
  outline-offset: calc((-2 * var(--s-focus-ring-width)) + 1px);
}
