:host {
  display: contents;
}
:host {
  --value: 0;
  --size: 1em;
  --background-color: var(--s-color-neutral-30);
  --color: var(--s-color-primary-70);
  --position: relative;
  --child-justify: center;
  --child-align: center;
  --track-width: 2px;
  --indicator-width: var(--track-width);
  --duration: 0.35s;
  --speed: 2;
  --text-font: var(--s-font-sans);
  --text-size: var(--s-text-xs-font-size);
  --text-leading: var(--s-text-xs-line-height);
  --width-min: var(--size);
  --height-min: var(--size);
  --width: var(--size);
  --height: var(--size);
  --radius: calc(var(--width) / 2);
  --circumference: calc(var(--width) * 3.141592654);
}

:host > .root {
  position: var(--position);
  min-width: var(--width-min);
  min-height: var(--height-min);
  width: var(--width);
  height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

:host > .root > .label {
  display: flex;
  justify-content: var(--child-justify);
  align-items: var(--child-align);
  font-family: var(--text-font);
  font-size: var(--text-size);
  line-height: var(--text-leading);
}

:host > .root > .circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotateZ(-90deg);
  transform-origin: 50% 50%;
}

:host > .root > .circle > .track,
:host > .root > .circle > .indicator {
  fill: none;
  r: calc(var(--radius) - var(--track-width) / 2);
  cx: var(--radius);
  cy: var(--radius);
}

:host > .root > .circle > .track {
  stroke: var(--background-color);
  stroke-width: var(--track-width);
  transform-origin: 0% 0%;
}

:host > .root > .circle > .indicator {
  stroke: var(--color);
  stroke-width: var(--indicator-width);
  stroke-linecap: round;
  transform-origin: 50% 50%;
}

:host([value]) > .root > .circle > .indicator {
  transition-property: stroke-dashoffset;
  transition-duration: var(--duration);
  stroke-dasharray: var(--circumference) var(--circumference);
  stroke-dashoffset: calc(
    var(--circumference) - var(--value) * var(--circumference)
  );
}

:host(:not([value])) > .root > .circle > .indicator {
  stroke-dasharray: 150% 75%;
  animation: indeterminate-circle calc(1s * var(--speed)) linear infinite;
}

@keyframes indeterminate-circle {
  0% {
    transform: rotate(0deg);
    stroke-dasharray: 5%, 275%;
  }

  50% {
    transform: rotate(450deg);
    stroke-dasharray: 137%, 137%;
  }

  100% {
    transform: rotate(1080deg);
    stroke-dasharray: 5%, 275%;
  }
}
