.root::after {
  display: none;
  ---focus-duration: 50ms;
  position: absolute;
  inset: 0;
  content: "";
  border-radius: inherit;
  transition-duration: var(---focus-duration);
  transition-timing-function: ease;
  outline-offset: calc(-2 * var(---theme-focus-ring-width));
  pointer-events: none;
}
.root.focused::after {
  display: flex;
  outline: var(---theme-color-focus) var(---theme-focus-ring-style)
    var(---theme-focus-ring-width);
  outline-offset: calc(-1 * var(---theme-focus-ring-width));
  -webkit-mask: none;
  mask: none;
}
.root.focused.pressed::after {
  display: flex;
  outline-offset: calc((-1 * var(---theme-focus-ring-width)) - 2px);
}
