:host {
  display: contents;
}

:host > .root {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

:host > .root #empty {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

:host > .root #list {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}
