:host {
  display: contents;
}

:host > .root {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  pointer-events: auto;
}

:host > .root > .empty {
  position: absolute;
  inset: 0;
  flex: 1;
}
