:root {
  /* Primary */
  --s-color-primary-10: var(--s-color-sky-10);
  --s-color-primary-20: var(--s-color-sky-20);
  --s-color-primary-30: var(--s-color-sky-30);
  --s-color-primary-40: var(--s-color-sky-40);
  --s-color-primary-50: var(--s-color-sky-50);
  --s-color-primary-60: var(--s-color-sky-60);
  --s-color-primary-70: var(--s-color-sky-70);
  --s-color-primary-80: var(--s-color-sky-80);
  --s-color-primary-90: var(--s-color-sky-90);
  --s-color-primary-95: var(--s-color-sky-95);
  --s-color-primary-99: var(--s-color-sky-99);

  /* Success */
  --s-color-success-10: var(--s-color-green-10);
  --s-color-success-20: var(--s-color-green-20);
  --s-color-success-30: var(--s-color-green-30);
  --s-color-success-40: var(--s-color-green-40);
  --s-color-success-50: var(--s-color-green-50);
  --s-color-success-60: var(--s-color-green-60);
  --s-color-success-70: var(--s-color-green-70);
  --s-color-success-80: var(--s-color-green-80);
  --s-color-success-90: var(--s-color-green-90);
  --s-color-success-95: var(--s-color-green-95);
  --s-color-success-99: var(--s-color-green-99);

  /* Warning */
  --s-color-warning-10: var(--s-color-amber-10);
  --s-color-warning-20: var(--s-color-amber-20);
  --s-color-warning-30: var(--s-color-amber-30);
  --s-color-warning-40: var(--s-color-amber-40);
  --s-color-warning-50: var(--s-color-amber-50);
  --s-color-warning-60: var(--s-color-amber-60);
  --s-color-warning-70: var(--s-color-amber-70);
  --s-color-warning-80: var(--s-color-amber-80);
  --s-color-warning-90: var(--s-color-amber-90);
  --s-color-warning-95: var(--s-color-amber-95);
  --s-color-warning-99: var(--s-color-amber-99);

  /* Danger */
  --s-color-danger-10: var(--s-color-red-10);
  --s-color-danger-20: var(--s-color-red-20);
  --s-color-danger-30: var(--s-color-red-30);
  --s-color-danger-40: var(--s-color-red-40);
  --s-color-danger-50: var(--s-color-red-50);
  --s-color-danger-60: var(--s-color-red-60);
  --s-color-danger-70: var(--s-color-red-70);
  --s-color-danger-80: var(--s-color-red-80);
  --s-color-danger-90: var(--s-color-red-90);
  --s-color-danger-95: var(--s-color-red-95);
  --s-color-danger-99: var(--s-color-red-99);

  /*
   * Breakpoints
   */

  --s-breakpoint-xs: 400px;
  --s-breakpoint-sm: 600px;
  --s-breakpoint-md: 960px;
  --s-breakpoint-lg: 1280px;
  --s-breakpoint-xl: 1920px;

  /*
   * Typography
   */

  /* Fonts */
  --s-font-mono: "Courier Prime Sans", SFMono-Regular, Consolas,
    "Liberation Mono", Menlo, monospace;
  --s-font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --s-font-serif: Georgia, "Times New Roman", serif;
  --s-font-icon: "icon";

  /* Type Scales */
  --s-text-2xs-font-size: 0.6875rem;
  --s-text-2xs-line-height: 1rem;

  --s-text-xs-font-size: 0.75rem;
  --s-text-xs-line-height: 1rem;

  --s-text-sm-font-size: 0.875rem;
  --s-text-sm-line-height: 1.25rem;

  --s-text-md-font-size: 1rem;
  --s-text-md-line-height: 1.5rem;

  --s-text-lg-font-size: 1.125rem;
  --s-text-lg-line-height: 1.75rem;

  --s-text-xl-font-size: 1.25rem;
  --s-text-xl-line-height: 1.75rem;

  --s-text-2xl-font-size: 1.5rem;
  --s-text-2xl-line-height: 2rem;

  --s-text-3xl-font-size: 1.875rem;
  --s-text-3xl-line-height: 2.25rem;

  --s-text-4xl-font-size: 2.25rem;
  --s-text-4xl-line-height: 2.5rem;

  --s-text-5xl-font-size: 3rem;
  --s-text-5xl-line-height: 1;

  --s-text-6xl-font-size: 3.75rem;
  --s-text-6xl-line-height: 1;

  --s-text-7xl-font-size: 4.5rem;
  --s-text-7xl-line-height: 1;

  --s-text-8xl-font-size: 6rem;
  --s-text-8xl-line-height: 1;

  --s-text-9xl-font-size: 8rem;
  --s-text-9xl-line-height: 1;

  /* Text Leading */
  --s-text-leading-none: 1;
  --s-text-leading-xs: 1.25;
  --s-text-leading-sm: 1.375;
  --s-text-leading-md: 1.5;
  --s-text-leading-lg: 1.625;
  --s-text-leading-xl: 2;

  /* Text Kerning */
  --s-text-kerning-xs: -0.05em;
  --s-text-kerning-sm: -0.025em;
  --s-text-kerning-md: 0em;
  --s-text-kerning-lg: 0.025em;
  --s-text-kerning-xl: 0.05em;
  --s-text-kerning-2xl: 0.1em;

  /*
   * Opacities
   */

  --s-opacity-drag: 0.16;
  --s-opacity-press: 0.12;
  --s-opacity-focus: 0.12;
  --s-opacity-hover: 0.05;

  /*
   * Z-indexes
   */

  --s-z-index-drawer: 700;
  --s-z-index-dialog: 800;
  --s-z-index-dropdown: 900;
  --s-z-index-toast: 950;
  --s-z-index-tooltip: 1000;

  /*
   * Scrollbars
   */

  --s-scrollbar-size: 8px;
  --s-scrollbar-thickness: thin;

  /*
   * Ratios
   */
  --s-ratio-square: 1;
  --s-ratio-landscape: 4/3;
  --s-ratio-portrait: 3/4;
  --s-ratio-widescreen: 16/9;
  --s-ratio-ultrawide: 18/5;
  --s-ratio-eighth: 1/8;
  --s-ratio-quarter: 1/4;
  --s-ratio-half: 1/2;
  --s-ratio-third: 1/3;
  --s-ratio-sixteenth: 1/16;
  --s-ratio-minor-second: 1.067;
  --s-ratio-major-second: 1.125;
  --s-ratio-minor-third: 1.2;
  --s-ratio-major-third: 1.25;
  --s-ratio-perfect-fourth: 1.333;
  --s-ratio-augmented-fourth: 1.414;
  --s-ratio-perfect-fifth: 1.5;
  --s-ratio-golden: 1.618;
  --s-ratio-major-sixth: 1.667;
  --s-ratio-minor-seventh: 1.778;
  --s-ratio-major-seventh: 1.875;
  --s-ratio-octave: 2;

  /*
   * Spacing
   */
  --s-spacing-3xs: 2px;
  --s-spacing-2xs: 4px;
  --s-spacing-xs: 8px;
  --s-spacing-sm: 12px;
  --s-spacing-md: 16px;
  --s-spacing-lg: 20px;
  --s-spacing-xl: 28px;
  --s-spacing-2xl: 36px;
  --s-spacing-3xl: 48px;
  --s-spacing-4xl: 72px;

  /*
   * Elements
   */

  /* Focus rings */
  --s-focus-ring-style: solid;
  --s-focus-ring-width: 3px;
  --s-focus-ring-offset: 2px;

  /* Tooltips */
  --s-tooltip-font-size: var(--s-font-size-sm);
  --s-tooltip-font-family: var(--s-font-sans);
  --s-tooltip-line-height: 1.4;
  --s-tooltip-font-weight: normal;
  --s-tooltip-color: var(--s-color-neutral-80);
  --s-tooltip-background-color: var(--s-color-neutral-30);
  --s-tooltip-border-radius: 6px;
  --s-tooltip-arrow-size: 6px;

  /* Buttons */
  --s-button-font-size-sm: var(--s-font-size-xs);
  --s-button-font-size-md: var(--s-font-size-sm);
  --s-button-font-size-lg: var(--s-font-size-md);

  /* Inputs */
  --s-input-height-sm: 28px;
  --s-input-height-md: 40px;
  --s-input-height-lg: 48px;

  --s-input-background-color: var(--s-color-fg-05);

  --s-input-border-color: var(--s-color-neutral-40);
  --s-input-border-color-hover: var(--s-color-neutral-50);
  --s-input-border-color-focus: var(--s-color-primary-60);
  --s-input-border-color-disabled: var(--s-color-neutral-40);
  --s-input-border-width: 1px;
  --s-input-required-content: "*";
  --s-input-required-content-offset: -2px;
  --s-input-required-content-color: var(--s-input-label-color);

  --s-input-border-radius-sm: 4px;
  --s-input-border-radius-md: 4px;
  --s-input-border-radius-lg: 4px;

  --s-input-font-family: var(--s-font-sans);
  --s-input-font-weight: normal;
  --s-input-font-size-sm: var(--s-font-size-sm);
  --s-input-font-size-md: var(--s-font-size-md);
  --s-input-font-size-lg: var(--s-font-size-lg);
  --s-input-letter-spacing: var(--s-letter-spacing-md);

  --s-input-spacing-sm: var(--s-spacing-sm);
  --s-input-spacing-md: var(--s-spacing-md);
  --s-input-spacing-lg: var(--s-spacing-lg);

  --s-input-color: var(--s-color-neutral-90);
  --s-input-color-hover: var(--s-color-neutral-90);
  --s-input-color-focus: var(--s-color-neutral-80);
  --s-input-color-disabled: var(--s-color-neutral-90);
  --s-input-icon-color: var(--s-color-neutral-60);
  --s-input-icon-color-hover: var(--s-color-neutral-70);
  --s-input-icon-color-focus: var(--s-color-neutral-70);
  --s-input-placeholder-color: var(--s-color-neutral-70);
  --s-input-placeholder-color-disabled: var(--s-color-neutral-70);

  --s-input-focus-ring-color: hsl(198.6 88.7% 48.4% / 40%);
  --s-input-focus-ring-offset: 0;

  --s-input-label-font-size-sm: var(--s-font-size-sm);
  --s-input-label-font-size-md: var(--s-font-size-md);
  --s-input-label-font-size-lg: var(--s-font-size-lg);
  --s-input-label-color: inherit;

  --s-input-help-text-font-size-sm: var(--s-font-size-xs);
  --s-input-help-text-font-size-md: var(--s-font-size-sm);
  --s-input-help-text-font-size-lg: var(--s-font-size-md);
  --s-input-help-text-color: var(--s-color-neutral-60);

  /* Toggles (checkboxes, radios, switches) */
  --s-toggle-size-sm: 0.875rem; /* 14px */
  --s-toggle-size-md: 1.125rem; /* 18px */
  --s-toggle-size-lg: 1.375rem; /* 22px */

  /* Icon size */
  --s-icon-size: 1.25rem /* 20px */;
}

.s-scroll-lock {
  padding-right: var(--s-scroll-lock-size) !important;
  overflow: hidden !important;
}
