<se-notifications></se-notifications>
<s-hidden if-below="lg" hide-event="window/didExpandPreviewPane" show-event="window/didCollapsePreviewPane"
  hide-instantly show-instantly>
  <s-hidden if-below="lg" hide-event="editor/focused input/focused" show-event="editor/unfocused input/unfocused"
    hide-instantly show-delay="200ms">
    <s-box height="footer-nav"></s-box>
    <s-box position="fixed-bottom">
      <s-box bg-color="primary-bg">
        <s-divider bg-color="fg-06"></s-divider>
        <s-tabs active="logic" indicator="none" height="footer-nav">
          <s-tab color="tab-active" text-color="tab-inactive" shrink icon="bolt" active-icon="bolt-fill" value="logic"
            active>
            Logic
          </s-tab>
          <s-tab color="tab-active" text-color="tab-inactive" shrink icon="photo" active-icon="photo-fill"
            value="assets">
            Assets
          </s-tab>
          <s-tab color="tab-active" text-color="tab-inactive" shrink icon="share" active-icon="share-fill"
            value="share">
            Share
          </s-tab>
        </s-tabs>
      </s-box>
    </s-box>
  </s-hidden>
</s-hidden>