:host {
  display: contents;
}
:host {
  --corner: 8px;
  --corner-t: var(--corner);
  --corner-l: var(--corner);
  --corner-r: var(--corner);
  --corner-b: var(--corner);
  --corner-tl: var(--corner);
  --corner-tr: var(--corner);
  --corner-br: var(--corner);
  --corner-bl: var(--corner);
}

.root {
  display: flex;
  clip-path: polygon(
    0 var(--corner-tl, var(--corner)),
    var(--corner-tl, var(--corner)) 0,
    calc(100% - var(--corner-tr, var(--corner))) 0,
    100% var(--corner-tr, var(--corner)),
    100% calc(100% - var(--corner-br, var(--corner))),
    calc(100% - var(--corner-br, var(--corner))) 100%,
    var(--corner-bl, var(--corner)) 100%,
    0% calc(100% - var(--corner-bl, var(--corner)))
  );
}
