<s-box>
  <s-list p="16 0" grow>
    <se-option-button>
      <s-box>Export Logic</s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .project
        <s-button class="more" color="fg-50" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <se-option-button>
      <s-box>Export Assets</s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .zip
        <s-button class="more" color="fg-50" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
  </s-list>
</s-box>