.s-theme-light {
  color-scheme: light;

  /*
   * Color Primitives
   */

  --s-color-slate-10: hsl(210 40% 98%);
  --s-color-slate-20: hsl(210 40% 96%);
  --s-color-slate-30: hsl(214 32% 91%);
  --s-color-slate-40: hsl(213 27% 84%);
  --s-color-slate-50: hsl(215 20% 65%);
  --s-color-slate-60: hsl(215 16% 47%);
  --s-color-slate-70: hsl(215 19% 35%);
  --s-color-slate-80: hsl(215 25% 27%);
  --s-color-slate-90: hsl(217 33% 17%);
  --s-color-slate-95: hsl(222 47% 11%);
  --s-color-slate-99: hsl(229 84% 5%);

  --s-color-gray-10: hsl(210 20% 98%);
  --s-color-gray-20: hsl(220 14% 96%);
  --s-color-gray-30: hsl(220 13% 91%);
  --s-color-gray-40: hsl(216 12% 84%);
  --s-color-gray-50: hsl(218 11% 65%);
  --s-color-gray-60: hsl(220 9% 46%);
  --s-color-gray-70: hsl(215 14% 34%);
  --s-color-gray-80: hsl(217 19% 27%);
  --s-color-gray-90: hsl(215 28% 17%);
  --s-color-gray-95: hsl(221 39% 11%);
  --s-color-gray-99: hsl(224 71% 4%);

  --s-color-zinc-10: hsl(240 0% 98%);
  --s-color-zinc-20: hsl(240 5% 96%);
  --s-color-zinc-30: hsl(240 6% 90%);
  --s-color-zinc-40: hsl(240 5% 84%);
  --s-color-zinc-50: hsl(240 5% 65%);
  --s-color-zinc-60: hsl(240 4% 46%);
  --s-color-zinc-70: hsl(240 5% 34%);
  --s-color-zinc-80: hsl(240 5% 26%);
  --s-color-zinc-90: hsl(240 4% 16%);
  --s-color-zinc-95: hsl(240 6% 10%);
  --s-color-zinc-99: hsl(240 10% 4%);

  --s-color-neutral-10: hsl(0 0% 98%);
  --s-color-neutral-20: hsl(0 0% 96%);
  --s-color-neutral-30: hsl(0 0% 90%);
  --s-color-neutral-40: hsl(0 0% 83%);
  --s-color-neutral-50: hsl(0 0% 64%);
  --s-color-neutral-60: hsl(0 0% 45%);
  --s-color-neutral-70: hsl(0 0% 32%);
  --s-color-neutral-80: hsl(0 0% 25%);
  --s-color-neutral-90: hsl(0 0% 15%);
  --s-color-neutral-95: hsl(0 0% 9%);
  --s-color-neutral-99: hsl(0 0% 4%);

  --s-color-stone-10: hsl(60 9% 98%);
  --s-color-stone-20: hsl(60 5% 96%);
  --s-color-stone-30: hsl(20 6% 90%);
  --s-color-stone-40: hsl(24 6% 83%);
  --s-color-stone-50: hsl(24 5% 64%);
  --s-color-stone-60: hsl(25 5% 45%);
  --s-color-stone-70: hsl(33 5% 32%);
  --s-color-stone-80: hsl(30 6% 25%);
  --s-color-stone-90: hsl(12 6% 15%);
  --s-color-stone-95: hsl(24 10% 10%);
  --s-color-stone-99: hsl(20 14% 4%);

  --s-color-red-10: hsl(0 86% 97%);
  --s-color-red-20: hsl(0 93% 94%);
  --s-color-red-30: hsl(0 96% 89%);
  --s-color-red-40: hsl(0 94% 82%);
  --s-color-red-50: hsl(0 91% 71%);
  --s-color-red-60: hsl(0 84% 60%);
  --s-color-red-70: hsl(0 72% 51%);
  --s-color-red-80: hsl(0 74% 42%);
  --s-color-red-90: hsl(0 70% 35%);
  --s-color-red-95: hsl(0 63% 31%);
  --s-color-red-99: hsl(0 75% 15%);

  --s-color-orange-10: hsl(33 100% 96%);
  --s-color-orange-20: hsl(34 100% 92%);
  --s-color-orange-30: hsl(32 98% 83%);
  --s-color-orange-40: hsl(31 97% 72%);
  --s-color-orange-50: hsl(27 96% 61%);
  --s-color-orange-60: hsl(25 95% 53%);
  --s-color-orange-70: hsl(21 90% 48%);
  --s-color-orange-80: hsl(17 88% 40%);
  --s-color-orange-90: hsl(15 79% 34%);
  --s-color-orange-95: hsl(15 75% 28%);
  --s-color-orange-99: hsl(13 81% 15%);

  --s-color-amber-10: hsl(48 100% 96%);
  --s-color-amber-20: hsl(48 96% 89%);
  --s-color-amber-30: hsl(48 97% 77%);
  --s-color-amber-40: hsl(46 97% 65%);
  --s-color-amber-50: hsl(43 96% 56%);
  --s-color-amber-60: hsl(38 92% 50%);
  --s-color-amber-70: hsl(32 95% 44%);
  --s-color-amber-80: hsl(26 90% 37%);
  --s-color-amber-90: hsl(23 83% 31%);
  --s-color-amber-95: hsl(22 78% 26%);
  --s-color-amber-99: hsl(21 92% 14%);

  --s-color-yellow-10: hsl(55 92% 95%);
  --s-color-yellow-20: hsl(55 97% 88%);
  --s-color-yellow-30: hsl(53 98% 77%);
  --s-color-yellow-40: hsl(50 98% 64%);
  --s-color-yellow-50: hsl(48 96% 53%);
  --s-color-yellow-60: hsl(45 93% 47%);
  --s-color-yellow-70: hsl(41 96% 40%);
  --s-color-yellow-80: hsl(35 92% 33%);
  --s-color-yellow-90: hsl(32 81% 29%);
  --s-color-yellow-95: hsl(28 73% 26%);
  --s-color-yellow-99: hsl(26 83% 14%);

  --s-color-lime-10: hsl(78 92% 95%);
  --s-color-lime-20: hsl(80 89% 89%);
  --s-color-lime-30: hsl(81 88% 80%);
  --s-color-lime-40: hsl(82 85% 67%);
  --s-color-lime-50: hsl(83 78% 55%);
  --s-color-lime-60: hsl(84 81% 44%);
  --s-color-lime-70: hsl(85 85% 35%);
  --s-color-lime-80: hsl(86 78% 27%);
  --s-color-lime-90: hsl(86 69% 23%);
  --s-color-lime-95: hsl(88 61% 20%);
  --s-color-lime-99: hsl(89 80% 10%);

  --s-color-green-10: hsl(138 76% 97%);
  --s-color-green-20: hsl(141 84% 93%);
  --s-color-green-30: hsl(141 79% 85%);
  --s-color-green-40: hsl(142 77% 73%);
  --s-color-green-50: hsl(142 69% 58%);
  --s-color-green-60: hsl(142 71% 45%);
  --s-color-green-70: hsl(142 76% 36%);
  --s-color-green-80: hsl(142 72% 29%);
  --s-color-green-90: hsl(143 64% 24%);
  --s-color-green-95: hsl(144 61% 20%);
  --s-color-green-99: hsl(145 80% 10%);

  --s-color-emerald-10: hsl(152 81% 96%);
  --s-color-emerald-20: hsl(149 80% 90%);
  --s-color-emerald-30: hsl(152 76% 80%);
  --s-color-emerald-40: hsl(156 72% 67%);
  --s-color-emerald-50: hsl(158 64% 52%);
  --s-color-emerald-60: hsl(160 84% 39%);
  --s-color-emerald-70: hsl(161 94% 30%);
  --s-color-emerald-80: hsl(163 94% 24%);
  --s-color-emerald-90: hsl(163 88% 20%);
  --s-color-emerald-95: hsl(164 86% 16%);
  --s-color-emerald-99: hsl(166 91% 9%);

  --s-color-teal-10: hsl(166 76% 97%);
  --s-color-teal-20: hsl(167 85% 89%);
  --s-color-teal-30: hsl(168 84% 78%);
  --s-color-teal-40: hsl(171 77% 64%);
  --s-color-teal-50: hsl(172 66% 50%);
  --s-color-teal-60: hsl(173 80% 40%);
  --s-color-teal-70: hsl(175 84% 32%);
  --s-color-teal-80: hsl(175 77% 26%);
  --s-color-teal-90: hsl(176 69% 22%);
  --s-color-teal-95: hsl(176 61% 19%);
  --s-color-teal-99: hsl(179 84% 10%);

  --s-color-cyan-10: hsl(183 100% 96%);
  --s-color-cyan-20: hsl(185 96% 90%);
  --s-color-cyan-30: hsl(186 94% 82%);
  --s-color-cyan-40: hsl(187 92% 69%);
  --s-color-cyan-50: hsl(188 86% 53%);
  --s-color-cyan-60: hsl(189 94% 43%);
  --s-color-cyan-70: hsl(192 91% 36%);
  --s-color-cyan-80: hsl(193 82% 31%);
  --s-color-cyan-90: hsl(194 70% 27%);
  --s-color-cyan-95: hsl(196 64% 24%);
  --s-color-cyan-99: hsl(197 79% 15%);

  --s-color-sky-10: hsl(204 100% 97%);
  --s-color-sky-20: hsl(204 94% 94%);
  --s-color-sky-30: hsl(201 94% 86%);
  --s-color-sky-40: hsl(199 95% 74%);
  --s-color-sky-50: hsl(198 93% 60%);
  --s-color-sky-60: hsl(199 89% 48%);
  --s-color-sky-70: hsl(200 98% 39%);
  --s-color-sky-80: hsl(201 96% 32%);
  --s-color-sky-90: hsl(201 90% 27%);
  --s-color-sky-95: hsl(202 80% 24%);
  --s-color-sky-99: hsl(204 80% 16%);

  --s-color-blue-10: hsl(214 100% 97%);
  --s-color-blue-20: hsl(214 95% 93%);
  --s-color-blue-30: hsl(213 97% 87%);
  --s-color-blue-40: hsl(212 96% 78%);
  --s-color-blue-50: hsl(213 94% 68%);
  --s-color-blue-60: hsl(217 91% 60%);
  --s-color-blue-70: hsl(221 83% 53%);
  --s-color-blue-80: hsl(224 76% 48%);
  --s-color-blue-90: hsl(226 71% 40%);
  --s-color-blue-95: hsl(224 64% 33%);
  --s-color-blue-99: hsl(226 57% 21%);

  --s-color-indigo-10: hsl(226 100% 97%);
  --s-color-indigo-20: hsl(226 100% 94%);
  --s-color-indigo-30: hsl(228 96% 89%);
  --s-color-indigo-40: hsl(230 94% 82%);
  --s-color-indigo-50: hsl(234 89% 74%);
  --s-color-indigo-60: hsl(239 84% 67%);
  --s-color-indigo-70: hsl(243 75% 59%);
  --s-color-indigo-80: hsl(245 58% 51%);
  --s-color-indigo-90: hsl(244 55% 41%);
  --s-color-indigo-95: hsl(242 47% 34%);
  --s-color-indigo-99: hsl(244 47% 20%);

  --s-color-violet-10: hsl(250 100% 98%);
  --s-color-violet-20: hsl(251 91% 95%);
  --s-color-violet-30: hsl(251 95% 92%);
  --s-color-violet-40: hsl(252 95% 85%);
  --s-color-violet-50: hsl(255 92% 76%);
  --s-color-violet-60: hsl(258 90% 66%);
  --s-color-violet-70: hsl(262 83% 58%);
  --s-color-violet-80: hsl(263 70% 50%);
  --s-color-violet-90: hsl(263 69% 42%);
  --s-color-violet-95: hsl(264 67% 35%);
  --s-color-violet-99: hsl(261 73% 23%);

  --s-color-purple-10: hsl(270 100% 98%);
  --s-color-purple-20: hsl(269 100% 95%);
  --s-color-purple-30: hsl(269 100% 92%);
  --s-color-purple-40: hsl(269 97% 85%);
  --s-color-purple-50: hsl(270 95% 75%);
  --s-color-purple-60: hsl(271 91% 65%);
  --s-color-purple-70: hsl(271 81% 56%);
  --s-color-purple-80: hsl(272 72% 47%);
  --s-color-purple-90: hsl(273 67% 39%);
  --s-color-purple-95: hsl(274 66% 32%);
  --s-color-purple-99: hsl(274 87% 21%);

  --s-color-fuchsia-10: hsl(289 100% 98%);
  --s-color-fuchsia-20: hsl(287 100% 95%);
  --s-color-fuchsia-30: hsl(288 96% 91%);
  --s-color-fuchsia-40: hsl(291 93% 83%);
  --s-color-fuchsia-50: hsl(292 91% 73%);
  --s-color-fuchsia-60: hsl(292 84% 61%);
  --s-color-fuchsia-70: hsl(293 69% 49%);
  --s-color-fuchsia-80: hsl(295 72% 40%);
  --s-color-fuchsia-90: hsl(295 70% 33%);
  --s-color-fuchsia-95: hsl(297 64% 28%);
  --s-color-fuchsia-99: hsl(297 90% 16%);

  --s-color-pink-10: hsl(327 73% 97%);
  --s-color-pink-20: hsl(326 78% 95%);
  --s-color-pink-30: hsl(326 85% 90%);
  --s-color-pink-40: hsl(327 87% 82%);
  --s-color-pink-50: hsl(329 86% 70%);
  --s-color-pink-60: hsl(330 81% 60%);
  --s-color-pink-70: hsl(333 71% 51%);
  --s-color-pink-80: hsl(335 78% 42%);
  --s-color-pink-90: hsl(336 74% 35%);
  --s-color-pink-95: hsl(336 69% 30%);
  --s-color-pink-99: hsl(336 84% 17%);

  --s-color-rose-10: hsl(356 100% 97%);
  --s-color-rose-20: hsl(356 100% 95%);
  --s-color-rose-30: hsl(353 96% 90%);
  --s-color-rose-40: hsl(353 96% 82%);
  --s-color-rose-50: hsl(351 95% 71%);
  --s-color-rose-60: hsl(350 89% 60%);
  --s-color-rose-70: hsl(347 77% 50%);
  --s-color-rose-80: hsl(345 83% 41%);
  --s-color-rose-90: hsl(343 80% 35%);
  --s-color-rose-95: hsl(342 75% 30%);
  --s-color-rose-99: hsl(343 88% 16%);

  /* Neutral one-offs */
  --s-color-neutral-0: hsl(0 0% 100%);
  --s-color-neutral-100: hsl(0 0% 0%);

  /* Elements */
  --s-color-bg: hsl(0 0% 100%);
  --s-color-bg-00: hsl(0 0% 100% / 0%);
  --s-color-bg-01: hsl(0 0% 100% / 1%);
  --s-color-bg-02: hsl(0 0% 100% / 2%);
  --s-color-bg-03: hsl(0 0% 100% / 3%);
  --s-color-bg-04: hsl(0 0% 100% / 4%);
  --s-color-bg-05: hsl(0 0% 100% / 5%);
  --s-color-bg-06: hsl(0 0% 100% / 6%);
  --s-color-bg-07: hsl(0 0% 100% / 7%);
  --s-color-bg-08: hsl(0 0% 100% / 8%);
  --s-color-bg-09: hsl(0 0% 100% / 9%);
  --s-color-bg-10: hsl(0 0% 100% / 10%);
  --s-color-bg-20: hsl(0 0% 100% / 20%);
  --s-color-bg-30: hsl(0 0% 100% / 30%);
  --s-color-bg-40: hsl(0 0% 100% / 40%);
  --s-color-bg-50: hsl(0 0% 100% / 50%);
  --s-color-bg-60: hsl(0 0% 100% / 60%);
  --s-color-bg-60: hsl(0 0% 100% / 70%);
  --s-color-bg-80: hsl(0 0% 100% / 80%);
  --s-color-bg-90: hsl(0 0% 100% / 90%);
  --s-color-fg: hsl(0 0% 0%);
  --s-color-fg-00: hsl(0 0% 0% / 0%);
  --s-color-fg-01: hsl(0 0% 0% / 1%);
  --s-color-fg-02: hsl(0 0% 0% / 2%);
  --s-color-fg-03: hsl(0 0% 0% / 3%);
  --s-color-fg-04: hsl(0 0% 0% / 4%);
  --s-color-fg-05: hsl(0 0% 0% / 5%);
  --s-color-fg-06: hsl(0 0% 0% / 6%);
  --s-color-fg-07: hsl(0 0% 0% / 7%);
  --s-color-fg-08: hsl(0 0% 0% / 8%);
  --s-color-fg-09: hsl(0 0% 0% / 9%);
  --s-color-fg-10: hsl(0 0% 0% / 10%);
  --s-color-fg-20: hsl(0 0% 0% / 20%);
  --s-color-fg-30: hsl(0 0% 0% / 30%);
  --s-color-fg-40: hsl(0 0% 0% / 40%);
  --s-color-fg-50: hsl(0 0% 0% / 50%);
  --s-color-fg-60: hsl(0 0% 0% / 60%);
  --s-color-fg-70: hsl(0 0% 0% / 70%);
  --s-color-fg-80: hsl(0 0% 0% / 80%);
  --s-color-fg-90: hsl(0 0% 0% / 90%);
  --s-color-divider: hsl(0 0% 0% / 13%);
  --s-color-focus: var(--s-color-primary-70);
  --s-color-surface: var(--s-color-neutral-20);
  --s-color-surface-border: var(--s-color-neutral-30);

  /* Scrollbars */
  --s-color-scrollbar-thumb: hsl(0 0% 0% / 25%);
  --s-color-scrollbar-thumb-hover: hsl(0 0% 0% / 50%);
  --s-color-scrollbar-track: hsl(0 0% 0% / 10%);

  /*
   * Opacities
   */

  --s-opacity-overlay: 0.25;
}
