<s-box overflow-y="scroll">
  <s-box p="16 0" navigation="keyboard" grow>
    <se-option-button>
      <s-box>Spark Project</s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .sd
        <s-button class="more" color="inherit" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <se-option-button>
      <s-box>Spark Cartridge</s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .s.png
        <s-button class="more" color="inherit" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <se-option-button>
      <s-box>Web App</s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .zip
        <s-button class="more" color="inherit" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <se-option-button>
      <s-box>Android App</s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .apk
        <s-button class="more" color="inherit" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <se-option-button>
      <s-box>iOS App</s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .ipa
        <s-button class="more" color="inherit" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <se-option-button>
      <s-box>Screenplay PDF</s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .pdf
        <s-button class="more" color="inherit" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <se-option-button>
      <s-box>Screenplay HTML</s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .html
        <s-button class="more" color="inherit" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <s-button m="24" variant="outlined" size="lg" color="fg">
      Publish Online
    </s-button>
  </s-box>
  <s-box height="footer-nav"></s-box>
</s-box>