<s-box overflow-y="scroll">
  <s-box p="16 0" navigation="keyboard" grow>
    <se-file-button>widget_00</se-file-button>
    <se-file-button>widget_01</se-file-button>
    <se-file-button>widget_02</se-file-button>
    <se-file-button>widget_03</se-file-button>
    <se-file-button>widget_04</se-file-button>
    <se-file-button>widget_05</se-file-button>
    <se-file-button>widget_06</se-file-button>
    <se-file-button>widget_07</se-file-button>
    <se-file-button>widget_08</se-file-button>
    <se-file-button>widget_09</se-file-button>
    <se-file-button>widget_10</se-file-button>
  </s-box>
  <se-add-fab>Add Widget</se-add-fab>
</s-box>