/****************************** DEFAULT STYLES ******************************/

.screen {
  /* Divider */
  ---theme-divider-background: var(---theme-color-fg-12);

  /* Buttons */
  ---theme-button-background: var(---theme-color-neutral-20);
  ---theme-button-border: var(---theme-color-neutral-40);
  ---theme-button-text: var(---theme-color-neutral-100);

  /* Inputs */
  ---theme-input-background: var(---theme-color-neutral-20);
  ---theme-input-border: var(---theme-color-neutral-40);
  ---theme-input-text: var(---theme-color-neutral-100);
  ---theme-input-text-placeholder: var(---theme-color-neutral-70);

  /* Dropdowns */
  ---theme-dropdown-background: var(---theme-color-neutral-20);
  ---theme-dropdown-border: var(---theme-color-neutral-40);
  ---theme-dropdown-text: var(---theme-color-neutral-100);

  /* Options */
  ---theme-option-background: var(---theme-color-neutral-20);
  ---theme-option-text: var(---theme-color-neutral-100);

  /* Checkboxes */
  ---theme-checkbox-background: var(---theme-color-neutral-20);
  ---theme-checkbox-border: var(---theme-color-neutral-60);
  ---theme-checkbox-check: var(---theme-color-fill-contrast);

  /* Sliders */
  ---theme-slider-thumb-background-color: var(---theme-color-primary-60);
  ---theme-slider-thumb-border-color: var(---theme-color-primary-60);
  ---theme-slider-fill-color: var(---theme-color-primary-60);
  ---theme-slider-track-color: var(---theme-color-neutral-40);

  ---fill-color: var(---theme-slider-fill-color);
  ---track-color: var(---theme-slider-track-color);
  ---thumb-size: 16px;
  ---thumb-background-color: var(---theme-slider-thumb-background-color);
  ---thumb-border-color: var(---theme-slider-thumb-border-color);
}

* {
  scrollbar-color: var(---theme-color-scrollbar-thumb)
    var(---theme-color-scrollbar-track);
  scrollbar-width: var(---theme-scrollbar-thickness);
  scrollbar-gutter: var(---theme-scrollbar-gutter);
  scroll-behavior: var(---theme-scrollbar-behavior);
  scroll-margin: var(---theme-scrollbar-margin);
  scroll-padding: var(---theme-scrollbar-padding);

  transition-property: opacity, translate, rotate, scale, transform, filter,
    backdrop-filter, clip-path, mix-blend-mode, box-shadow, color,
    background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: var(---theme-transition-fast);
}

.Button:hover,
.Dropdown:hover,
.Checkbox:hover,
.Slider:hover {
  background-color: var(---theme-color-background-hover);
}

.Button:active,
.Dropdown:active,
.Checkbox:active,
.Slider:active {
  background-color: var(---theme-color-background-active);
}

.screen {
  gap: 16px;
  min-height: 100vh;
  font-size: 16px;
  color: var(---theme-color-text);
}

.component {
  gap: 8px;
}

style {
  display: none;
}

.Box {
  background: var(---theme-color-surface);
  padding: 16px;
  border-radius: 8px;
  gap: 16px;
}

.Row {
  flex-direction: row;
  gap: 12px;
}

.Column {
  flex-direction: column;
  gap: 12px;
}

.Grid {
  display: grid;
  grid-template-columns: var(---columns, 1fr 1fr 1fr);
  gap: 12px;
}
.Grid * {
  min-width: 0;
  max-width: 100%;
  flex-shrink: 1;
}

.Divider {
  background-color: var(---theme-divider-background);
  border-radius: 8px;
}

.Text {
  font-size: 16px;
  color: inherit;
  text-align: left;
}

.Span {
  text-align: left;
  white-space: pre-wrap;
}

.Image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
}

.Button {
  padding: 8px 20px;
  border-radius: 8px;
  color: var(---theme-button-text);
  font-weight: 600;
  text-align: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-color: var(---theme-button-border);
  background-color: var(---theme-button-background);
}

.Control {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;
  position: relative;
}

.Label {
  font-size: 16px;
  color: inherit;
}

.Input {
  padding: 8px 12px;
  border-radius: 6px;
  color: var(---theme-input-text);
  border-width: 1px;
  border-style: solid;
  border-color: var(---theme-input-border);
  background-color: var(---theme-input-background);
}
.Input::placeholder {
  color: var(---theme-input-text-placeholder);
}

.InputArea {
  width: 100%;
  min-height: 100px;
  padding: 8px 12px;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 8px;
  resize: vertical;
  outline: none;
  resize: none; /* don't allow resizing */
  overflow: auto;
  transition: border-color 0.2s, background-color 0.2s;
  border-width: 1px;
  border-style: solid;
  border-color: var(---theme-input-border);
  background-color: var(---theme-input-background);
}

.Slider {
  appearance: none;
  height: 6px;
  border-radius: 3px;
  width: 100%;
  margin: 6px 0;
  background: linear-gradient(
    to right,
    var(---fill-color) var(---fill-percentage),
    var(---track-color) var(---fill-percentage)
  );
}
.Slider::-webkit-slider-thumb {
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
  margin-top: calc(-1 * var(---thumb-size) / 4);
  width: var(---thumb-size);
  height: var(---thumb-size);
  background: var(---thumb-background-color);
  border-width: 2px;
  border-style: solid;
  border-color: var(---thumb-border-color);
}
.Slider::-moz-range-thumb {
  border-radius: 50%;
  cursor: pointer;
  width: var(---thumb-size);
  height: var(---thumb-size);
  background: var(---thumb-background-color);
  border-width: 2px;
  border-style: solid;
  border: var(---thumb-border-color);
}
.Slider::-moz-range-progress {
  background: var(---fill-color);
}

.Control:has(.Checkbox) {
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}
.Checkbox {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
  position: relative;
  align-self: center;
  border-width: 1px;
  border-style: solid;
  border-color: var(---theme-checkbox-border);
  background-color: var(---theme-checkbox-background);
}
.Checkbox:checked {
  border-color: var(---theme-color-border-checked);
  background: var(---theme-color-background-checked);
}
.Checkbox:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid var(---theme-checkbox-check);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.Dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 12px;
  border-radius: 6px;
  color: var(---theme-dropdown-text);
  font-size: 16px;
  line-height: 1.25;
  min-width: 160px;
  cursor: pointer;
  padding-right: 36px;
  border-width: 1px;
  border-style: solid;
  border-color: var(---theme-dropdown-border);
  background-color: var(---theme-dropdown-background);
}
.DropdownArrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-color: currentColor;
  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5z'/></svg>");
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5z'/></svg>");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
  pointer-events: none;
}

.Option {
  background: var(---theme-option-background);
  color: var(---theme-option-text);
  padding: 4px 10px;
}
.Option[selected] {
  background: var(---theme-color-background-selected);
  font-weight: bold;
}

.Input:hover,
.InputArea:hover,
.Button:hover,
.Dropdown:hover,
.Checkbox:hover,
.Slider:hover {
  border-color: var(---theme-color-border-hover);
}
.Slider:hover::-webkit-slider-thumb {
  border-color: var(---theme-color-border-hover);
}
.Slider:hover::-moz-range-thumb {
  border-color: var(---theme-color-border-hover);
}

.Input:active,
.InputArea:active,
.Button:active,
.Dropdown:active,
.Checkbox:active,
.Slider:active {
  border-color: var(---theme-color-border-active);
}
.Slider:active::-webkit-slider-thumb {
  border-color: var(---theme-color-border-active);
}
.Slider:active::-moz-range-thumb {
  border-color: var(---theme-color-border-active);
}

.Input:focus-visible,
.InputArea:focus-visible,
.Button:focus-visible,
.Dropdown:focus-visible,
.Checkbox:focus-visible,
.Slider:focus-visible {
  outline: none;
  box-shadow: 0 0 0 var(---theme-focus-ring-width)
    var(---theme-focus-ring-color);
  border-color: var(---theme-color-border-focus);
}
.Slider:focus-visible::-webkit-slider-thumb {
  border-color: var(---theme-color-border-focus);
}
.Slider:focus-visible::-moz-range-thumb {
  border-color: var(---theme-color-border-focus);
}
