:host {
  display: contents;
  --_icon-size: var(--theme-text-lg-font-size);
  --_interactable: auto;
  --_position: relative;
  --_child-layout: row;
  --_child-align: center;
  --_child-justify: center;
  --_shadow: var(--theme-shadow-box-2);
  --_background-color: var(--theme-color-surface);
  --_text-color: var(--theme-color-neutral-80);
  --_text-font: var(--theme-font-sans);
  --_text-size: var(--theme-text-sm-font-size);
  --_text-leading: 1.6;
  --_text-weight: 400;
  --_spacing: 16px;
  --_border-color: var(--theme-color-surface-border);
  --_border-width: 1px;
  --_corner: 4px;
  --_margin: 4px;
  --_padding-tb: 12px;
  --_padding-lr: 16px;
  --_enter: var(--theme-animation-enter-fade);
  --_exit: var(--theme-animation-exit-fade);
  --_ease: ease-out;
}

:host > .root {
  display: flex;
  pointer-events: var(--_interactable);
  position: var(--_position);
  flex-direction: var(--_child-layout);
  align-items: var(--_child-align);
  box-shadow: var(--_shadow);
  border-style: solid;
  background-color: var(--_background-color);
  color: var(--_text-color);
  font-family: var(--_text-font);
  font-size: var(--_text-size);
  font-weight: var(--_text-weight);
  line-height: var(--_text-leading);
  border-color: var(--_border-color);
  border-width: var(--_border-width);
  border-radius: var(--_corner);
  margin: var(--_margin);
  padding-block: var(--_padding-tb);
  padding-inline: var(--_padding-lr);
  will-change: transform;
}
:host([action]) > .root {
  padding-right: calc(
    var(--_padding-r, var(--_padding-lr, var(--_padding))) - 8px
  );
}

:host > .popup {
  will-change: transform, opacity;
}
:host([open]) > .popup {
  animation: var(--_enter) forwards;
  animation-timing-function: var(--_ease);
}
:host(:not([open])) > .popup {
  animation: var(--_exit) forwards;
  animation-timing-function: var(--_ease);
}

:host > .root > .message {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
:host([action]) > .root > .message {
  padding-right: var(--_spacing);
}

:host > .root > .close {
  pointer-events: auto;
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  justify-content: flex-end;
  color: var(--_text-color);
  font-size: var(--_icon-size);
}
