:host {
  display: contents;
  --_aspect: 1/1;
  --_child-layout: column;
  --_child-justify: center;
  --_child-align: center;
  --_shrink: 0;
  --_corner: 50%;
  --_aspect: 1;
  --_size: 40px;
  --_width: var(--_size);
  --_height: var(--_size);
}

:host > .root {
  display: flex;
  flex-direction: var(--_child-layout);
  justify-content: var(--_child-justify);
  align-items: var(--_child-align);
  flex-shrink: var(--_shrink);
  border-radius: var(--_corner);
  aspect-ratio: var(--_aspect);
  width: var(--_width);
  height: var(--_height);
  will-change: transform;
}
