:host {
  display: contents;
  --position: absolute;
  --width-max: 20rem;
  --hide-delay: 0ms;
  --show-delay: 75ms;
  --interactable: auto;
  --width: max-content;
  --z: var(--s-z-index-tooltip);
  --background-color: var(--s-tooltip-background-color);
  --text-font: var(--s-tooltip-font-family);
  --text-size: var(--s-tooltip-font-size);
  --text-weight: var(--s-tooltip-font-weight);
  --text-leading: var(--s-tooltip-line-height);
  --text-color: var(--s-tooltip-color);
  --corner: var(--s-tooltip-border-radius);
  --padding-tb: 4px;
  --padding-lr: 8px;
  --shadow: var(--s-shadow-box-2);
  --enter: var(--s-animation-enter-fade);
  --exit: var(--s-animation-exit-fade);
  --ease: ease-out;
}

:host > .root {
  display: contents;
}

:host > .popup {
  will-change: transform, opacity;
}
:host([open]) > .popup {
  animation: var(--enter) forwards;
  animation-timing-function: var(--ease);
}
:host(:not([open])) > .popup {
  animation: var(--exit) forwards;
  animation-timing-function: var(--ease);
}

:host > .popup {
  isolation: isolate;
  pointer-events: var(--interactable);
  z-index: var(--z);
  position: var(--position);
  width: var(--width);
  max-width: var(--width-max);
  background-color: var(--background-color);
  font-family: var(--text-font);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  line-height: var(--text-leading);
  color: var(--text-color);
  border-radius: var(--corner);
  padding-block: var(--padding-tb);
  padding-inline: var(--padding-lr);
  max-width: var(--auto-size-available-width, none);
  max-height: var(--auto-size-available-height, none);
  box-shadow: var(--shadow);
}

:host > .popup.fixed {
  position: fixed;
}

:host([placement^="top"]) > .popup {
  transform-origin: bottom;
}

:host([placement^="bottom"]) > .popup {
  transform-origin: top;
}

:host([placement^="left"]) > .popup {
  transform-origin: right;
}

:host([placement^="right"]) > .popup {
  transform-origin: left;
}
