<s-box p="16 0" grow>
  <se-file-list include="*.{txt,spec,sd}" accept="image/*, audio/*, video/*">
    <se-file-list-border slot="empty">
      <s-icon icon="triangle-square-circle 1" size="48" m="12"></s-icon>
      No Specs
    </se-file-list-border>
    <s-box m="16 24 0 24" corner="8" border-color="white" border-width="1" border-style="dashed" child-align="center"
      child-justify="center" height="100%" text-size="md" bg-color="fg-04" grow slot="dragover">
      <s-icon icon="files 1" size="48" m="12"></s-icon>
      Drop Specs
    </s-box>
  </se-file-list>
</s-box>
<se-file-add-button filename="spec_00.spec">Add Spec</se-file-add-button>