:root,
.s-theme-light,
.s-theme-dark {
  --s-animation-spin: spin 1s linear infinite;
  --s-animation-ping: ping 1.5s linear infinite;
  --s-animation-sheen: sheen 8s ease-in-out infinite;
  --s-animation-blink: blink 1s cubic-bezier(0, 0, 0.3, 1) infinite;
  --s-animation-float: float 3s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  --s-animation-bounce: bounce 1s linear infinite;
  --s-animation-shake-x: shake-x 0.75s cubic-bezier(0, 0, 0, 1);
  --s-animation-shake-y: shake-y 0.75s cubic-bezier(0, 0, 0, 1);
  --s-animation-fade-in: fade-in 100ms linear;
  --s-animation-fade-out: fade-out 100ms linear;
  --s-animation-scale-up: scale-up 100ms ease-out;
  --s-animation-scale-down: scale-down 100ms ease-out;
  --s-animation-slide-out-up: slide-out-up 100ms ease-out;
  --s-animation-slide-out-down: slide-out-down 100ms ease-out;
  --s-animation-slide-out-left: slide-out-left 100ms ease-out;
  --s-animation-slide-out-right: slide-out-right 100ms ease-out;
  --s-animation-slide-in-up: slide-in-up 100ms ease-out;
  --s-animation-slide-in-down: slide-in-down 100ms ease-out;
  --s-animation-slide-in-left: slide-in-left 100ms ease-out;
  --s-animation-slide-in-right: slide-in-right 100ms ease-out;
  --s-animation-exit: exit 75ms linear;
  --s-animation-exit-up: exit-up 25ms ease-out;
  --s-animation-exit-down: exit-down 25ms ease-out;
  --s-animation-exit-left: exit-left 25ms ease-out;
  --s-animation-exit-right: exit-right 25ms ease-out;
  --s-animation-enter: enter 100ms ease-out;
  --s-animation-enter-up: enter-up 25ms ease-out;
  --s-animation-enter-down: enter-down 25ms ease-out;
  --s-animation-enter-left: enter-left 25ms ease-out;
  --s-animation-enter-right: enter-right 25ms ease-out;
  --s-animation-open: open 100ms ease-out;
  --s-animation-close: close 75ms linear;
  --s-animation-pulse: pulse 150ms ease-in-out;
}
