:host {
  display: contents;
}

:host * {
  touch-action: pan-y;
  --touch-action: "pan-y";
}

:host > .root {
  pointer-events: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.25s;
}
