<s-box overflow-y="scroll">
  <s-box p="16 0" navigation="keyboard" grow>
    <se-file-button>sound_00</se-file-button>
    <se-file-button>sound_01</se-file-button>
    <se-file-button>sound_02</se-file-button>
    <se-file-button>sound_03</se-file-button>
    <se-file-button>sound_04</se-file-button>
    <se-file-button>sound_05</se-file-button>
    <se-file-button>sound_06</se-file-button>
    <se-file-button>sound_07</se-file-button>
    <se-file-button>sound_08</se-file-button>
    <se-file-button>sound_09</se-file-button>
    <se-file-button>sound_10</se-file-button>
  </s-box>
  <se-add-fab>Add Sound</se-add-fab>
</s-box>