<s-button id="open-button" width="56" height="56" variant="icon" icon="menu" text-size="xl" color="fg"></s-button>
<s-drawer bg-color="primary-bg">
  <s-box child-layout="row" child-align="center">
    <s-button id="close-button" width="56" height="56" variant="icon" icon="arrow-left" text-size="xl"
      color="fg"></s-button>
    <s-box padding="8" text-size="lg" text-weight="500">Impower Engine</s-box>
  </s-box>
  <s-box>
    <se-sync-google-drive id="google-sync"></se-sync-google-drive>
  </s-box>
</s-drawer>