<s-button id="openButton" width="56" height="56" variant="icon" icon="menu" text-size="xl" color="fg"></s-button>
<s-drawer id="drawer" bg-color="primary-bg">
  <s-box height="header-nav" child-layout="row" child-align="center">
    <s-button id="closeButton" width="56" height="56" variant="icon" icon="arrow-left" text-size="xl"
      color="fg"></s-button>
    <s-box padding="8" text-size="lg" text-weight="500">Impower Engine</s-box>
  </s-box>
  <s-divider></s-divider>
  <s-box grow>
    <se-account id="account"></se-account>
  </s-box>
</s-drawer>