:host {
  display: contents;
}
:host {
  --child-layout: column;
  --expand: 1;
}

.router {
  display: flex;
  flex-direction: var(--child-layout);
  flex: var(--expand);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
