<div class="root" part="root">
  <slot class="header-slot" name="header"></slot>
  <div class="content" part="content">
    <div class="exit-fade" part="exit-fade">
      <div class="exit-transform" part="exit-transform">
        <slot class="content-slot"></slot>
      </div>
    </div>
    <div class="enter-fade" part="enter-fade">
      <div class="enter-transform" part="enter-transform">
        <slot class="enter-content-slot" name="enter-content"></slot>
      </div>
    </div>
  </div>
  <slot class="footer-slot" name="footer"></slot>
</div>