<s-button id="pushButton" variant="text" text-align="left" width="56" height="56" text-size="2xs" child-layout="column"
  color="yellow-70">
  <s-icon icon="arrow-up" size="20" m-b="1"></s-icon>
  PUSH
</s-button>
<s-button id="pullButton" variant="text" text-align="left" width="56" height="56" text-size="2xs" child-layout="column"
  color="yellow-70">
  <s-icon icon="arrow-down" size="20" m-b="1"></s-icon>
  PULL
</s-button>
<!-- <s-dialog id="pushDialog" label="Overwrite remote file with local changes?" cancel="Cancel"
  confirm="Yes, overwrite remote" open>
  This action is irreversible!
</s-dialog> -->
<!-- <s-dialog id="pullDialog" label="Overwrite local changes with remote file?" cancel="Cancel"
  confirm="Yes, overwrite local" open>
  This action is irreversible!
</s-dialog> -->