:host {
  --_exit: var(--theme-animation-close);
  --_enter: var(--theme-animation-open);
  --_ease: ease-out;
  --_position: relative;
}

:host {
  display: flex;
  position: relative;
  flex: 1;
  will-change: transform, opacity;
}
:host[status] {
  overflow-x: clip;
  overflow-y: clip;
}
:host[status="exiting"]::after {
  content: "";
  position: absolute;
  inset: 0;
  /* Block input during exit animation */
  pointer-events: auto;
}
:host[status="exiting"] {
  animation: var(--_exit) both;
  animation-timing-function: var(--_ease);
}
:host[status="entering"] {
  animation: var(--_enter) both;
  animation-timing-function: var(--_ease);
}
