:host {
  display: contents;
  --exit: var(--theme_animation-close);
  --enter: var(--theme_animation-open);
  --ease: ease-out;
  --position: relative;
}

:host > .root {
  display: flex;
  position: relative;
  flex: 1;
  will-change: transform, opacity;
}
:host > .root[status] {
  overflow-x: clip;
  overflow-y: clip;
}
:host > .root[status="exiting"]::after {
  content: "";
  position: absolute;
  inset: 0;
  /* Block input during exit animation */
  pointer-events: auto;
}
:host > .root[status="exiting"] {
  animation: var(--exit) both;
  animation-timing-function: var(--ease);
}
:host > .root[status="entering"] {
  animation: var(--enter) both;
  animation-timing-function: var(--ease);
}
