:host {
  display: contents;
}
:host {
  --interactable: auto;
  --background-color: var(--s-color-surface);
  --child-layout: column;
  --child-align: stretch;
  --child-justify: flex-start;
  --child-gap: 16px;
  --shadow: var(--s-shadow-drop-5);
  --z: var(--s-z-index-dialog);
  --ease: ease;
  --title-text-weight: 400;
  --title-text-size: var(--s-text-2xl-font-size);
  --title-text-leading: var(--s-text-2xl-line-height);
  --text-size: var(--s-text-sm-font-size);
  --text-leading: var(--s-text-sm-line-height);
  --border-color: var(--s-color-surface-border);
  --border-width: 1px;
  --corner: 8px;
  --margin: auto;
  --padding: 24px;
  --animation-ease: var(--s-easing-ease-squish-3);
  --animation-enter: var(--s-animation-scale-up);
  --animation-exit: var(--s-animation-scale-down);
  --animation-enter-mobile: var(--s-animation-slide-in-up);
  --animation-exit-mobile: var(--s-animation-slide-out-down);
}

.root {
  pointer-events: var(--interactable);
  display: flex;
  flex-direction: var(--child-layout);
  align-items: var(--child-align);
  padding: 0;
  position: fixed;
  inset: 0;
  overflow: hidden;
  filter: var(--shadow);
  z-index: var(--z);
  color: var(--text-color);
  transition: opacity 0.5s var(--ease);
  background-color: var(--background-color);
  border-style: solid;
  border-block-start-color: var(--border-block-start-color);
  border-block-end-color: var(--border-block-end-color);
  border-inline-start-color: var(--border-inline-start-color);
  border-inline-end-color: var(--border-inline-end-color);
  border-block-start-width: var(--border-block-start-width);
  border-block-end-width: var(--border-block-end-width);
  border-inline-start-width: var(--border-inline-start-width);
  border-inline-end-width: var(--border-inline-end-width);
  border-start-start-radius: var(--border-start-start-radius);
  border-start-end-radius: var(--border-start-end-radius);
  border-end-start-radius: var(--border-end-start-radius);
  border-end-end-radius: var(--border-end-end-radius);
  margin-block-start: var(--margin-block-start);
  margin-block-end: var(--margin-block-end);
  margin-inline-start: var(--margin-inline-start);
  margin-inline-end: var(--margin-inline-end);
  padding-block-start: var(--padding-block-start);
  padding-block-end: var(--padding-block-end);
  padding-inline-start: var(--padding-inline-start);
  padding-inline-end: var(--padding-inline-end);
  max-inline-size: min(90vw, 60ch);
  animation: var(--animation-exit) forwards;
  animation-timing-function: var(--animation-ease);
}
:host([open]) .root {
  animation: var(--animation-enter) forwards;
}
@media (width <= 960px) {
  .root {
    margin-block-end: 0;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    animation: var(--animation-exit-mobile) forwards;
    animation-timing-function: var(--animation-ease);
  }
  :host([open]) .root {
    animation: var(--animation-enter-mobile) forwards;
  }
}
:host(:not([open])) .root {
  pointer-events: none;
  opacity: 0;
}
.root[connecting] {
  visibility: hidden;
}

.root::backdrop {
  backdrop-filter: blur(25px) brightness(25%);
  transition: backdrop-filter 0.5s ease;
}

form {
  display: flex;
  flex-direction: var(--child-layout);
  align-items: var(--child-align);
  gap: var(--child-gap);
  max-block-size: 80vh;
  max-block-size: 80dvb;
}

.header {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: var(--child-gap);
}
:host([icon]) .header {
  align-items: center;
  align-self: center;
}

.icon {
  font-size: 24px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--child-gap);
  padding-block-start: 8px;
}

.label {
  font-weight: var(--title-text-weight);
  font-size: var(--title-text-size);
  line-height: var(--title-text-leading);
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-inline-start: 0;
  gap: 8px;
}
.menu:only-child {
  margin-inline-start: auto;
}

.article {
  overflow-y: auto;
  max-block-size: 100%; /* safari */
  overscroll-behavior-y: contain;
  display: flex;
  justify-items: flex-start;
  z-index: 1;
  font-size: var(--text-size);
  line-height: var(--text-leading);
  gap: var(--child-gap);
  border-style: color;
  border-block-start-color: var(--border-block-start-color);
  border-block-end-color: var(--border-block-end-color);
  border-inline-start-color: var(--border-inline-start-color);
  border-inline-end-color: var(--border-inline-end-color);
  border-block-start-width: var(--border-block-start-width);
  border-block-end-width: var(--border-block-end-width);
  border-inline-start-width: var(--border-inline-start-width);
  border-inline-end-width: var(--border-inline-end-width);
}
