:host {
  display: contents;
}
:host {
  --color: var(--s-color-neutral-30);
  --sheen-color: var(--s-color-neutral-40);
  --min-width: 40px;
  --width: 100%;
  --height: 1em;
  --expand: 1;
  --corner-tl: 9999px;
  --corner-tr: 9999px;
  --corner-br: 9999px;
  --corner-bl: 9999px;
  --bg-fit: 400% 100%;
  --bg-gradient: linear-gradient(
    270deg,
    var(--sheen-color),
    var(--color),
    var(--color),
    var(--sheen-color)
  );
}

.skeleton {
  display: flex;
  min-width: var(--min-width);
  width: var(--width);
  height: var(--height);
  flex: var(--expand);
  background-size: var(--bg-fit);
  background-image: var(--bg-gradient);
  border-top-left-radius: var(
    --corner-tl,
    var(--corner-t, var(--corner-l, var(--corner)))
  );
  border-top-right-radius: var(
    --corner-tr,
    var(--corner-t, var(--corner-r, var(--corner)))
  );
  border-bottom-right-radius: var(
    --corner-br,
    var(--corner-b, var(--corner-r, var(--corner)))
  );
  border-bottom-left-radius: var(
    --corner-bl,
    var(--corner-b, var(--corner-l, var(--corner)))
  );
}
