:host {
  display: contents;
}
:host {
  --color: var(--s-color-neutral-30);
  --sheen-color: var(--s-color-neutral-40);
  --width-min: 40px;
  --width: 100%;
  --height: 1em;
  --grow: 1;
  --shrink: 0;
  --background-fit: 400% 100%;
  --background-gradient: linear-gradient(
    270deg,
    var(--sheen-color),
    var(--color),
    var(--color),
    var(--sheen-color)
  );
  --corner: 9999px;
  --corner-t: var(--corner);
  --corner-l: var(--corner);
  --corner-r: var(--corner);
  --corner-b: var(--corner);
  --corner-tl: var(--corner);
  --corner-tr: var(--corner);
  --corner-br: var(--corner);
  --corner-bl: var(--corner);
}

.root {
  display: flex;
  min-width: var(--width-min);
  width: var(--width);
  height: var(--height);
  flex-grow: var(--grow);
  flex-shrink: var(--shrink);
  background-size: var(--background-fit);
  background-image: var(--background-gradient);
  border-top-left-radius: var(
    --corner-tl,
    var(--corner-t, var(--corner-l, var(--corner)))
  );
  border-top-right-radius: var(
    --corner-tr,
    var(--corner-t, var(--corner-r, var(--corner)))
  );
  border-bottom-right-radius: var(
    --corner-br,
    var(--corner-b, var(--corner-r, var(--corner)))
  );
  border-bottom-left-radius: var(
    --corner-bl,
    var(--corner-b, var(--corner-l, var(--corner)))
  );
}
