:host {
  --_duration: 150ms;
}

:host {
  display: flex;
  position: relative;
  transition-property: opacity;
}

:host([loaded]) {
  transition-duration: var(--_duration);
}

:host(:not([loaded])) {
  transition-duration: 0 !important;
}

:host([status="hiding"]) {
  opacity: 0;
}
:host([status="hiding"]::after) {
  content: "";
  position: absolute;
  inset: 0;
  /* Block input during exit animation */
  pointer-events: auto;
}

:host([initial="hide"]:not([loaded])),
:host([status="hidden"]) {
  display: none;
}

:host([loaded][status="mounting"]) {
  display: flex;
  opacity: 0;
}

:host([loaded]:is([status="showing"], [status="shown"])) {
  opacity: 1;
}
