:host {
  display: contents;
  --duration: 150ms;
}

:host > .root {
  display: flex;
  position: relative;
  transition-property: opacity;
}

:host > .root[loaded] {
  transition-duration: var(--duration);
}

:host > .root:not([loaded]) {
  transition-duration: 0 !important;
}

:host > .root[status="hiding"] {
  opacity: 0;
}
:host > .root[status="hiding"]::after {
  content: "";
  position: absolute;
  inset: 0;
  /* Block input during exit animation */
  pointer-events: auto;
}

:host([initial="hide"]) > .root:not([loaded]),
:host > .root[status="hidden"] {
  display: none;
}

:host > .root[loaded][status="mounting"] {
  display: flex;
  opacity: 0;
}

:host > .root[loaded]:is([status="showing"], [status="shown"]) {
  opacity: 1;
}
