:root {
  background-color: hsl(210.6, 100%, 10%);
  color: #ffffffde;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}

spark-web-player {
  height: 100vh;
}
