:host {
  display: contents;
}
:host {
  --split: 50%;
  --interactable: auto;
  --grow: 1;
  --shrink: 0;
  --divider-width: 1px;
  --divider-color: var(--s-color-divider);
  --divider-text-color: var(--s-color-neutral-95);
  --focus-text-color: var(--s-color-neutral-0);
  --divider-hit-area: 16px;
}
/* Make hit area smaller for pointers that can be more precise */
@media (hover: hover) and (pointer: fine) {
  :host {
    --divider-hit-area: 4px;
  }
}

.root {
  pointer-events: inherit;
  display: flex;
  flex-direction: row;
  flex-grow: var(--grow);
  flex-shrink: var(--shrink);
}
:host(:not(vertical)[flipped="flip"]) .root {
  flex-direction: column;
}
:host(:not(vertical)[flipped="flip-reverse"]) .root {
  flex-direction: column-reverse;
}
:host(:is([vertical])[flipped="flip-reverse"]) .root {
  flex-direction: row-reverse;
}

.divider {
  pointer-events: var(--interactable);
  flex: 0 0 var(--divider-width);
  background-color: var(--divider-color);
  color: var(--divider-text-color);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 9999px;
  transition-property: box-shadow;
  transition-duration: 150ms;
  box-shadow: 0 0 0 1px transparent;
}
:host(:not([disabled])) .divider {
  cursor: col-resize;
}
:host(:not([disabled]):is([vertical], [flipped])) .divider {
  cursor: row-resize;
}
.divider:focus {
  outline: none;
}
:host(:not([disabled])) .divider:focus-visible {
  background-color: var(--s-color-focus);
  color: var(--focus-text-color);
  outline: var(--s-color-focus) var(--s-focus-ring-style)
    var(--s-focus-ring-width);
  outline-offset: var(--divider-width);
}
@media (hover: hover) and (pointer: fine) {
  :host(:not([disabled])) .divider:hover,
  :host(:not([disabled])) .divider:active {
    box-shadow: 0 0 0 1px var(--divider-color);
  }
}

.divider::after {
  content: "";
  position: absolute;
  display: flex;
  flex-direction: row;
  width: var(--divider-hit-area);
  height: 100%;
  top: auto;
  left: calc(var(--divider-hit-area) / -2 + var(--divider-width) / 2);
}
:host(:is([vertical], [flipped])) .divider::after {
  content: "";
  position: absolute;
  display: block;
  flex-direction: column;
  width: 100%;
  height: var(--divider-hit-area);
  top: calc(var(--divider-hit-area) / -2 + var(--divider-width) / 2);
  left: auto;
}

.start-panel {
  position: relative;
  display: block;
  overflow: hidden;
}
:host(:not([vertical], [flipped])) .start-panel {
  min-width: var(--min-panel-width);
  max-width: calc(100% - var(--min-panel-width));
  width: var(--split);
  height: 100%;
}
:host(:not([vertical], [flipped]):is([collapsed="end"], [solo="start"]))
  .start-panel {
  width: 100%;
  max-width: none;
}
:host(:is([vertical], [flipped])) .start-panel {
  min-height: var(--min-panel-height);
  max-height: calc(100% - var(--min-panel-height));
  width: 100%;
  height: var(--split);
}
:host(:is([vertical], [flipped]):is([collapsed="end"], [solo="start"]))
  .start-panel {
  max-height: none;
}

.end-panel {
  position: relative;
  display: block;
  overflow: hidden;
  flex: 1;
}
:host(:not([vertical], [flipped])) .end-panel {
  min-width: 0;
}
:host(:is([vertical], [flipped])) .end-panel {
  min-height: 0;
}
