/****************************** DEFAULT STYLES ******************************/

.screen {
  --_background: var(--theme_color-neutral-10);
  --_text-color: var(--theme_color-neutral-90);
  --_focus-color: var(--theme_color-primary-60);
  --_button-background: var(--theme_color-neutral-20);
  --_button-background-hover: var(--theme_color-neutral-30);
  --_button-border: var(--theme_color-neutral-50);
  --_button-border-hover: var(--theme_color-neutral-60);
  --_button-background-active: var(--theme_color-neutral-40);
  --_button-text: var(--theme_color-neutral-100);
  --_input-background: var(--theme_color-neutral-20);
  --_input-background-hover: var(--theme_color-neutral-20);
  --_input-border: var(--theme_color-neutral-50);
  --_input-border-hover: var(--theme_color-neutral-60);
  --_input-text: var(--theme_color-neutral-100);
  --_input-text-placeholder: var(--theme_color-neutral-70);
  --_dropdown-background: var(--theme_color-neutral-20);
  --_dropdown-background-hover: var(--theme_color-neutral-30);
  --_dropdown-border: var(--theme_color-neutral-50);
  --_dropdown-border-hover: var(--theme_color-neutral-60);
  --_dropdown-text: var(--theme_color-neutral-100);
  --_option-background: var(--theme_color-neutral-20);
  --_option-background-selected: var(--theme_color-neutral-50);
  --_option-text: var(--theme_color-neutral-100);
  --_checkbox-background: var(--theme_color-neutral-20);
  --_checkbox-background-hover: var(--theme_color-neutral-30);
  --_checkbox-background-checked: var(--theme_color-primary-60);
  --_checkbox-border: var(--theme_color-neutral-60);
  --_checkbox-border-hover: var(--theme_color-neutral-60);
  --_checkbox-check: var(--theme_color-fill-contrast);
  --_slider-thumb-fill: var(--theme_color-primary-60);
  --_slider-thumb-border: var(--theme_color-primary-60);
  --_slider-fill-color: var(--theme_color-primary-60);
  --_slider-track-color: var(--theme_color-neutral-40);
}

* {
  scrollbar-color: var(--theme_color-scrollbar-thumb)
    var(--theme_color-scrollbar-track);
  scrollbar-width: var(--theme_scrollbar-thickness);
  scrollbar-gutter: var(--theme_scrollbar-gutter);
  scroll-behavior: var(--theme_scrollbar-behavior);
  scroll-margin: var(--theme_scrollbar-margin);
  scroll-padding: var(--theme_scrollbar-padding);
}

.screen {
  gap: 16px;
  min-height: 100vh;
  font-size: 16px;
  color: var(--_text-color);
}

.component {
  gap: 8px;
}

style {
  display: none;
}

.Box {
  background: var(--_background);
  padding: 16px;
  border-radius: 8px;
  gap: 16px;
}

.Row {
  flex-direction: row;
  gap: 12px;
}

.Column {
  flex-direction: column;
  gap: 12px;
}

.Grid {
  display: grid;
  grid-template-columns: var(--columns, 1fr 1fr 1fr);
  gap: 12px;
}
.Grid * {
  min-width: 0;
  max-width: 100%;
  flex-shrink: 1;
}

.Text {
  white-space: pre-wrap;
  font-size: 16px;
  color: inherit;
}

.Image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
}

.Button {
  padding: 10px 20px;
  border-radius: 8px;
  color: var(--_button-text);
  font-weight: 600;
  text-align: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-color: var(--_button-border);
  background-color: var(--_button-background);
}
.Button:hover {
  border-color: var(--_button-border-hover);
  background-color: var(--_button-background-hover);
}
.Button:active {
  background: var(--_button-background-active);
}

.InputGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;
  position: relative;
}

.Label {
  white-space: pre-wrap;
  font-size: 16px;
  color: inherit;
}

.Input {
  padding: 8px 12px;
  border-radius: 6px;
  color: var(--_input-text);
  border-width: 1px;
  border-style: solid;
  border-color: var(--_input-border);
  background-color: var(--_input-background);
}
.Input:hover {
  border-color: var(--_input-border-hover);
  background-color: var(--_input-background-hover);
}
.Input::placeholder {
  color: var(--_input-text-placeholder);
}

.InputArea {
  width: 100%;
  min-height: 100px;
  padding: 8px 12px;
  font-size: 1rem;
  font-family: inherit;
  color: var(--_text-color);
  border-radius: 8px;
  resize: vertical;
  outline: none;
  resize: none; /* don't allow resizing */
  overflow: auto;
  transition: border-color 0.2s, background-color 0.2s;
  border-width: 1px;
  border-style: solid;
  border-color: var(--_input-border);
  background-color: var(--_input-background);
}

.Slider {
  appearance: none;
  background: linear-gradient(
    to right,
    var(--_slider-fill-color) var(--fill-percentage, 50%),
    var(--_slider-track-color) var(--fill-percentage, 50%)
  );
  height: 6px;
  border-radius: 3px;
  width: 100%;
  margin: 6px 0;
}
.Slider::-webkit-slider-thumb {
  appearance: none;
  border-radius: 50%;
  margin-top: calc(-1 * 16px / 4);
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: var(--_slider-thumb-fill);
  border: 2px solid var(--_slider-thumb-border);
}
.Slider:focus::-webkit-slider-thumb {
  border-color: var(--_focus-color);
}
.Slider::-moz-range-thumb {
  border-radius: 50%;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: var(--_slider-thumb-fill);
  border: 2px solid var(--_slider-thumb-border);
}
:is([fill_color], [track_color], [fill_percentage]).Slider {
  background: linear-gradient(
    to right,
    var(--fill-color, var(--_slider-fill-color)) var(--fill-percentage, 50%),
    var(--track-color, var(--_slider-track-color)) var(--fill-percentage, 50%)
  );
}
[fill_color].Slider::-moz-range-progress {
  background: var(--fill-color, var(--_slider-fill-color));
}
[thumb_color].Slider::-webkit-slider-thumb {
  background: var(--thumb-color, var(--_slider-thumb-fill));
}
[thumb_color].Slider::-moz-range-thumb {
  background: var(--thumb-color, var(--_slider-thumb-fill));
}
[thumb_size].Slider::-webkit-slider-thumb {
  margin-top: calc(-1 * var(--thumb-size, 16px) / 4);
  width: var(--thumb-size, 16px);
  height: var(--thumb-size, 16px);
}
[thumb_size].Slider::-moz-range-thumb {
  width: var(--thumb-size, 16px);
  height: var(--thumb-size, 16px);
}
[thumb_border].Slider::-webkit-slider-thumb {
  border: var(--thumb-border, 2px solid var(--_slider-thumb-border));
}
[thumb_border].Slider::-moz-range-thumb {
  border: var(--thumb-border, 2px solid var(--_slider-thumb-border));
}
[thumb_focus_color].Slider:focus::-webkit-slider-thumb {
  border-color: var(--thumb-focus-color, var(--_focus-color));
}

.InputGroup:has(.Checkbox) {
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.Checkbox {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
  position: relative;
  align-self: center;
  border-width: 1px;
  border-style: solid;
  border-color: var(--_checkbox-border);
  background-color: var(--_checkbox-background);
}
.Checkbox:hover {
  border-color: var(--_checkbox-border-hover);
  background-color: var(--_checkbox-background-hover);
}
.Checkbox:checked {
  border-color: var(--_checkbox-background-checked);
  background: var(--_checkbox-background-checked);
}
.Checkbox:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid var(--_checkbox-check);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.Dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 12px;
  border-radius: 6px;
  color: var(--_dropdown-text);
  font-size: 16px;
  line-height: 1.25;
  min-width: 160px;
  cursor: pointer;
  padding-right: 36px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--_dropdown-border);
  background-color: var(--_dropdown-background);
}
.DropdownArrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-color: currentColor;
  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5z'/></svg>");
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5z'/></svg>");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
  pointer-events: none;
}
.Dropdown:hover {
  border-color: var(--_dropdown-border-hover);
  background-color: var(--_dropdown-background-hover);
}

.Option {
  background: var(--_option-background);
  color: var(--_option-text);
  padding: 4px 10px;
}
.Option[selected] {
  background: var(--_option-background-selected);
  font-weight: bold;
}

.Button,
.Dropdown,
.Input,
.InputArea,
.Checkbox,
.Slider {
  transition: var(--theme_transition-fast) color,
    var(--theme_transition-fast) outline, var(--theme_transition-fast) border,
    var(--theme_transition-fast) box-shadow,
    var(--theme_transition-fast) background-color;
}

.Button:focus,
.Dropdown:focus,
.Input:focus,
.InputArea:focus {
  outline: none;
  box-shadow: 0 0 0 var(--theme_focus-ring-width) var(--theme_focus-ring-color);
  border-color: var(--theme_color-primary-60);
}
