/****************************** THEME STYLES ******************************/

:is(:root, :host) > * {
  /*
   * Colors
   */

  /* Primary */
  --theme_color-primary-10: var(--theme_color-sky-10);
  --theme_color-primary-20: var(--theme_color-sky-20);
  --theme_color-primary-30: var(--theme_color-sky-30);
  --theme_color-primary-40: var(--theme_color-sky-40);
  --theme_color-primary-50: var(--theme_color-sky-50);
  --theme_color-primary-60: var(--theme_color-sky-60);
  --theme_color-primary-70: var(--theme_color-sky-70);
  --theme_color-primary-80: var(--theme_color-sky-80);
  --theme_color-primary-90: var(--theme_color-sky-90);
  --theme_color-primary-95: var(--theme_color-sky-95);
  --theme_color-primary-99: var(--theme_color-sky-99);

  /* Success */
  --theme_color-success-10: var(--theme_color-green-10);
  --theme_color-success-20: var(--theme_color-green-20);
  --theme_color-success-30: var(--theme_color-green-30);
  --theme_color-success-40: var(--theme_color-green-40);
  --theme_color-success-50: var(--theme_color-green-50);
  --theme_color-success-60: var(--theme_color-green-60);
  --theme_color-success-70: var(--theme_color-green-70);
  --theme_color-success-80: var(--theme_color-green-80);
  --theme_color-success-90: var(--theme_color-green-90);
  --theme_color-success-95: var(--theme_color-green-95);
  --theme_color-success-99: var(--theme_color-green-99);

  /* Warning */
  --theme_color-warning-10: var(--theme_color-amber-10);
  --theme_color-warning-20: var(--theme_color-amber-20);
  --theme_color-warning-30: var(--theme_color-amber-30);
  --theme_color-warning-40: var(--theme_color-amber-40);
  --theme_color-warning-50: var(--theme_color-amber-50);
  --theme_color-warning-60: var(--theme_color-amber-60);
  --theme_color-warning-70: var(--theme_color-amber-70);
  --theme_color-warning-80: var(--theme_color-amber-80);
  --theme_color-warning-90: var(--theme_color-amber-90);
  --theme_color-warning-95: var(--theme_color-amber-95);
  --theme_color-warning-99: var(--theme_color-amber-99);

  /* Danger */
  --theme_color-danger-10: var(--theme_color-red-10);
  --theme_color-danger-20: var(--theme_color-red-20);
  --theme_color-danger-30: var(--theme_color-red-30);
  --theme_color-danger-40: var(--theme_color-red-40);
  --theme_color-danger-50: var(--theme_color-red-50);
  --theme_color-danger-60: var(--theme_color-red-60);
  --theme_color-danger-70: var(--theme_color-red-70);
  --theme_color-danger-80: var(--theme_color-red-80);
  --theme_color-danger-90: var(--theme_color-red-90);
  --theme_color-danger-95: var(--theme_color-red-95);
  --theme_color-danger-99: var(--theme_color-red-99);

  /* Fill Contrast */
  --theme_color-fill-contrast: hsl(0 0% 100%);

  /*
   * Breakpoints
   */

  --theme_breakpoint-xs: 400px;
  --theme_breakpoint-sm: 600px;
  --theme_breakpoint-md: 960px;
  --theme_breakpoint-lg: 1280px;
  --theme_breakpoint-xl: 1920px;

  /*
   * Typography
   */

  /* Fonts */
  --theme_font-mono: "Courier Prime Sans", SFMono-Regular, Consolas,
    "Liberation Mono", Menlo, monospace;
  --theme_font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --theme_font-serif: Georgia, "Times New Roman", serif;
  --theme_font-icon: "icon";

  /* Type Scales */
  --theme_text-2xs-font-size: 0.6875rem;
  --theme_text-2xs-line-height: 1rem;

  --theme_text-xs-font-size: 0.75rem;
  --theme_text-xs-line-height: 1rem;

  --theme_text-sm-font-size: 0.875rem;
  --theme_text-sm-line-height: 1.25rem;

  --theme_text-md-font-size: 1rem;
  --theme_text-md-line-height: 1.5rem;

  --theme_text-lg-font-size: 1.125rem;
  --theme_text-lg-line-height: 1.75rem;

  --theme_text-xl-font-size: 1.25rem;
  --theme_text-xl-line-height: 1.75rem;

  --theme_text-2xl-font-size: 1.5rem;
  --theme_text-2xl-line-height: 2rem;

  --theme_text-3xl-font-size: 1.875rem;
  --theme_text-3xl-line-height: 2.25rem;

  --theme_text-4xl-font-size: 2.25rem;
  --theme_text-4xl-line-height: 2.5rem;

  --theme_text-5xl-font-size: 3rem;
  --theme_text-5xl-line-height: 1;

  --theme_text-6xl-font-size: 3.75rem;
  --theme_text-6xl-line-height: 1;

  --theme_text-7xl-font-size: 4.5rem;
  --theme_text-7xl-line-height: 1;

  --theme_text-8xl-font-size: 6rem;
  --theme_text-8xl-line-height: 1;

  --theme_text-9xl-font-size: 8rem;
  --theme_text-9xl-line-height: 1;

  /* Text Leading */
  --theme_text-leading-none: 1;
  --theme_text-leading-xs: 1.25;
  --theme_text-leading-sm: 1.375;
  --theme_text-leading-md: 1.5;
  --theme_text-leading-lg: 1.625;
  --theme_text-leading-xl: 2;

  /* Text Kerning */
  --theme_text-kerning-xs: -0.05em;
  --theme_text-kerning-sm: -0.025em;
  --theme_text-kerning-md: 0em;
  --theme_text-kerning-lg: 0.025em;
  --theme_text-kerning-xl: 0.05em;
  --theme_text-kerning-2xl: 0.1em;

  /*
   * Opacities
   */

  --theme_opacity-drag: 0.16;
  --theme_opacity-press: 0.12;
  --theme_opacity-focus: 0.12;
  --theme_opacity-hover: 0.05;

  /*
   * Ratios
   */
  --theme_ratio-square: 1;
  --theme_ratio-landscape: 4/3;
  --theme_ratio-portrait: 3/4;
  --theme_ratio-widescreen: 16/9;
  --theme_ratio-ultrawide: 18/5;
  --theme_ratio-eighth: 1/8;
  --theme_ratio-quarter: 1/4;
  --theme_ratio-half: 1/2;
  --theme_ratio-third: 1/3;
  --theme_ratio-sixteenth: 1/16;
  --theme_ratio-minor-second: 1.067;
  --theme_ratio-major-second: 1.125;
  --theme_ratio-minor-third: 1.2;
  --theme_ratio-major-third: 1.25;
  --theme_ratio-perfect-fourth: 1.333;
  --theme_ratio-augmented-fourth: 1.414;
  --theme_ratio-perfect-fifth: 1.5;
  --theme_ratio-golden: 1.618;
  --theme_ratio-major-sixth: 1.667;
  --theme_ratio-minor-seventh: 1.778;
  --theme_ratio-major-seventh: 1.875;
  --theme_ratio-octave: 2;

  /*
   * Spacing
   */
  --theme_spacing-3xs: 2px;
  --theme_spacing-2xs: 4px;
  --theme_spacing-xs: 8px;
  --theme_spacing-sm: 12px;
  --theme_spacing-md: 16px;
  --theme_spacing-lg: 20px;
  --theme_spacing-xl: 28px;
  --theme_spacing-2xl: 36px;
  --theme_spacing-3xl: 48px;
  --theme_spacing-4xl: 72px;

  /*
   * Transitions
   */
  --theme_transition-x-slow: 1000ms;
  --theme_transition-slow: 500ms;
  --theme_transition-medium: 250ms;
  --theme_transition-fast: 150ms;
  --theme_transition-x-fast: 50ms;

  /*
   * Elements
   */

  /* General */
  --theme_color-focus: var(--theme_color-primary-60);
  --theme_color-text: var(--theme_color-neutral-90);
  --theme_color-surface: var(--theme_color-neutral-10);
  --theme_color-surface-border: var(--theme_color-fg-12);

  /* Divider */
  --theme_color-divider: var(--theme_color-fg-12);

  /* Scrollbars */
  --theme_color-scrollbar-thumb: var(--theme_color-neutral-50);
  --theme_color-scrollbar-thumb-hover: var(--theme_color-neutral-60);
  --theme_color-scrollbar-track: var(--theme_color-neutral-20);
  --theme_scrollbar-size: 8px;
  --theme_scrollbar-thickness: thin;
  --theme_scrollbar-gutter: stable;
  --theme_scrollbar-behavior: smooth;
  --theme_scrollbar-margin: 1rem;
  --theme_scrollbar-padding: 1rem;

  /* Focus rings */
  --theme_focus-ring-color: var(--theme_color-primary-20);
  --theme_focus-ring-style: solid;
  --theme_focus-ring-width: 3px;
  --theme_focus-ring-offset: 2px;

  /* Icon size */
  --theme_icon-size: 24px;

  /* Masks */
  --theme_mask-angled-corner: conic-gradient(
        from -45deg at var(--corner, 8px) var(--corner, 8px),
        #0000 25%,
        #000 0
      )
      calc(-1 * var(--corner, 8px)) 0 /100% 51% repeat-x,
    conic-gradient(
        from 135deg at var(--corner, 8px) calc(100% - var(--corner, 8px)),
        #0000 25%,
        #000 0
      )
      calc(-1 * var(--corner, 8px)) 100%/100% 51% repeat-x !important;

  --theme_mask-scooped-corner: radial-gradient(
      var(--corner, 8px) at var(--corner, 8px) var(--corner, 8px),
      #0000 99%,
      #000
    )
    calc(-1 * var(--corner, 8px)) calc(-1 * var(--corner, 8px)) !important;

  --theme_mask-notched-corner: conic-gradient(
      at calc(2 * var(--corner, 8px)) calc(2 * var(--corner, 8px)),
      #000 75%,
      #0000 0
    )
    calc(-1 * var(--corner, 8px)) calc(-1 * var(--corner, 8px)) !important;
}
