/****************************** ANIMATION STYLES ******************************/

/* KEYFRAMES */

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes sheen {
  0% {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes float {
  50% {
    transform: translateY(-25%);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scale-up {
  to {
    transform: scale(1);
  }
}

@keyframes scale-down {
  to {
    transform: scale(0.8);
  }
}

@keyframes slide-out-up {
  to {
    transform: translateY(-100%);
  }
}

@keyframes slide-out-down {
  to {
    transform: translateY(100%);
  }
}

@keyframes slide-out-right {
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-out-left {
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in-up {
  from {
    transform: translateY(100%);
  }
}

@keyframes slide-in-down {
  from {
    transform: translateY(-100%);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(100%);
  }
}

@keyframes exit-fade {
  to {
    opacity: 0;
  }
}

@keyframes exit-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.99);
  }
}

@keyframes exit-right {
  to {
    transform: translateX(32px);
  }
}

@keyframes exit-left {
  to {
    transform: translateX(-32px);
  }
}

@keyframes exit-up {
  to {
    transform: translateY(-32px);
  }
}

@keyframes exit-down {
  to {
    transform: translateY(32px);
  }
}

@keyframes exit-out {
  to {
    transform: scale(0.99);
  }
}

@keyframes exit-in {
  to {
    transform: scale(1.1);
  }
}

@keyframes enter-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes enter-zoom {
  from {
    transform: scale(0.99);
  }
  to {
    transform: scale(1);
  }
}

@keyframes enter-right {
  from {
    transform: translateX(-32px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes enter-left {
  from {
    transform: translateX(32px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes enter-up {
  from {
    transform: translateY(32px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes enter-down {
  from {
    transform: translateY(-32px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes enter-out {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes enter-in {
  from {
    transform: scale(0.99);
  }
  to {
    transform: scale(1);
  }
}

@keyframes shake-x {
  0%,
  100% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(-5%);
  }
  40% {
    transform: translateX(5%);
  }
  60% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(5%);
  }
}

@keyframes shake-y {
  0%,
  100% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(-5%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-5%);
  }
  80% {
    transform: translateY(5%);
  }
}

@keyframes close {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes open {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

:is(:root, :host) > * {
  /* Animations */
  ---theme_animation_spin: spin 1s linear infinite;
  ---theme_animation_sheen: sheen 8s ease-in-out infinite;
  ---theme_animation_blink: blink 1s cubic-bezier(0, 0, 0.3, 1) infinite;
  ---theme_animation_float: float 3s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  ---theme_animation_bounce: bounce 1s linear infinite;
  ---theme_animation_shake-x: shake-x 0.75s cubic-bezier(0, 0, 0, 1);
  ---theme_animation_shake-y: shake-y 0.75s cubic-bezier(0, 0, 0, 1);
  ---theme_animation_fade-in: fade-in 150ms linear;
  ---theme_animation_fade-out: fade-out 150ms linear;
  ---theme_animation_scale-up: scale-up 100ms ease-out;
  ---theme_animation_scale-down: scale-down 100ms ease-out;
  ---theme_animation_slide-out-up: slide-out-up 150ms ease-out;
  ---theme_animation_slide-out-down: slide-out-down 150ms ease-out;
  ---theme_animation_slide-out-left: slide-out-left 150ms ease-out;
  ---theme_animation_slide-out-right: slide-out-right 150ms ease-out;
  ---theme_animation_slide-in-up: slide-in-up 100ms ease-out;
  ---theme_animation_slide-in-down: slide-in-down 100ms ease-out;
  ---theme_animation_slide-in-left: slide-in-left 100ms ease-out;
  ---theme_animation_slide-in-right: slide-in-right 100ms ease-out;
  ---theme_animation_exit-fade: exit-fade 75ms linear;
  ---theme_animation_exit-zoom: exit-zoom 150ms cubic-bezier(0.4, 0, 0.2, 1);
  ---theme_animation_exit-right: exit-right 150ms cubic-bezier(0.4, 0, 0.2, 1);
  ---theme_animation_exit-left: exit-left 150ms cubic-bezier(0.4, 0, 0.2, 1);
  ---theme_animation_exit-up: exit-up 150ms cubic-bezier(0.4, 0, 0.2, 1);
  ---theme_animation_exit-down: exit-down 150ms cubic-bezier(0.4, 0, 0.2, 1);
  ---theme_animation_exit-out: exit-out 150ms cubic-bezier(0.4, 0, 0.2, 1);
  ---theme_animation_exit-in: exit-in 150ms cubic-bezier(0.4, 0, 0.2, 1);
  ---theme_animation_enter-fade: enter-fade 75ms linear;
  ---theme_animation_enter-zoom: enter-zoom 150ms cubic-bezier(0.4, 0, 0.2, 1);
  ---theme_animation_enter-right: enter-right 150ms -75ms cubic-bezier(0.4, 0, 0.2, 1);
  ---theme_animation_enter-left: enter-left 150ms -75ms cubic-bezier(0.4, 0, 0.2, 1);
  ---theme_animation_enter-up: enter-up 150ms -75ms cubic-bezier(0.4, 0, 0.2, 1);
  ---theme_animation_enter-down: enter-down 150ms -75ms cubic-bezier(0.4, 0, 0.2, 1);
  ---theme_animation_enter-out: enter-out 150ms -75ms cubic-bezier(0.4, 0, 0.2, 1);
  ---theme_animation_enter-in: enter-in 150ms -75ms cubic-bezier(0.4, 0, 0.2, 1);
  ---theme_animation_open: open 100ms ease-out;
  ---theme_animation_close: close 75ms linear;
  ---theme_animation_pulse: pulse 150ms ease-in-out;

  ---theme_easing_linear: linear;
  ---theme_easing_ease: ease;
  ---theme_easing_ease-in: ease-in;
  ---theme_easing_ease-out: ease-out;
  ---theme_easing_ease-in-out: ease-in-out;
  ---theme_easing_ease-elastic-1: cubic-bezier(0.5, 0.75, 0.75, 1.25);
  ---theme_easing_ease-elastic-2: cubic-bezier(0.5, 1, 0.75, 1.25);
  ---theme_easing_ease-elastic-3: cubic-bezier(0.5, 1.25, 0.75, 1.25);
  ---theme_easing_ease-elastic-4: cubic-bezier(0.5, 1.5, 0.75, 1.25);
  ---theme_easing_ease-elastic-5: cubic-bezier(0.5, 1.75, 0.75, 1.25);
  ---theme_easing_ease-squish-1: cubic-bezier(0.5, -0.1, 0.1, 1.5);
  ---theme_easing_ease-squish-2: cubic-bezier(0.5, -0.3, 0.1, 1.5);
  ---theme_easing_ease-squish-3: cubic-bezier(0.5, -0.5, 0.1, 1.5);
  ---theme_easing_ease-squish-4: cubic-bezier(0.5, -0.7, 0.1, 1.5);
  ---theme_easing_ease-squish-5: cubic-bezier(0.5, -0.9, 0.1, 1.5);
}
