:host {
  display: contents;
  --_overflow-x: clip;
  --_selectable: none;
  --_color: var(--theme-color-primary-60);
  --_text-color: var(--theme-color-neutral-0);
  --_child-align: center;
  --_child-justify: center;
  --_text-font: var(--theme-font-sans);
  --_text-size: var(--theme-text-2xs-font-size);
  --_text-leading: var(--theme-text-2xs-line-height);
  --_text-weight: 500;
  --_text-tracking: var(--theme-letter-spacing-md);
  --_text-wrap: nowrap;
  --_height: 24px;
  --_height-min: var(--_height);
  --_border-color: var(--theme-color-neutral-0);
  --_border-width: 1px;
  --_corner: 9999px;
  --_padding-lr: 8px;
}

:host > .root {
  display: flex;
  cursor: inherit;
  overflow-x: var(--_overflow-x);
  user-select: var(--_selectable);
  background-color: var(--_color);
  color: var(--_text-color);
  align-items: var(--_child-align);
  justify-content: var(--_child-justify);
  min-height: var(--_height-min);
  height: var(--_height);
  font-family: var(--_text-font);
  font-size: var(--_text-size);
  line-height: var(--_text-leading);
  font-weight: var(--_text-weight);
  letter-spacing: var(--_text-tracking);
  white-space: var(--_text-wrap);
  border-style: solid;
  border-color: var(--_border-color);
  border-width: var(--_border-width);
  border-radius: var(--_corner);
  padding-inline: var(--_padding-lr);
  will-change: transform;
}

:host([float=""]) > .root,
:host([float="right"]) > .root {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  pointer-events: none;
}
:host([float="left"]) > .root {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
