:host {
  display: contents;
  ---overflow-x: clip;
  ---selectable: none;
  ---color: var(---theme-color-primary-60);
  ---text-color: var(---theme-color-neutral-0);
  ---child-align: center;
  ---child-justify: center;
  ---text-font: var(---theme-font-sans);
  ---text-size: var(---theme-text-2xs-font-size);
  ---text-leading: var(---theme-text-2xs-line-height);
  ---text-weight: 500;
  ---text-tracking: var(---theme-letter-spacing-md);
  ---text-wrap: nowrap;
  ---height: 24px;
  ---height-min: var(---height);
  ---border-color: var(---theme-color-neutral-0);
  ---border-width: 1px;
  ---corner: 9999px;
  ---padding-lr: 8px;
}

:host > .root {
  display: flex;
  cursor: inherit;
  overflow-x: var(---overflow-x);
  user-select: var(---selectable);
  background-color: var(---color);
  color: var(---text-color);
  align-items: var(---child-align);
  justify-content: var(---child-justify);
  min-height: var(---height-min);
  height: var(---height);
  font-family: var(---text-font);
  font-size: var(---text-size);
  line-height: var(---text-leading);
  font-weight: var(---text-weight);
  letter-spacing: var(---text-tracking);
  white-space: var(---text-wrap);
  border-style: solid;
  border-color: var(---border-color);
  border-width: var(---border-width);
  border-radius: var(---corner);
  padding-inline: var(---padding-lr);
  will-change: transform;
}

:host([float=""]) > .root,
:host([float="right"]) > .root {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  pointer-events: none;
}
:host([float="left"]) > .root {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
