:host {
  display: contents;
}
:host {
  --overflow-x: visible;
  --overflow-y: visible;
  --child-layout: row;
  --child-align: center;
  --child-justify: center;
  --position: relative;
  --interactable: auto;
  --selectable: none;
  --width: auto;
  --height: auto;
  --text-font: var(--s-font-sans);
  --text-wrap: nowrap;
  --transition-property: transform, background-color, color, border, filter;
  --duration: 100ms;
  --color: var(--s-color-primary-60);
  --text-color: var(--s-color-neutral-0);
  --spacing: 8px;
  --border-width: 1px;
  --corner: 4px;
  --background-color: var(--color);
  --ease: ease-out;
}

:host([size="xs"]) > .root {
  --height-min: 24px;
  --text-size: var(--s-text-2xs-font-size);
  --text-leading: var(--s-text-2xs-line-height);
  --padding-lr: 8px;
}

:host([size="sm"]) > .root {
  --height-min: 32px;
  --text-size: var(--s-text-sm-font-size);
  --text-leading: var(--s-text-sm-line-height);
  --padding-lr: 10px;
}

:host,
:host([size="md"]) > .root {
  --height-min: 40px;
  --text-size: var(--s-text-sm-font-size);
  --text-leading: var(--s-text-sm-line-height);
  --padding-lr: 16px;
}

:host([size="lg"]) > .root {
  --height-min: 48px;
  --text-size: var(--s-text-md-font-size);
  --text-leading: var(--s-text-md-line-height);
  --padding-lr: 20px;
}

:host > .root {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  overflow-x: var(--overflow-x);
  overflow-y: var(--overflow-y);
  flex-direction: var(--child-layout);
  align-items: var(--child-align);
  justify-content: var(--child-justify);
  position: var(--position);
  pointer-events: var(--interactable);
  user-select: var(--selectable);
  width: var(--width);
  height: var(--height);
  min-height: var(--height-min);
  font-family: var(--text-font);
  font-size: var(--text-size);
  line-height: var(--text-leading);
  white-space: var(--text-wrap);
  transition-property: var(--transition-property);
  transition-duration: var(--duration);
  border-color: var(--border-color);
  border-width: var(--border-width);
  border-radius: var(--corner);
  padding-inline: var(--padding-lr);
  will-change: transform;
}

:host([disabled]) > .root {
  cursor: default;
  opacity: 0.5;
}

:host > .root > .ripple {
  border-radius: inherit;
  position: absolute;
  inset: 0;
}
:host([disabled]) > .root > .ripple {
  display: none;
}

/* Filled */
:host(:not([variant])) > .root,
:host([variant="filled"]) > .root {
  --shadow: var(--s-shadow-drop-1);
}
@media (hover: hover) and (pointer: fine) {
  :host(:not([variant])) > .root:hover,
  :host([variant="filled"]) > .root:hover {
    --shadow: var(--s-shadow-drop-2);
  }
  :host(:not([variant])) > .root:active,
  :host([variant="filled"]) > .root:active {
    --shadow: var(--s-shadow-drop-0);
  }
}
:host(:not([variant])),
:host([variant="filled"]) {
  --text-weight: 500;
}
:host(:not([variant])) > .root,
:host([variant="filled"]) > .root {
  color: var(--text-color);
  background-color: var(--color);
  font-weight: var(--text-weight);
  filter: var(--shadow);
}

/* Tonal */
:host([variant="tonal"]) {
  --text-color: white;
  --text-weight: 400;
  --shadow: none;
}
:host([variant="tonal"]) > .root {
  color: var(--text-color);
  font-weight: var(--text-weight);
  filter: var(--shadow);
  background-color: var(--color);
  border-style: solid;
  border-color: var(--color);
  border-width: var(--border-width);
}
:host([variant="tonal"]) > .root::after {
  position: absolute;
  inset: 0;
  pointer-events: none;
  content: "";
  border-radius: inherit;
  background-color: rgba(0, 0, 0, var(--s-opacity-overlay));
}

/* Outlined */
:host([variant="outlined"]) {
  --text-weight: 500;
  --shadow: none;
  --background-color: transparent;
}
:host([variant="outlined"]) > .root {
  --text-color: var(--color);
  font-weight: var(--text-weight);
  color: var(--text-color);
  filter: var(--shadow);
  background-color: var(--background-color);
  border-style: solid;
  border-color: var(--color);
  border-width: var(--border-width);
}
@media (hover: hover) and (pointer: fine) {
  :host([variant="outlined"]:not([disabled])) > .root:hover,
  :host([variant="outlined"][checked]:not([disabled])) > .root {
    --text-color: var(--s-color-neutral-0);
    background-color: var(--color);
    color: var(--text-color);
  }
  :host([variant="outlined"]:not([disabled])) > .root:active {
    --text-color: var(--s-color-neutral-0);
    background-color: var(--color);
    color: var(--text-color);
  }
}

/* Text */
:host([variant="text"]) {
  --text-weight: 500;
  --shadow: none;
  --background-color: transparent;
}
:host([variant="text"]) > .root {
  --text-color: var(--color);
  font-weight: var(--text-weight);
  color: var(--text-color);
  filter: var(--shadow);
  background-color: var(--background-color);
}

/* Icon */
:host([variant="icon"]) {
  --shadow: none;
  --background-color: transparent;
  --aspect: 1;
  --corner: 50%;
  --padding: 0;
}
:host([variant="icon"]) > .root {
  --text-color: var(--color);
  aspect-ratio: var(--aspect);
  color: var(--text-color);
  filter: var(--shadow);
  background-color: var(--background-color);
  min-width: var(--height-min);
  padding: var(--padding);
  border-radius: var(--corner);
}

/* Loading */

:host([loading]) > .root {
  position: relative;
  cursor: default;
}

:host > .root > .spinner {
  display: none;
  position: absolute;
  inset: 0;
  align-items: center;
  justify-content: center;
}
:host([loading]) > .root > .spinner {
  display: flex;
}

:host > .root > .spinner > slot > * {
  --position: absolute;
  --track-width: 2px;
  --indicator-width: 2px;
}
:host > .root > .spinner > slot > *,
:host([variant="filled"]) > .root > .spinner > slot > * {
  --indicator-width: 4px;
}

:host > .root > .label {
  display: flex;
  visibility: visible;
  flex-direction: var(--child-layout);
  align-items: var(--child-align);
  justify-content: var(--child-justify);
  z-index: 1;
  transition-duration: var(--duration);
}
:host([text-overflow="ellipsis"]) > .root > .label {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
:host([child-justify]) > .root > .label {
  flex-grow: var(--grow);
}
:host([loading]) > .root > .label {
  visibility: hidden;
}
:host([icon]:not([variant="icon"])) > .root > .label {
  padding-left: var(--spacing);
}

:host > .root > .icon {
  display: none;
  visibility: visible;
  align-items: center;
  justify-content: center;
}
:host([loading]) > .root > .icon {
  visibility: hidden;
}
:host([icon]) > .root > .icon {
  display: flex;
}

:host > .root label {
  border-radius: inherit;
  pointer-events: auto;
  position: absolute;
  inset: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

:host > .root input {
  position: absolute;
  opacity: 0;
}

:host > .root > .icon {
  display: none;
}
:host([icon]) > .root > .icon {
  position: relative;
  display: flex;
  width: var(--icon-size, var(--s-icon-size));
  height: var(--icon-size, var(--s-icon-size));
  min-width: var(--icon-size, var(--s-icon-size));
  min-height: var(--icon-size, var(--s-icon-size));
  font-size: var(--icon-size, var(--s-icon-size));
  justify-content: center;
  align-items: center;
  will-change: transform;
}
:host([variant="icon"][animation]) > .root > .icon {
  animation: var(--animation);
  animation-timing-function: var(--ease);
}
:host([variant="icon"][animation]) > .root {
  animation: none !important;
}

:host([icon]) > .root > .icon > .inactive-icon {
  position: absolute;
  inset: 0;
  line-height: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  will-change: transform, opacity;
  transition-property: none;
  color: var(--text-color);
}
:host([icon]:not([active])) > .root > .icon > .inactive-icon {
  display: flex;
}
:host([icon][active]) > .root > .icon > .inactive-icon {
  display: none;
}

:host([icon]) > .root > .icon > .active-icon {
  position: absolute;
  inset: 0;
  line-height: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  will-change: transform, opacity;
  transition-property: none;
  color: var(--active-color, var(--text-color, transparent));
}
:host([icon]:not([active])) > .root > .icon > .active-icon {
  display: none;
}
:host([icon][active]) > .root > .icon > .active-icon {
  display: flex;
}
