:host {
  display: contents;
}
:host {
  --child-justify: center;
  --child-align: center;
  --size: 1em;
  --width: var(--size);
  --height: var(--size);
  --width-min: var(--size);
  --height-min: var(--size);
  --fill: currentColor;
}

.root {
  display: flex;
  justify-content: var(--child-justify);
  align-items: var(--child-align);
  width: var(--width);
  height: var(--height);
  min-width: var(--width-min);
  min-height: var(--height-min);
  -webkit-mask-image: var(--icon, none);
  mask-image: var(--icon, none);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: currentColor;
}

:host(:not([icon])) .root {
  display: none;
}
