:host {
  display: contents;
  border-radius: inherit;
  -webkit-mask: inherit;
  mask: inherit;
}
:host {
  --hover-opacity: var(--s-opacity-hover);
  --press-opacity: var(--s-opacity-press);
  --ripple-duration: 150ms;
  --hover-duration: 0ms;
  --press-duration: 105ms;
  --min-color-stop-length: 75%;
}

:host([disabled]) > .root::after {
  visibility: hidden;
}

:host > .root {
  pointer-events: auto;
  border-radius: inherit;
  position: absolute;
  inset: 0;
  overflow: hidden;
  will-change: transform;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask: inherit;
  mask: inherit;
}

:host > .root::before,
:host > .root::after {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  content: "";
  border-radius: inherit;
  -webkit-mask: inherit;
  mask: inherit;
}

:host > .root::before {
  inset: 0;
  background-color: currentColor;
  transition-property: opacity, background-color;
  transition-timing-function: linear;
  transition-duration: var(--hover-duration);
}
@media (hover: hover) and (pointer: fine) {
  :host > .root:hover::before {
    opacity: var(--hover-opacity);
  }
}

:host > .root::after {
  background: radial-gradient(
    closest-side,
    currentColor max(calc(100% - 70px), var(--min-color-stop-length)),
    transparent 100%
  );
  transition-property: opacity;
  transition-duration: var(--ripple-duration);
  transition-timing-function: linear;
  transform-origin: center center;
}
:host > .root.pressed::after {
  opacity: var(--press-opacity);
  transition-property: opacity;
  transition-duration: var(--press-duration);
}
