:host {
  display: contents;
  border-radius: inherit;
  -webkit-mask: inherit;
  mask: inherit;
  --_hover-opacity: var(--theme-opacity-hover);
  --_press-opacity: var(--theme-opacity-press);
  --_ripple-duration: 150ms;
  --_hover-duration: 0ms;
  --_press-duration: 105ms;
  --_min-color-stop-length: 75%;
}

:host > .root {
  display: flex;
  pointer-events: auto;
  border-radius: inherit;
  position: absolute;
  inset: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask: inherit;
  mask: inherit;
  will-change: transform, opacity;
}

:host > .root::before,
:host > .root::after {
  display: inline-block;
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  content: "";
  border-radius: inherit;
  -webkit-mask: inherit;
  mask: inherit;
  will-change: transform, opacity;
}

:host > .root::before {
  background-color: var(--_ripple-color, currentColor);
  transition-property: opacity, background-color;
  transition-timing-function: linear;
  transition-duration: var(--_hover-duration);
}

:host > .root::after {
  background: radial-gradient(
    closest-side,
    currentColor max(calc(100% - 70px), var(--_min-color-stop-length)),
    transparent 100%
  );
  transition-property: opacity;
  transition-duration: var(--_ripple-duration);
  transition-timing-function: linear;
  transform-origin: center center;
}

:host > .root.pressed::after {
  opacity: var(--_press-opacity);
  transition-property: opacity;
  transition-duration: var(--_press-duration);
}

:host([animation="none"]) > .root::after {
  visibility: hidden;
}

@media (hover: hover) and (pointer: fine) {
  :host > .root:hover::before {
    opacity: var(--_hover-opacity);
  }
}
