:host {
  display: contents;
}

:host > .root {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (min-width: 960px) {
  :host > .root {
    overflow-y: scroll;
    pointer-events: auto;
    position: absolute;
    inset: 0;
    min-height: 100%;
  }
}
