<s-box p="16 0" grow>
  <se-file-list include="*.{png,svg,mid,wav,mp3,ogg}" accept="image/*, audio/*, video/*">
    <se-file-list-border slot="empty">
      <s-icon name="triangle-square-circle" icon-size="3rem" m="12" stroke-width="1"></s-icon>
      No Assets
    </se-file-list-border>
    <s-box m="16 24 0 24" corner="8" border-color="white" border-width="1" border-style="dashed" child-align="center"
      child-justify="center" height="100%" text-size="md" bg-color="fg-04" grow slot="dragover">
      <s-icon name="files" icon-size="3rem" m="12"></s-icon>
      Drop Files
    </s-box>
  </se-file-list>
</s-box>
<se-file-upload-button>Upload File</se-file-upload-button>