:host {
  display: contents;
}
:host {
  --icon-size: var(--s-text-lg-font-size);
  --interactable: auto;
  --position: relative;
  --child-layout: row;
  --child-align: center;
  --child-justify: center;
  --shadow: var(--s-shadow-drop-2);
  --background-color: var(--s-color-surface);
  --text-color: var(--s-color-neutral-80);
  --text-font: var(--s-font-sans);
  --text-size: var(--s-text-sm-font-size);
  --text-leading: 1.6;
  --text-weight: 400;
  --spacing: 16px;
  --border-color: var(--s-color-surface-border);
  --border-width: 1px;
  --corner: 4px;
  --margin: 4px;
  --padding-tb: 12px;
  --padding-lr: 16px;
}

.root {
  pointer-events: var(--interactable);
  position: var(--position);
  display: flex;
  flex-direction: var(--child-layout);
  align-items: var(--child-align);
  filter: var(--shadow);
  border-style: solid;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--text-font);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  line-height: var(--text-leading);
  border-block-start-color: var(--border-block-start-color);
  border-block-end-color: var(--border-block-end-color);
  border-inline-start-color: var(--border-inline-start-color);
  border-inline-end-color: var(--border-inline-end-color);
  border-block-start-width: var(--border-block-start-width);
  border-block-end-width: var(--border-block-end-width);
  border-inline-start-width: var(--border-inline-start-width);
  border-inline-end-width: var(--border-inline-end-width);
  border-start-start-radius: var(--border-start-start-radius);
  border-start-end-radius: var(--border-start-end-radius);
  border-end-start-radius: var(--border-end-start-radius);
  border-end-end-radius: var(--border-end-end-radius);
  margin-block-start: var(--margin-block-start);
  margin-block-end: var(--margin-block-end);
  margin-inline-start: var(--margin-inline-start);
  margin-inline-end: var(--margin-inline-end);
  padding-block-start: var(--padding-block-start);
  padding-block-end: var(--padding-block-end);
  padding-inline-start: var(--padding-inline-start);
  padding-inline-end: var(--padding-inline-end);
}
:host([action]) .root {
  padding-right: calc(
    var(--padding-r, var(--padding-lr, var(--padding))) - 8px
  );
}

.message {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
:host([action]) .message {
  padding-right: var(--spacing);
}

.close {
  pointer-events: auto;
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  justify-content: flex-end;
  color: var(--color);
  font-size: var(--icon-size);
}
