:host {
  display: contents;
}
:host {
  --overflow-x: clip;
  --selectable: none;
  --color: var(--s-color-primary-70);
  --text-color: var(--s-color-neutral-0);
  --child-align: center;
  --child-justify: center;
  --text-font: var(--s-font-sans);
  --text-size: var(--s-text-2xs-font-size);
  --text-leading: var(--s-text-2xs-line-height);
  --text-weight: 500;
  --text-kerning: var(--s-letter-spacing-md);
  --text-wrap: nowrap;
  --height: 24px;
  --height-min: var(--height);
  --border-color: var(--s-color-neutral-0);
  --border-width: 1px;
  --corner: 9999px;
  --padding-lr: 8px;
}

.root {
  display: flex;
  cursor: inherit;
  overflow-x: var(--overflow-x);
  user-select: var(--selectable);
  background-color: var(--color);
  color: var(--text-color);
  align-items: var(--child-align);
  justify-content: var(--child-justify);
  min-height: var(--height-min);
  height: var(--height);
  font-family: var(--text-font);
  font-size: var(--text-size);
  line-height: var(--text-leading);
  font-weight: var(--text-weight);
  letter-spacing: var(--text-kerning);
  white-space: var(--text-wrap);
  border-style: solid;
  border-block-start-color: var(--border-block-start-color);
  border-block-end-color: var(--border-block-end-color);
  border-inline-start-color: var(--border-inline-start-color);
  border-inline-end-color: var(--border-inline-end-color);
  border-block-start-width: var(--border-block-start-width);
  border-block-end-width: var(--border-block-end-width);
  border-inline-start-width: var(--border-inline-start-width);
  border-inline-end-width: var(--border-inline-end-width);
  border-start-start-radius: var(--border-start-start-radius);
  border-start-end-radius: var(--border-start-end-radius);
  border-end-start-radius: var(--border-end-start-radius);
  border-end-end-radius: var(--border-end-end-radius);
  padding-block-start: var(--padding-block-start);
  padding-block-end: var(--padding-block-end);
  padding-inline-start: var(--padding-inline-start);
  padding-inline-end: var(--padding-inline-end);
}

:host([float=""]) .root,
:host([float="right"]) .root {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  pointer-events: none;
}
:host([float="left"]) .root {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
