:host {
  display: contents;
}
:host {
  --overflow-x: clip;
  --selectable: none;
  --color: var(--s-color-primary-70);
  --text-color: var(--s-color-neutral-0);
  --border-color: var(--s-color-neutral-0);
  --border-width: 1px;
  --child-align: center;
  --child-justify: center;
  --text-font: var(--s-font-sans);
  --text-size: var(--s-text-2xs-font-size);
  --text-leading: var(--s-text-2xs-line-height);
  --text-weight: var(--s-font-weight-medium);
  --text-kerning: var(--s-letter-spacing-md);
  --text-wrap: nowrap;
  --height: 24px;
  --padding-l: 8px;
  --padding-r: 8px;
  --corner-tl: 9999px;
  --corner-tr: 9999px;
  --corner-br: 9999px;
  --corner-bl: 9999px;
}

.badge {
  display: flex;
  cursor: inherit;
  overflow-x: var(--overflow-x);
  user-select: var(--selectable);
  background-color: var(--color);
  color: var(--text-color);
  align-items: var(--child-align);
  justify-content: var(--child-justify);
  height: var(--height);
  font-family: var(--text-font);
  font-size: var(--text-size);
  line-height: var(--text-leading);
  font-weight: var(--text-weight);
  letter-spacing: var(--text-kerning);
  white-space: var(--text-wrap);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
  padding-top: var(--padding-t, var(--padding-tb, var(--padding)));
  padding-right: var(--padding-r, var(--padding-lr, var(--padding)));
  padding-bottom: var(--padding-b, var(--padding-tb, var(--padding)));
  padding-left: var(--padding-l, var(--padding-lr, var(--padding)));
  border-top-left-radius: var(
    --corner-tl,
    var(--corner-t, var(--corner-l, var(--corner)))
  );
  border-top-right-radius: var(
    --corner-tr,
    var(--corner-t, var(--corner-r, var(--corner)))
  );
  border-bottom-right-radius: var(
    --corner-br,
    var(--corner-b, var(--corner-r, var(--corner)))
  );
  border-bottom-left-radius: var(
    --corner-bl,
    var(--corner-b, var(--corner-l, var(--corner)))
  );
}

:host([float=""]),
:host([float="right"]) .badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  pointer-events: none;
}
:host([float="left"]) .badge {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
