sparkdown-screenplay-preview {
  display: flex;
  flex: 1;
  flex-direction: column;
  pointer-events: auto;
}

sparkdown-screenplay-preview * {
  touch-action: pan-y;
}

sparkdown-screenplay-preview > .root {
  display: flex;
  flex: 1;
  flex-direction: column;
  pointer-events: auto;
}

sparkdown-screenplay-preview > .root > .preview-pane {
  display: flex;
  flex: 1;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.25s;
  pointer-events: auto;
}
