body {
  padding: 0px;
  user-select: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

details > summary {
  cursor: pointer;
  display: flex;
  white-space: pre-wrap;
}

details .info {
  font-size: smaller;
  padding-top: 8px;
  color: var(--vscode-descriptionForeground);
  opacity: 0.7;
}

details .example {
  font-family: sparkdown-font;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: var(--vscode-textCodeBlock-background);
  padding: 8px;
}

details.category > div {
  position: relative;
}

details.category > div::before,
details.cheat-item > p::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  left: 16px;
  opacity: 0.2;
  background-color: var(--vscode-foreground);
}
details.cheat-item > p::before {
  left: 4px;
  top: 0;
}
details.cheat-item {
  line-height: 16px;
  padding: 3px 12px 3px 24px;
}

details.cheat-item > summary > span > mark.symbol {
  opacity: 1;
  font-weight: bold;
  color: #d38d58;
  padding-right: 2px;
}
details.cheat-item > summary > span > mark.description {
  color: var(--vscode-descriptionForeground);
}

details.cheat-item > p {
  font-size: small;
  white-space: pre-wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 4px;
  position: relative;
}

.category > summary {
  line-height: 22px;
  padding: 0 12px;
}
.category > summary:hover,
details.cheat-item:hover {
  background-color: var(--vscode-list-hoverBackground);
}

details > summary::before {
  font-family: "codicon";
  font-size: 14px;
  content: "\eab6";
  vertical-align: bottom;
  padding-right: 6px;
}
::marker {
  content: "";
}
details[open] > summary::before {
  content: "\eab4";
}

.section {
  color: #c586c0;
}
.condition {
  color: #c586c0;
}
.scene {
  color: #4fc1ff;
}
.keyword {
  color: #569cd6;
}
.transition {
  color: #b5cea8;
}
.dialogue_character {
  color: #4ec9b0;
}
.dialogue {
  color: #ce9178;
}
.dialogue_parenthetical {
  color: #d7ba7d;
}
.caret {
  color: #d7ba7d;
}
.tkey {
  color: #569cd6;
}
.tvalue {
  color: #ce9178;
}
.centered {
  font-weight: bold;
  color: #569cd6;
  padding-right: 40px;
  text-align: center;
}
.bold {
  font-weight: bold;
  color: #569cd6;
}
.italics {
  font-style: italic;
}
.underline {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.linebreak {
  color: #606080;
}
.note {
  color: #6a9955;
}
.boneyard {
  color: #6a9955;
}
.label {
  color: #7c7ca6;
}
.lyrics {
  color: #ce9178;
  font-style: italic;
}
.load {
  color: transparent;
  font-family: sparkdown-font;
}
