:host {
  display: contents;
  --_background-color: var(--theme-color-surface);
  --_child-layout: column;
  --_child-align: stretch;
  --_child-justify: flex-start;
  --_child-gap: 16px;
  --_shadow: var(--theme-shadow-box-5);
  --_z: var(--theme-z-index-dialog);
  --_title-text-weight: 400;
  --_title-text-size: var(--theme-text-2xl-font-size);
  --_title-text-leading: var(--theme-text-2xl-line-height);
  --_text-size: var(--theme-text-sm-font-size);
  --_text-leading: var(--theme-text-sm-line-height);
  --_border-color: var(--theme-color-surface-border);
  --_border-width: 1px;
  --_corner: 0;
  --_margin: 0;
  --_padding: 0;
  --_enter:
    var(--theme-animation-slide-in-right), var(--theme-animation-fade-in);
  --_exit:
    var(--theme-animation-slide-out-left), var(--theme-animation-fade-out);
  --_mobile-enter: var(--theme-animation-slide-in-right);
  --_mobile-exit: var(--theme-animation-slide-out-left);
  --_duration: 225ms;
  --_ease: cubic-bezier(0, 0, 0.2, 1);
}

:host > .root {
  display: flex;
  pointer-events: auto;
  flex-direction: var(--_child-layout);
  align-items: var(--_child-align);
  position: fixed;
  inset: 0;
  padding: 0;
  overflow: hidden;
  z-index: var(--_z);
  color: var(--_text-color);
  transition: opacity 0.5s;
  background-color: var(--_background-color);
  border-style: solid;
  border-color: var(--_border-color);
  border-width: var(--_border-width);
  border-radius: var(--_corner);
  margin: var(--_margin);
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: none;
  will-change: transform, opacity;
  contain: strict;
}
:host(:not([loaded])) > .root {
  opacity: 0;
}
:host([loaded][open]) > .root {
  animation: var(--_enter) forwards;
  animation-duration: var(--_duration);
  animation-timing-function: var(--_ease);
}
:host([loaded]:not([open])) > .root {
  animation: var(--_exit) forwards;
  animation-duration: var(--_duration);
  animation-timing-function: var(--_ease);
}
@media (width <= 960px) {
  :host > .root {
    margin-block-end: 0;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
  }
  :host([loaded][open]) > .root {
    animation: var(--_mobile-enter) forwards;
    animation-duration: var(--_duration);
    animation-timing-function: var(--_ease);
  }
  :host([loaded]:not([open])) > .root {
    animation: var(--_mobile-exit) forwards;
    animation-duration: var(--_duration);
    animation-timing-function: var(--_ease);
  }
}

:host > .root::backdrop {
  background-color: black;
  will-change: transform, opacity;
  contain: strict;
}
:host(:not([loaded])) > .root::backdrop {
  opacity: 0;
}
:host([loaded][open]) > .root::backdrop {
  animation: fade-in-overlay 200ms forwards;
}
:host([loaded]:not([open])) > .root::backdrop {
  animation: fade-out-overlay 200ms forwards;
}

:host > .root > slot {
  display: flex;
  position: absolute;
  inset: 0;
  pointer-events: auto;
}

@keyframes fade-in-overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes fade-out-overlay {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}
