:host {
  display: contents;
}
:host {
  --interactable: auto;
  --resizer-color: transparent;
  --resizer-width: 8px;
  --divider-opacity: 1;
  --divider-color: var(--s-color-divider);
  --divider-width: 1px;
  --indicator-color: var(--s-color-primary-50);
  --indicator-width: 4px;
  --resizer-center: calc(var(--resizer-width) / 2);
  --divider-center: calc(var(--divider-width) / 2);
  --divider-offset: calc(var(--resizer-center) - var(--divider-center));
}

:host(:not([vertical])) {
  --initial-size: 50vw;
}
:host([vertical]) {
  --initial-size: 50vh;
}

:host > .root {
  display: flex;
}
:host(:not([vertical])) > .root {
  flex-direction: row;
  container-type: inline-size;
}
:host([vertical]) > .root {
  flex-direction: column;
  container-type: size;
}

:host > .root > .panel {
  position: relative;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
:host(:not([vertical])) > .root > .panel {
  max-width: calc(100% - var(--min-panel-width));
  min-width: auto;
}
:host([vertical]) > .root > .panel {
  max-height: calc(100% - var(--min-panel-height));
  min-height: auto;
}

:host > .root > .panel > .resize {
  pointer-events: var(--interactable);
  opacity: 0;
  overflow: hidden;
}
:host(:not([vertical])) > .root > .panel > .resize {
  min-width: calc(var(--min-panel-width) + var(--resizer-width));
  width: var(--initial-size);
  height: 16px;
  transform: scaleY(1000);
  resize: horizontal;
}
:host([vertical]) > .root > .panel > .resize {
  min-height: var(--min-panel-height);
  width: 16px;
  height: var(--initial-size);
  transform: scaleX(1000);
  resize: vertical;
}
:host([disabled]) > .root > .panel > .resize {
  pointer-events: none;
}

:host > .root > .panel > .divider {
  pointer-events: none;
  position: absolute;
  background-color: var(--resizer-color);
}
:host(:not([vertical])) > .root > .panel > .divider {
  inset: 0 0 0 auto;
  width: var(--resizer-width);
}
:host([vertical]) > .root > .panel > .divider {
  inset: auto 0 0 0;
  height: var(--resizer-width);
}

:host > .root > .panel > .divider::before {
  content: "";
  position: absolute;
  background-color: var(--divider-color);
  opacity: var(--divider-opacity);
}
:host(:not([vertical])) > .root > .panel > .divider::before {
  inset: 0 0 0 var(--divider-offset);
  width: var(--divider-width);
}
:host([vertical]) > .root > .panel > .divider::before {
  inset: var(--divider-offset) 0 0 0;
  height: var(--divider-width);
}

:host > .root > .panel > .divider::after {
  --resizer-center: calc(var(--resizer-width) / 2);
  --indicator-center: calc(var(--indicator-width) / 2);
  --indicator-offset: calc(var(--resizer-center) - var(--indicator-center));
  content: "";
  position: absolute;
  background-color: var(--indicator-color);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 150ms;
}
:host(:not([vertical])) > .root > .panel > .divider::after {
  inset: 0 0 0 var(--indicator-offset);
  width: var(--indicator-width);
}
:host([vertical]) > .root > .panel > .divider::after {
  inset: var(--indicator-offset) 0 0 0;
  height: var(--indicator-width);
}
:host(:not([disabled])) > .root > .panel > .resize:hover + .divider::after,
:host(:not([disabled])) > .root > .panel > .resize:active + .divider::after {
  opacity: 1;
}

:host > .root > .panel > .start {
  position: absolute;
}
:host(:not([vertical])) > .root > .panel > .start {
  min-width: var(--min-panel-width);
  inset: 0 var(--resizer-width) 0 0;
}
:host([vertical]) > .root > .panel > .start {
  min-height: var(--min-panel-height);
  inset: 0 0 var(--resizer-width) 0;
}

:host > .root > .end {
  position: relative;
  flex: 1;
  align-self: stretch;
}
:host(:not([vertical])) > .root > .end {
  min-width: var(--min-panel-width);
}
:host([vertical]) > .root > .end {
  min-height: var(--min-panel-height);
}

/* If the container is less than 600px */
@container (max-width: 600px) {
  :host([responsive]:not([vertical], [primary="end"], [responsive="hide"]))
    > .root
    > .end {
    pointer-events: auto;
    position: absolute;
    inset: 0;
    transition-property: transform, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    z-index: 1;
    will-change: transform;
  }

  :host(:not([vertical])) > .root > .panel > .divider {
    display: none;
  }

  /* Hide end panel */
  :host(:not([vertical], [primary="end"])[responsive="slide-down"])
    > .root
    > .end {
    transform: translate(0, 100vh);
  }
  :host(:not([vertical], [primary="end"])[responsive="slide-up"])
    > .root
    > .end {
    transform: translate(0, -100vh);
  }
  :host(:not([vertical], [primary="end"])[responsive="slide-left"])
    > .root
    > .end {
    transform: translate(-100vw, 0);
  }
  :host(:not([vertical], [primary="end"])[responsive=""]) > .root > .end,
  :host(:not([vertical], [primary="end"])[responsive="slide-right"])
    > .root
    > .end {
    transform: translate(100vw, 0);
  }
  :host(:not([vertical], [primary="end"])[responsive="hide"]) > .root > .end {
    display: none;
  }
  :host(:not([vertical], [primary="end"])[responsive]) > .root > .panel {
    min-width: 100%;
  }
  :host > .root > .panel > .start {
    position: relative;
    inset: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  :host > .root > .panel > .resize {
    display: none;
  }

  /* Hide start panel */
  :host([primary="end"]:not([vertical])[responsive="slide-down"])
    > .root
    > .panel {
    transform: translate(0, 100vh);
  }
  :host([primary="end"]:not([vertical])[responsive="slide-up"])
    > .root
    > .panel {
    transform: translate(0, -100vh);
  }
  :host([primary="end"]:not([vertical])[responsive="slide-left"])
    > .root
    > .panel {
    transform: translate(-100vw, 0);
  }
  :host([primary="end"]:not([vertical])[responsive=""]) > .root > .panel,
  :host([primary="end"]:not([vertical])[responsive="slide-right"])
    > .root
    > .panel {
    transform: translate(100vw, 0);
  }
  :host([primary="end"]:not([vertical])[responsive="hide"]) > .root > .panel {
    display: none;
  }
  :host([primary="end"]:not([vertical])[responsive]) > .root > .end {
    min-width: 100%;
  }

  /* Reveal end panel */
  :host([reveal]:not([vertical], [primary="end"])[responsive]) > .root > .end {
    display: flex;
    transform: translate(0);
  }

  /* Reveal start panel */
  :host([reveal][primary="end"]:not([vertical])[responsive]) > .root > .panel {
    display: flex;
    transform: translate(0);
  }
}
