<button class="root" part="root">
  <slot name="ripple">
    <s-ripple></s-ripple>
  </slot>
  <div class="icon" part="icon" hidden>
    <slot name="icon">
      <s-icon></s-icon>
    </slot>
  </div>
  <div class="label" part="label">
    <slot class="content"></slot>
  </div>
  <div
    class="spinner"
    part="spinner"
    aria-busy="true"
    aria-live="polite"
    hidden
  >
    <slot name="spinner">
      <s-progress-circle
        position="absolute"
        track-width="2px"
        indicator-width="3px"
      ></s-progress-circle>
    </slot>
  </div>
</button>
