:host {
  display: contents;
}
:host {
  --overflow-x: clip;
  --child-layout: row;
  --child-align: center;
  --child-justify: center;
  --position: relative;
  --interactable: auto;
  --selectable: none;
  --width: auto;
  --text-font: var(--s-font-sans);
  --text-wrap: nowrap;
  --transition: transform, background-color, color, border, filter;
  --duration: 100ms;
  --color: var(--s-color-primary-70);
  --text-color: var(--s-color-neutral-0);
  --shadow: var(--s-shadow-drop-1);
  --border-width: 1px;
  --spacing: 8px;
  --corner: 4px;
  --corner-t: var(--corner);
  --corner-l: var(--corner);
  --corner-r: var(--corner);
  --corner-b: var(--corner);
  --corner-tl: var(--corner);
  --corner-tr: var(--corner);
  --corner-br: var(--corner);
  --corner-bl: var(--corner);
}

:host([size="xs"]) .root {
  --height: 24px;
  --height-min: 24px;
  --text-size: var(--s-text-2xs-font-size);
  --text-leading: var(--s-text-2xs-line-height);
  --padding: 0;
  --padding-lr: 8px;
  --padding-l: var(--padding-lr);
  --padding-r: var(--padding-lr);
}

:host([size="sm"]) .root {
  --height: 32px;
  --height-min: 32px;
  --text-size: var(--s-text-sm-font-size);
  --text-leading: var(--s-text-sm-line-height);
  --padding: 0;
  --padding-lr: 10px;
  --padding-l: var(--padding-lr);
  --padding-r: var(--padding-lr);
}

.root,
:host([size="md"]) .root {
  --height: 40px;
  --height-min: 40px;
  --text-size: var(--s-text-sm-font-size);
  --text-leading: var(--s-text-sm-line-height);
  --padding: 0;
  --padding-lr: 16px;
  --padding-l: var(--padding-lr);
  --padding-r: var(--padding-lr);
}

:host([size="lg"]) .root {
  --height: 48px;
  --height-min: 48px;
  --text-size: var(--s-text-md-font-size);
  --text-leading: var(--s-text-md-line-height);
  --padding: 0;
  --padding-lr: 20px;
  --padding-l: var(--padding-lr);
  --padding-r: var(--padding-lr);
}

.root {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  overflow-x: var(--overflow-x);
  flex-direction: var(--child-layout);
  align-items: var(--child-align);
  justify-content: var(--child-justify);
  position: var(--position);
  pointer-events: var(--interactable);
  user-select: var(--selectable);
  width: var(--width);
  height: var(--height);
  min-height: var(--height-min);
  font-family: var(--text-font);
  font-size: var(--text-size);
  line-height: var(--text-leading);
  white-space: var(--text-wrap);
  transition-property: var(--transition);
  transition-duration: var(--duration);
  padding-right: var(--padding-r, var(--padding-lr, var(--padding)));
  padding-left: var(--padding-l, var(--padding-lr, var(--padding)));
  border-top-left-radius: var(
    --corner-tl,
    var(--corner-t, var(--corner-l, var(--corner)))
  );
  border-top-right-radius: var(
    --corner-tr,
    var(--corner-t, var(--corner-r, var(--corner)))
  );
  border-bottom-right-radius: var(
    --corner-br,
    var(--corner-b, var(--corner-r, var(--corner)))
  );
  border-bottom-left-radius: var(
    --corner-bl,
    var(--corner-b, var(--corner-l, var(--corner)))
  );
}

:host([disabled]) .root {
  cursor: default;
  opacity: 0.5;
}

.label {
  display: flex;
  flex-direction: var(--child-layout);
  align-items: var(--child-align);
  justify-content: var(--child-justify);
  z-index: 1;
  transition-duration: var(--duration);
}

/* Filled */
.root,
:host([variant="filled"]) .root {
  --text-weight: 500;
  color: var(--text-color);
  background-color: var(--color);
  font-weight: var(--text-weight);
  filter: var(--shadow);
}

/* Tonal */
:host([variant="tonal"]) .root {
  --text-weight: 400;
  --text-color: white;
  --shadow: none;
  color: var(--text-color);
  background-color: var(--color);
  border-color: var(--color);
  border-width: var(--border-width);
  border-style: solid;
  font-weight: var(--text-weight);
  filter: var(--shadow);
}
:host([variant="tonal"]) .root::after {
  position: absolute;
  inset: 0;
  pointer-events: none;
  content: "";
  border-radius: inherit;
  background-color: rgba(0, 0, 0, var(--s-opacity-overlay));
}

/* Outlined */
:host([variant="outlined"]) .root {
  --text-weight: 500;
  --shadow: none;
  filter: none;
  background-color: transparent;
  border-color: var(--color);
  border-width: var(--border-width);
  border-style: solid;
  color: var(--color);
  font-weight: var(--text-weight);
  filter: var(--shadow);
}
@media (hover: hover) and (pointer: fine) {
  :host([variant="outlined"]:not([disabled])) .root:hover,
  :host([variant="outlined"][checked]:not([disabled])) .root {
    background-color: var(--color);
    color: var(--text-color);
  }
}
:host([variant="outlined"]:not([disabled])) .root:active {
  background-color: var(--color);
  color: var(--text-color);
}

/* Text */
:host([variant="text"]) .root {
  --text-weight: 500;
  --shadow: none;
  --text-color: var(--color);
  background-color: transparent;
  color: var(--color);
  font-weight: var(--text-weight);
  filter: var(--shadow);
}

/* Icon */
:host([variant="icon"]) .root {
  --shadow: none;
  background-color: transparent;
  border-radius: 50%;
  aspect-ratio: 1/1;
  color: var(--color);
  padding: 0;
  filter: var(--shadow);
}

:host(:not([icon])) .icon {
  display: none;
}

/* Loading */
.spinner {
  display: none;
}
:host([loading]) .spinner {
  display: contents;
}
.label,
.icon {
  visibility: visible;
}
:host([loading]) .label,
:host([loading]) .icon {
  visibility: hidden;
}
:host([loading]) .root {
  position: relative;
  cursor: default;
}

:host([icon]) .label,
:host([spacing]) .label {
  padding-left: var(--spacing);
}
