:host {
  display: contents;
  --_value: 0;
  --_size: 1em;
  --_background-color: var(--theme-color-neutral-30);
  --_text-color: var(--theme-color-primary-60);
  --_position: relative;
  --_child-justify: center;
  --_child-align: center;
  --_track-width: 2px;
  --_indicator-width: var(--_track-width);
  --_duration: 0.35s;
  --_speed: 2;
  --_text-font: var(--theme-font-sans);
  --_text-size: var(--theme-text-xs-font-size);
  --_text-leading: var(--theme-text-xs-line-height);
}

:host > .root {
  display: flex;
  position: var(--_position);
  min-width: var(--_size);
  min-height: var(--_size);
  width: var(--_size);
  height: var(--_size);
  justify-content: center;
  align-items: center;
  background-color: transparent;
  contain: strict;
  will-change: transform;
}

:host > .root > .label {
  display: flex;
  justify-content: var(--_child-justify);
  align-items: var(--_child-align);
  font-family: var(--_text-font);
  font-size: var(--_text-size);
  line-height: var(--_text-leading);
}

:host > .root > .circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  transform: rotateZ(-90deg);
  transform-origin: 50% 50%;
}

:host > .root > .circle > .track,
:host > .root > .circle > .indicator {
  --_radius: calc(var(--_size) / 2);
  fill: none;
  r: calc(var(--_radius) - var(--_track-width) / 2);
  cx: var(--_radius);
  cy: var(--_radius);
}

:host > .root > .circle > .track {
  stroke: var(--_background-color);
  stroke-width: var(--_track-width);
  transform-origin: 0% 0%;
}

:host > .root > .circle > .indicator {
  stroke: var(--_text-color);
  stroke-width: var(--_indicator-width);
  stroke-linecap: round;
  transform-origin: 50% 50%;
  will-change: transform;
}

:host([value]) > .root > .circle > .indicator {
  --_circumference: calc(var(--_size) * 3.141592654);
  transition-property: stroke-dashoffset;
  transition-duration: var(--_duration);
  stroke-dasharray: var(--_circumference) var(--_circumference);
  stroke-dashoffset: calc(
    var(--_circumference) - var(--_value) * var(--_circumference)
  );
}

:host(:not([value])) > .root > .circle > .indicator {
  stroke-dasharray: 137%, 137%;
  animation: indeterminate-circle calc(1s * var(--_speed)) linear infinite;
}

@keyframes indeterminate-circle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(450deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}
