:host {
  display: contents;
  ---color: var(---theme-color-fg-05);
  ---sheen-color: var(---theme-color-fg-15);
  ---width-min: 40px;
  ---grow: 0;
  ---shrink: 0;
  ---background-fit: 400% 100%;
  ---corner: 9999px;
}

:host > .root {
  ---background-gradient: linear-gradient(
    270deg,
    var(---sheen-color),
    var(---color),
    var(---color),
    var(---sheen-color)
  );
  display: flex;
  min-width: var(---width-min);
  width: var(---width);
  flex-grow: var(---grow);
  flex-shrink: var(---shrink);
  background-size: var(---background-fit);
  background-image: var(---background-gradient);
  border-radius: var(---corner);
  color: transparent;
  animation: var(---animation, var(---theme-animation-sheen));
  will-change: transform, opacity;
}
