:host {
  --_text-color: var(--theme-color-fg-05);
  --_sheen-color: var(--theme-color-fg-15);
  --_width-min: 40px;
  --_grow: 0;
  --_shrink: 0;
  --_background-fit: 400% 100%;
  --_corner: 9999px;
  --_background-gradient: linear-gradient(
    270deg,
    var(--_sheen-color),
    var(--_text-color),
    var(--_text-color),
    var(--_sheen-color)
  );
}

:host {
  display: flex;
  min-width: var(--_width-min);
  width: var(--_width);
  flex-grow: var(--_grow);
  flex-shrink: var(--_shrink);
  background-size: var(--_background-fit);
  background-image: var(--_background-gradient);
  border-radius: var(--_corner);
  color: transparent;
  animation: var(--_animation, var(--theme-animation-sheen));
  will-change: transform, opacity;
}
