:host {
  display: contents;
  --_arrow-color: var(--theme-color-neutral-1000);
  --_arrow-size: 6px;

  /*
   * These properties are computed to account for the arrow's dimensions after being rotated 45º. The constant
   * 0.7071 is derived from sin(45), which is the diagonal size of the arrow's container after rotating.
   */
  --_arrow-size-diagonal: calc(var(--_arrow-size) * 0.7071);
  --_arrow-padding-offset: calc(
    var(--_arrow-size-diagonal) - var(--_arrow-size)
  );
  --_shadow: var(--theme-shadow-box-2);
}

:host > .root {
  display: flex;
  position: absolute;
  isolation: isolate;
  max-width: var(--_auto-size-available-width, none);
  max-height: var(--_auto-size-available-height, none);
  box-shadow: var(--_shadow);
}

:host > .root.fixed {
  position: fixed;
}

:host > .anchor {
  display: flex;
}

:host > .root > .arrow {
  display: hidden;
}
:host([arrow]) > .root > .arrow {
  display: block;
  position: absolute;
  width: calc(var(--_arrow-size-diagonal) * 2);
  height: calc(var(--_arrow-size-diagonal) * 2);
  transform: rotate(45deg);
  background: var(--_arrow-color);
  z-index: -1;
}
