[display] {
  display: var(---display, block) !important;
  ---display: initial;
}

[position] {
  position: var(---position, absolute) !important;
  ---position: initial;
}
[position="sticky-top"] {
  inset: 0 0 auto 0;
  z-index: 1;
}
[position="sticky-bottom"] {
  inset: auto 0 0 0;
  z-index: 1;
}
[position="sticky-left"] {
  inset: 0 auto 0 0;
  z-index: 1;
}
[position="sticky-right"] {
  inset: 0 0 0 auto;
  z-index: 1;
}
[position="fixed-top"] {
  inset: 0 0 auto 0;
  z-index: 1;
}
[position="fixed-bottom"] {
  inset: auto 0 0 0;
  z-index: 1;
}
[position="fixed-left"] {
  inset: 0 auto 0 0;
  z-index: 1;
}
[position="fixed-right"] {
  inset: 0 0 0 auto;
  z-index: 1;
}

[aspect] {
  aspect-ratio: var(---aspect, 1) !important;
  ---aspect: initial;
}

[overflow] {
  overflow: var(---overflow, scroll) !important;
  ---overflow: initial;
}
[overflow-x] {
  overflow-x: var(---overflow-x, scroll) !important;
  ---overflow-x: initial;
}
[overflow-y] {
  overflow-y: var(---overflow-y, scroll) !important;
  ---overflow-y: initial;
}

[z] {
  z-index: var(---z, 1) !important;
  ---z: initial;
}

:is([w], [width]) {
  width: var(---width, 100%) !important;
  ---width: initial;
}
:is([w-min], [width-min]) {
  min-width: var(---width-min, 0) !important;
  ---width-min: initial;
}
:is([w-max], [width-max]) {
  max-width: var(---width-max, 100%) !important;
  ---width-max: initial;
}

:is([h], [height]) {
  height: var(---height, 100%) !important;
  ---height: initial;
}
:is([h-min], [height-min]) {
  min-height: var(---height-min, 0) !important;
  ---height-min: initial;
}
:is([h-max], [height-max]) {
  max-height: var(---height-max, 100%) !important;
  ---height-max: initial;
}

:is([c], [corner]) {
  border-radius: var(---corner, 8px) !important;
  ---corner: initial;
}
:is([c-t], [corner-t]) {
  border-top-left-radius: var(---corner-t, 8px) !important;
  border-top-right-radius: var(---corner-t, 8px) !important;
  ---corner-t: initial;
}
:is([c-b], [corner-b]) {
  border-bottom-left-radius: var(---corner-b, 8px) !important;
  border-bottom-right-radius: var(---corner-b, 8px) !important;
  ---corner-b: initial;
}
:is([c-l], [corner-l]) {
  border-top-left-radius: var(---corner-l, 8px) !important;
  border-bottom-left-radius: var(---corner-l, 8px) !important;
  ---corner-l: initial;
}
:is([c-r], [corner-r]) {
  border-top-right-radius: var(---corner-r, 8px) !important;
  border-bottom-right-radius: var(---corner-r, 8px) !important;
  ---corner-r: initial;
}
:is([c-tl], [corner-tl]) {
  border-top-left-radius: var(---corner-tl, 8px) !important;
  ---corner-tl: initial;
}
:is([c-tr], [corner-tr]) {
  border-top-right-radius: var(---corner-tr, 8px) !important;
  ---corner-tr: initial;
}
:is([c-bl], [corner-bl]) {
  border-bottom-left-radius: var(---corner-bl, 8px) !important;
  ---corner-bl: initial;
}
:is([c-br], [corner-br]) {
  border-bottom-right-radius: var(---corner-br, 8px) !important;
  ---corner-br: initial;
}

:is([o-color], [outline-color]) {
  outline-style: solid;
  outline-color: var(---outline-color, hsl(0 100% 100% / 50%)) !important;
  ---outline-color: initial;
}

:is([o-width], [outline-width]) {
  outline-style: solid;
  outline-width: var(---outline-width, 8px) !important;
  ---outline-width: initial;
}

:is([o-style], [outline-style]) {
  outline-style: var(---outline-style, solid) !important;
  ---outline-style: initial;
}

:is([b-color], [border-color]) {
  border-style: solid;
  border-color: var(---border-color, currentColor) !important;
  ---border-color: initial;
}
:is([b-color-tb], [border-color-tb]) {
  border-style: solid;
  border-top-color: var(---border-color-tb, currentColor) !important;
  border-bottom-color: var(---border-color-tb, currentColor) !important;
  ---border-color-tb: initial;
}
:is([b-color-lr], [border-color-lr]) {
  border-style: solid;
  border-left-color: var(---border-color-lr, currentColor) !important;
  border-right-color: var(---border-color-lr, currentColor) !important;
  ---border-color-lr: initial;
}
:is([b-color-t], [border-color-t]) {
  border-style: solid;
  border-top-color: var(---border-color-t, currentColor) !important;
  ---border-color-t: initial;
}
[border-color-b] {
  border-style: solid;
  border-bottom-color: var(---border-color-b, currentColor) !important;
  ---border-color-b: initial;
}
:is([b-color-l], [border-color-l]) {
  border-style: solid;
  border-left-color: var(---border-color-l, currentColor) !important;
  ---border-color-l: initial;
}
:is([b-color-r], [border-color-r]) {
  border-style: solid;
  border-right-color: var(---border-color-r, currentColor) !important;
  ---border-color-r: initial;
}

:is([b-width], [border-width]) {
  border-style: solid;
  border-width: var(---border-width, 8px) !important;
  ---border-width: initial;
}
:is([b-width-tb], [border-width-tb]) {
  border-style: solid;
  border-top-width: var(---border-width-tb, 8px) !important;
  border-bottom-width: var(---border-width-tb, 8px) !important;
  ---border-width-tb: initial;
}
:is([b-width-lr], [border-width-lr]) {
  border-style: solid;
  border-left-width: var(---border-width-lr, 8px) !important;
  border-right-width: var(---border-width-lr, 8px) !important;
  ---border-width-tr: initial;
}
:is([b-width-t], [border-width-t]) {
  border-style: solid;
  border-top-width: var(---border-width-t, 8px) !important;
  ---border-width-t: initial;
}
:is([b-width-b], [border-width-b]) {
  border-style: solid;
  border-bottom-width: var(---border-width-b, 8px) !important;
  ---border-width-b: initial;
}
:is([b-width-l], [border-width-l]) {
  border-style: solid;
  border-left-width: var(---border-width-l, 8px) !important;
  ---border-width-l: initial;
}
:is([b-width-r], [border-width-r]) {
  border-style: solid;
  border-right-width: var(---border-width-r, 8px) !important;
  ---border-width-r: initial;
}

:is([b-style], [border-style]) {
  border-style: var(---border-style, solid) !important;
  ---border-style: initial;
}
:is([b-style-tb], [border-style-tb]) {
  border-top-style: var(---border-style-tb, solid) !important;
  border-bottom-style: var(---border-style-tb, solid) !important;
  ---border-style-tb: initial;
}
:is([b-style-lr], [border-style-lr]) {
  border-left-style: var(---border-style-lr, solid) !important;
  border-right-style: var(---border-style-lr, solid) !important;
  ---border-style-lr: initial;
}
:is([b-style-t], [border-style-t]) {
  border-top-style: var(---border-style-t, solid) !important;
  ---border-style-t: initial;
}
:is([b-style-b], [border-style-b]) {
  border-bottom-style: var(---border-style-b, solid) !important;
  ---border-style-b: initial;
}
:is([b-style-l], [border-style-l]) {
  border-left-style: var(---border-style-l, solid) !important;
  ---border-style-l: initial;
}
:is([b-style-r], [border-style-r]) {
  border-right-style: var(---border-style-r, solid) !important;
  ---border-style-r: initial;
}

:is([i], [inset]) {
  inset: var(---inset, 8px) !important;
  ---inset: initial;
}
:is([i-tb], [inset-tb]) {
  top: var(---inset-tb, 8px) !important;
  bottom: var(---inset-tb, 8px) !important;
  ---inset-tb: initial;
}
:is([i-lr], [inset-lr]) {
  left: var(---inset-lr, 8px) !important;
  right: var(---inset-lr, 8px) !important;
  ---inset-lr: initial;
}
:is([i-t], [inset-t]) {
  top: var(---inset-t, 8px) !important;
  ---inset-t: initial;
}
:is([i-b], [inset-b]) {
  bottom: var(---inset-b, 8px) !important;
  ---inset-b: initial;
}
:is([i-l], [inset-l]) {
  left: var(---inset-l, 8px) !important;
  ---inset-l: initial;
}
:is([i-r], [inset-r]) {
  right: var(---inset-r, 8px) !important;
  ---inset-r: initial;
}

:is([m], [margin]) {
  margin: var(---margin, 8px) !important;
  ---margin: initial;
}
:is([m-tb], [margin-tb]) {
  margin-top: var(---margin-tb, 8px) !important;
  margin-bottom: var(---margin-tb, 8px) !important;
  ---margin-tb: initial;
}
:is([m-lr], [margin-lr]) {
  margin-left: var(---margin-lr, 8px) !important;
  margin-right: var(---margin-lr, 8px) !important;
  ---margin-lr: initial;
}
:is([m-t], [margin-t]) {
  margin-top: var(---margin-t, 8px) !important;
  ---margin-t: initial;
}
:is([m-b], [margin-b]) {
  margin-bottom: var(---margin-b, 8px) !important;
  ---margin-b: initial;
}
:is([m-l], [margin-l]) {
  margin-left: var(---margin-l, 8px) !important;
  ---margin-l: initial;
}
:is([m-r], [margin-r]) {
  margin-right: var(---margin-r, 8px) !important;
  ---margin-r: initial;
}

:is([p], [padding]) {
  padding: var(---padding, 8px) !important;
  ---padding: initial;
}
:is([p-tb], [padding-tb]) {
  padding-top: var(---padding-tb, 8px) !important;
  padding-bottom: var(---padding-tb, 8px) !important;
  ---padding-tb: initial;
}
:is([p-lr], [padding-lr]) {
  padding-left: var(---padding-lr, 8px) !important;
  padding-right: var(---padding-lr, 8px) !important;
  ---padding-lr: initial;
}
:is([p-t], [padding-t]) {
  padding-top: var(---padding-t, 8px) !important;
  ---padding-t: initial;
}
:is([p-b], [padding-b]) {
  padding-bottom: var(---padding-b, 8px) !important;
  ---padding-b: initial;
}
:is([p-l], [padding-l]) {
  padding-left: var(---padding-l, 8px) !important;
  ---padding-l: initial;
}
:is([p-r], [padding-r]) {
  padding-right: var(---padding-r, 8px) !important;
  ---padding-r: initial;
}

:is([child-layout="row"], [child-layout="column"]) {
  display: flex;
  flex-direction: var(---child-layout, row) !important;
  ---child-layout: initial;
}
:is([child-layout="grid"], [columns]) {
  display: grid;
  grid-template-columns: var(---columns, 1fr 1fr 1fr);
}
[child-gap] {
  gap: var(---child-gap, 8px) !important;
  ---child-gap: initial;
}
[child-align] {
  align-items: var(---child-align, center) !important;
  ---child-align: initial;
}
[child-justify] {
  justify-content: var(---child-justify, center) !important;
  ---child-justify: initial;
}
[child-overflow] {
  flex-wrap: var(---child-overflow, nowrap) !important;
  ---child-overflow: initial;
}
[self-align] {
  align-self: var(---self-align, center) !important;
  ---self-align: initial;
}

[flex] {
  flex: var(---flex, 1) !important;
  ---flex: initial;
}

[grow] {
  flex-grow: var(---grow, 1) !important;
  ---grow: initial;
}

[shrink] {
  flex-shrink: var(---shrink, 1) !important;
  ---shrink: initial;
}

[fill] path {
  fill: var(---fill, currentColor) !important;
  ---fill: initial;
}
[stroke] path {
  stroke: var(---stroke, currentColor) !important;
  ---stroke: initial;
}
[stroke-width] path {
  stroke-width: var(---stroke-width, 1) !important;
  ---stroke-width: initial;
}

[visible] {
  visibility: var(---visible, visible) !important;
}
[interactable] {
  pointer-events: var(---interactable, auto) !important;
  ---interactable: initial;
}
[interactable="none"] {
  cursor: default;
}
[selectable] {
  user-select: var(---selectable, auto) !important;
  ---selectable: initial;
}
[selectable=""],
[selectable="auto"],
[selectable="all"] {
  cursor: text;
}

[text-font] {
  font-family: var(---text-font, monospace) !important;
  ---text-font: initial;
}

[text-size] {
  font-size: var(---text-size, 1rem) !important;
  ---text-size: initial;
}
[text-size="2xs"] {
  line-height: var(---theme_text-2xs-line-height, 1.5);
}
[text-size="xs"] {
  line-height: var(---theme_text-xs-line-height, 1.5);
}
[text-size="sm"] {
  line-height: var(---theme_text-sm-line-height, 1.5);
}
[text-size="md"] {
  line-height: var(---theme_text-md-line-height, 1.5);
}
[text-size="lg"] {
  line-height: var(---theme_text-lg-line-height, 1.5);
}
[text-size="xl"] {
  line-height: var(---theme_text-xl-line-height, 1.5);
}
[text-size="2xl"] {
  line-height: var(---theme_text-2xl-line-height, 1.5);
}
[text-size="3xl"] {
  line-height: var(---theme_text-3xl-line-height, 1.5);
}
[text-size="4xl"] {
  line-height: var(---theme_text-4xl-line-height, 1.5);
}
[text-size="5xl"] {
  line-height: var(---theme_text-5xl-line-height, 1.5);
}
[text-size="6xl"] {
  line-height: var(---theme_text-6xl-line-height, 1.5);
}
[text-size="7xl"] {
  line-height: var(---theme_text-7xl-line-height, 1.5);
}
[text-size="8xl"] {
  line-height: var(---theme_text-8xl-line-height, 1.5);
}
[text-size="9xl"] {
  line-height: var(---theme_text-9xl-line-height, 1.5);
}

[text-leading] {
  line-height: var(---text-leading, 1.5) !important;
  ---text-leading: initial;
}

[text-kerning] {
  letter-spacing: var(---text-kerning, 1.5) !important;
  ---text-kerning: initial;
}

[text-weight] {
  font-weight: var(---text-weight, 600) !important;
  ---text-weight: initial;
}
[text-style] {
  font-style: var(---text-style, italic) !important;
  ---text-style: initial;
}
[text-decoration-line] {
  text-decoration-line: var(---text-decoration-line, underline) !important;
  ---text-decoration-line: initial;
}
[text-decoration-color] {
  text-decoration-color: var(---text-decoration-color, currentColor) !important;
  ---text-decoration-color: initial;
}
[text-decoration-thickness] {
  text-decoration-thickness: var(---text-decoration-thickness, auto) !important;
  ---text-decoration-thickness: initial;
}
[text-underline-offset] {
  text-underline-offset: var(---text-underline-offset, 4px) !important;
  ---text-underline-offset: initial;
}
[text-case] {
  text-transform: var(---text-case, uppercase) !important;
  ---text-case: initial;
}
[text-align] {
  text-align: var(---text-align, center) !important;
  ---text-align: initial;
}
[text-overflow] {
  text-overflow: var(---text-overflow, clip) !important;
  ---text-overflow: initial;
}
[text-overflow=""] {
  white-space: nowrap;
}
[text-overflow="wrap"] {
  white-space: break-spaces;
}
[text-overflow="visible"] {
  white-space: nowrap;
}
[text-overflow="clip"] {
  white-space: nowrap;
}
[text-overflow="ellipsis"] {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
[text-whitespace] {
  white-space: var(---text-whitespace, normal) !important;
  ---text-whitespace: initial;
}
[text-color] {
  color: var(---text-color, white) !important;
  ---text-color: initial;
}
[text-stroke],
[text-stroke-color],
[text-stroke-width] {
  text-shadow: var(---text-stroke) !important;
  ---text-stroke: initial;
}

:is([bg-color], [background-color]) {
  background-color: var(---background-color) !important;
  ---background-color: initial;
}
:is([bg-image], [background-image]),
:is([bg-gradient], [background-gradient]),
:is([bg-pattern], [background-pattern]) {
  background-image: var(---background-image, none),
    var(---background-gradient, none), var(---background-pattern, none) !important;
  ---background-image: initial;
  ---background-gradient: initial;
  ---background-pattern: initial;
}
:is([bg-repeat], [background-repeat]) {
  background-repeat: var(---background-repeat, repeat), no-repeat, no-repeat !important;
  ---background-repeat: initial;
}
:is([bg-align], [background-align]) {
  background-position: var(---background-align, center), center, center !important;
  ---background-align: initial;
}
:is([bg-fit], [background-fit]) {
  background-size: var(---background-fit, contain), auto, cover !important;
  ---background-fit: initial;
}

[clip] {
  clip-path: var(---clip, circle(50%)) !important;
  ---clip: initial;
}

[filter] {
  filter: var(---filter, none) !important;
  ---filter: initial;
}

[backdrop-filter] {
  backdrop-filter: var(---backdrop-filter, none) !important;
  ---backdrop-filter: initial;
}

[blend] {
  mix-blend-mode: var(---blend, normal) !important;
  ---blend: initial;
}

[shadow] {
  box-shadow: var(
    ---shadow,
    0 1px 2px hsl(0 0% 0% / 30%),
    0 1px 3px hsl(0 0% 0% / 15%)
  ) !important;
  transition-property: opacity, translate, rotate, scale, transform, box-shadow;
  ---shadow: initial;
}
[shadow-inset] {
  box-shadow: var(
    ---shadow-inset,
    inset 0 1px 2px hsl(0 0% 0% / 30%),
    inset 0 1px 3px hsl(0 0% 0% / 15%)
  ) !important;
  transition-property: opacity, translate, rotate, scale, transform, box-shadow;
  ---shadow-inset: initial;
}

[ring] {
  box-shadow: var(---ring, 0 0 0 2px currentColor) !important;
  transition-property: opacity, translate, rotate, scale, transform, box-shadow;
  outline: none !important;
  ---ring: initial;
}

[opacity] {
  opacity: var(---opacity, 1) !important;
  transition-property: opacity, translate, rotate, scale, transform, box-shadow;
  ---opacity: initial;
}

[translate],
[translate-x],
[translate-y],
[translate-z] {
  translate: var(---translate-x, var(---translate, 0))
    var(---translate-y, var(---translate, 0))
    var(---translate-z, var(---translate, 0)) !important;
  transition-property: opacity, translate, rotate, scale, transform, box-shadow;
  ---translate: initial;
  ---translate-x: initial;
  ---translate-y: initial;
  ---translate-z: initial;
}

[rotate],
[rotate-x],
[rotate-y],
[rotate-z] {
  rotate: var(---rotate-x, var(---rotate, 0))
    var(---rotate-y, var(---rotate, 0)) var(---rotate-z, var(---rotate, 0)) !important;
  transition-property: opacity, translate, rotate, scale, transform, box-shadow;
  ---rotate: initial;
  ---rotate-x: initial;
  ---rotate-y: initial;
  ---rotate-z: initial;
}

[scale],
[scale-x],
[scale-y],
[scale-z] {
  scale: var(---scale-x, var(---scale, 1)) var(---scale-y, var(---scale, 1))
    var(---scale-z, var(---scale, 1)) !important;
  transition-property: opacity, translate, rotate, scale, transform, box-shadow;
  ---scale: initial;
  ---scale-x: initial;
  ---scale-y: initial;
  ---scale-z: initial;
}

[skew],
[skew-x],
[skew-y] {
  transform: skewX(var(---skew-x, var(---skew, 0)))
    skewY(var(---skew-y, var(---skew, 0))) !important;
  transition-property: opacity, translate, rotate, scale, transform, box-shadow;
  ---skew: initial;
  ---skew-x: initial;
  ---skew-y: initial;
}

[pivot] {
  transform-origin: var(---pivot, left) !important;
  ---pivot: initial;
}

[transition-delay] {
  transition-delay: var(---transition-delay, 100ms) !important;
  ---transition-delay: initial;
}
[transition-duration] {
  transition-duration: var(---transition-duration, 100ms) !important;
  ---transition-duration: initial;
}
[transition-easing] {
  transition-timing-function: var(---transition-easing, ease) !important;
  ---transition-easing: initial;
}

[animation] {
  animation: var(---animation, var(---theme_animation-bounce)) !important;
  ---animation: initial;
}

[mask] {
  ---theme_mask-angled-corner: conic-gradient(
        from -45deg at var(---corner, 8px) var(---corner, 8px),
        #0000 25%,
        #000 0
      )
      calc(-1 * var(---corner, 8px)) 0 /100% 51% repeat-x,
    conic-gradient(
        from 135deg at var(---corner, 8px) calc(100% - var(---corner, 8px)),
        #0000 25%,
        #000 0
      )
      calc(-1 * var(---corner, 8px)) 100%/100% 51% repeat-x !important;

  ---theme_mask-scooped-corner: radial-gradient(
      var(---corner, 8px) at var(---corner, 8px) var(---corner, 8px),
      #0000 99%,
      #000
    )
    calc(-1 * var(---corner, 8px)) calc(-1 * var(---corner, 8px)) !important;

  ---theme_mask-notched-corner: conic-gradient(
      at calc(2 * var(---corner, 8px)) calc(2 * var(---corner, 8px)),
      #000 75%,
      #0000 0
    )
    calc(-1 * var(---corner, 8px)) calc(-1 * var(---corner, 8px)) !important;

  background-color: transparent !important;
  background-image: none !important;
}
[mask] ::before {
  /* Apply mask to a pseudo-element so that drop-shadow filters applied to the root element will match the shape of the mask */
  position: absolute !important;
  inset: 0 !important;
  content: "" !important;
  background-image: var(---background-gradient, none),
    var(---background-pattern, none), var(---background-image, none) !important;
  background-color: var(---background-color) !important;
  -webkit-mask: var(---mask, none) !important;
  mask: var(---mask, none) !important;
  ---mask: initial;
}

[content-visibility] {
  content-visibility: var(---content-visibility, auto);
  ---content-visibility: initial;
}

[contain-intrinsic-size] {
  contain-intrinsic-size: var(---contain-intrinsic-size, none);
  ---contain-intrinsic-size: initial;
}

.root::after {
  display: none;
  ---focus-duration: 50ms;
  position: absolute;
  inset: 0;
  content: "";
  border-radius: inherit;
  transition-property: outline-offset, opacity;
  transition-duration: var(---focus-duration);
  transition-timing-function: ease;
  outline-offset: calc(-2 * var(---theme_focus-ring-width));
  pointer-events: none;
}
.root.focused::after {
  display: flex;
  outline: var(---theme_color-focus) var(---theme_focus-ring-style)
    var(---theme_focus-ring-width);
  outline-offset: calc(-1 * var(---theme_focus-ring-width));
  -webkit-mask: none;
  mask: none;
}
.root.focused.pressed::after {
  display: flex;
  outline-offset: calc((-1 * var(---theme_focus-ring-width)) - 2px);
}
