:root {
  --theme_animation-spin: spin 1s linear infinite;
  --theme_animation-ping: ping 1.5s linear infinite;
  --theme_animation-sheen: sheen 8s ease-in-out infinite;
  --theme_animation-blink: blink 1s cubic-bezier(0, 0, 0.3, 1) infinite;
  --theme_animation-float: float 3s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  --theme_animation-bounce: bounce 1s linear infinite;
  --theme_animation-shake-x: shake-x 0.75s cubic-bezier(0, 0, 0, 1);
  --theme_animation-shake-y: shake-y 0.75s cubic-bezier(0, 0, 0, 1);
  --theme_animation-fade-in: fade-in 150ms linear;
  --theme_animation-fade-out: fade-out 150ms linear;
  --theme_animation-scale-up: scale-up 100ms ease-out;
  --theme_animation-scale-down: scale-down 100ms ease-out;
  --theme_animation-slide-out-up: slide-out-up 150ms ease-out;
  --theme_animation-slide-out-down: slide-out-down 150ms ease-out;
  --theme_animation-slide-out-left: slide-out-left 150ms ease-out;
  --theme_animation-slide-out-right: slide-out-right 150ms ease-out;
  --theme_animation-slide-in-up: slide-in-up 100ms ease-out;
  --theme_animation-slide-in-down: slide-in-down 100ms ease-out;
  --theme_animation-slide-in-left: slide-in-left 100ms ease-out;
  --theme_animation-slide-in-right: slide-in-right 100ms ease-out;
  --theme_animation-exit-fade: exit-fade 75ms linear;
  --theme_animation-exit-zoom: exit-zoom 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --theme_animation-exit-right: exit-right 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --theme_animation-exit-left: exit-left 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --theme_animation-exit-up: exit-up 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --theme_animation-exit-down: exit-down 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --theme_animation-exit-out: exit-out 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --theme_animation-exit-in: exit-in 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --theme_animation-enter-fade: enter-fade 75ms linear;
  --theme_animation-enter-zoom: enter-zoom 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --theme_animation-enter-right: enter-right 150ms -75ms cubic-bezier(0.4, 0, 0.2, 1);
  --theme_animation-enter-left: enter-left 150ms -75ms cubic-bezier(0.4, 0, 0.2, 1);
  --theme_animation-enter-up: enter-up 150ms -75ms cubic-bezier(0.4, 0, 0.2, 1);
  --theme_animation-enter-down: enter-down 150ms -75ms cubic-bezier(0.4, 0, 0.2, 1);
  --theme_animation-enter-out: enter-out 150ms -75ms cubic-bezier(0.4, 0, 0.2, 1);
  --theme_animation-enter-in: enter-in 150ms -75ms cubic-bezier(0.4, 0, 0.2, 1);
  --theme_animation-open: open 100ms ease-out;
  --theme_animation-close: close 75ms linear;
  --theme_animation-pulse: pulse 150ms ease-in-out;
}
