:host {
  display: contents;
  --_interactable: auto;
  --_selectable: none;
  --_child-layout: column;
  --_child-align: center;
  --_child-justify: center;
  --_position: relative;
  --_grow: 1;
  --_shrink: 1;
  --_text-font: var(--theme-font-sans);
  --_text-size: var(--theme-text-sm-font-size);
  --_text-weight: 600;
  --_text-wrap: nowrap;
  --_transition-property:
    opacity, transform, box-shadow, background-color, color;
  --_duration: 100ms;
  --_active-text-color: var(--theme-color-primary-60);
  --_inactive-text-color: var(--theme-color-neutral-60);
  --_active-background-color: var(--_color);
  --_inactive-background-color: var(--_color);
  --_active-border-color: var(--_color);
  --_inactive-border-color: var(--_color);
  --_padding-tb: 16px;
  --_padding-lr: 20px;
}

:host(:not([child-layout="row"])) {
  --_child-gap: 2px;
  --_icon-size: calc(1.5 * var(--_text-size));
}

:host([child-layout="row"]) {
  --_child-gap: 8px;
  --_icon-size: calc(1.15 * var(--_text-size));
}

:host > .root {
  display: flex;
  cursor: pointer;
  pointer-events: var(--_interactable);
  user-select: var(--_selectable);
  flex-basis: 0;
  flex-direction: var(--_child-layout);
  align-items: var(--_child-align);
  justify-content: var(--_child-justify);
  position: var(--_position);
  flex-grow: var(--_grow);
  flex-shrink: var(--_shrink);
  font-family: var(--_text-font);
  font-size: var(--_text-size);
  font-weight: var(--_text-weight);
  color: var(--_inactive-text-color, var(--_text-color));
  background-color: var(--_inactive-background-color, var(--_color));
  border-color: var(--_inactive-border-color, var(--_color));
  white-space: var(--_text-wrap);
  transition-property: var(--_transition-property);
  transition-duration: var(--_duration);
  padding-block: var(--_padding-tb);
  padding-inline: var(--_padding-lr);
  gap: var(--_child-gap);
  line-height: 1;
  will-change: transform, opacity;
}

:host([disabled]) > .root {
  cursor: default;
  opacity: 0.5;
}

:host([active]:not([disabled])) > .root {
  color: var(
    --_active-text-color,
    var(--_inactive-text-color, var(--_text-color))
  ) !important;
  background-color: var(
    --_active-background-color,
    var(--_inactive-background-color, var(--_color))
  ) !important;
  border-color: var(
    --_active-border-color,
    var(--_inactive-border-color, var(--_color))
  ) !important;
}

:host([active]:not([disabled], [status="activating"], [status="deactivating"]))
  > .root::before {
  content: "";
  position: absolute;
  inset: 0;
  border-style: solid;
  border-width: 0 0 var(--_indicator-width) 0;
  border-color: var(--_indicator-color);
  pointer-events: none;
}

:host > .root > .ripple {
  position: absolute;
  inset: 0;
}

:host > .root > .icon,
:host > .root > .label {
  display: flex;
  flex-direction: var(--_child-layout);
  align-items: var(--_child-align);
  justify-content: var(--_child-justify);
  transition-duration: var(--_duration);
  will-change: transform, opacity;
}
:host > .root > .label {
  transition-property: transform;
}

:host(:not([child-layout="row"])[icon]) > .root > .label {
  transform: scale(0.8);
}

:host(:not([child-layout="row"])[icon][active]:not([disabled]))
  > .root
  > .label {
  transform: scale(0.9);
}

:host > .root > .icon {
  display: none;
}
:host([icon]) > .root > .icon {
  position: relative;
  display: flex;
  width: var(--_icon-size, var(--theme-icon-size));
  height: var(--_icon-size, var(--theme-icon-size));
  min-width: var(--_icon-size, var(--theme-icon-size));
  min-height: var(--_icon-size, var(--theme-icon-size));
  font-size: var(--_icon-size, var(--theme-icon-size));
  justify-content: center;
  align-items: center;
  will-change: transform, opacity;
}

:host([icon]) > .root > .icon > .normal-icon {
  position: absolute;
  inset: 0;
  line-height: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--_inactive-text-color, var(--_text-color));
  transition-property: none;
  will-change: transform, opacity;
}
:host([icon][active-icon][active]) > .root > .icon > .normal-icon {
  display: none;
}

:host([active-icon]) > .root > .icon > .active-icon {
  position: absolute;
  inset: 0;
  line-height: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(
    --_active-text-color,
    var(--_inactive-text-color, var(--_text-color))
  );
  transition-property: none;
  will-change: transform, opacity;
}
:host([active-icon]:not([active])) > .root > .icon > .active-icon {
  display: none;
}
