.theme-light {
  ---theme-color-shadow-key-0: hsl(0 0% 0% / 0%);
  ---theme-color-shadow-key-1: hsl(0 0% 0% / 12%);
  ---theme-color-shadow-key-2: hsl(0 0% 0% / 16%);
  ---theme-color-shadow-key-3: hsl(0 0% 0% / 19%);
  ---theme-color-shadow-key-4: hsl(0 0% 0% / 25%);
  ---theme-color-shadow-key-5: hsl(0 0% 0% / 30%);
  ---theme-color-shadow-ambient-0: hsl(0 0% 0% / 0%);
  ---theme-color-shadow-ambient-1: hsl(0 0% 0% / 24%);
  ---theme-color-shadow-ambient-2: hsl(0 0% 0% / 23%);
  ---theme-color-shadow-ambient-3: hsl(0 0% 0% / 23%);
  ---theme-color-shadow-ambient-4: hsl(0 0% 0% / 22%);
  ---theme-color-shadow-ambient-5: hsl(0 0% 0% / 22%);
}

.theme-dark {
  ---theme-color-shadow-key-0: hsl(0 0% 0% / 0%);
  ---theme-color-shadow-key-1: hsl(0 0% 0% / 24%);
  ---theme-color-shadow-key-2: hsl(0 0% 0% / 32%);
  ---theme-color-shadow-key-3: hsl(0 0% 0% / 38%);
  ---theme-color-shadow-key-4: hsl(0 0% 0% / 50%);
  ---theme-color-shadow-key-5: hsl(0 0% 0% / 60%);
  ---theme-color-shadow-ambient-0: hsl(0 0% 0% / 0%);
  ---theme-color-shadow-ambient-1: hsl(0 0% 0% / 48%);
  ---theme-color-shadow-ambient-2: hsl(0 0% 0% / 46%);
  ---theme-color-shadow-ambient-3: hsl(0 0% 0% / 46%);
  ---theme-color-shadow-ambient-4: hsl(0 0% 0% / 44%);
  ---theme-color-shadow-ambient-5: hsl(0 0% 0% / 44%);
}

:root {
  ---theme-y-shadow-key-0: 0;
  ---theme-y-shadow-key-1: 1px;
  ---theme-y-shadow-key-2: 3px;
  ---theme-y-shadow-key-3: 10px;
  ---theme-y-shadow-key-4: 14px;
  ---theme-y-shadow-key-5: 19px;
  ---theme-y-shadow-ambient-0: 0;
  ---theme-y-shadow-ambient-1: 1px;
  ---theme-y-shadow-ambient-2: 3px;
  ---theme-y-shadow-ambient-3: 6px;
  ---theme-y-shadow-ambient-4: 10px;
  ---theme-y-shadow-ambient-5: 15px;

  ---theme-blur-shadow-key-0: 0;
  ---theme-blur-shadow-key-1: 1.5px;
  ---theme-blur-shadow-key-2: 3px;
  ---theme-blur-shadow-key-3: 10px;
  ---theme-blur-shadow-key-4: 14px;
  ---theme-blur-shadow-key-5: 19px;
  ---theme-blur-shadow-ambient-0: 0;
  ---theme-blur-shadow-ambient-1: 1px;
  ---theme-blur-shadow-ambient-2: 3px;
  ---theme-blur-shadow-ambient-3: 3px;
  ---theme-blur-shadow-ambient-4: 5px;
  ---theme-blur-shadow-ambient-5: 6px;

  ---theme-shadow-drop-key-0: 0 var(---theme-y-shadow-key-0)
    calc(var(---theme-blur-shadow-key-0) / 2) var(---theme-color-shadow-key-0);
  ---theme-shadow-drop-key-1: 0 var(---theme-y-shadow-key-1)
    calc(var(---theme-blur-shadow-key-1) / 2) var(---theme-color-shadow-key-1);
  ---theme-shadow-drop-key-2: 0 var(---theme-y-shadow-key-2)
    calc(var(---theme-blur-shadow-key-2) / 2) var(---theme-color-shadow-key-2);
  ---theme-shadow-drop-key-3: 0 var(---theme-y-shadow-key-3)
    calc(var(---theme-blur-shadow-key-3) / 2) var(---theme-color-shadow-key-3);
  ---theme-shadow-drop-key-4: 0 var(---theme-y-shadow-key-4)
    calc(var(---theme-blur-shadow-key-4) / 2) var(---theme-color-shadow-key-4);
  ---theme-shadow-drop-key-5: 0 var(---theme-y-shadow-key-5)
    calc(var(---theme-blur-shadow-key-5) / 2) var(---theme-color-shadow-key-5);
  ---theme-shadow-drop-ambient-0: 0 var(---theme-y-shadow-ambient-0)
    calc(var(---theme-blur-shadow-ambient-0) / 2)
    var(---theme-color-shadow-ambient-0);
  ---theme-shadow-drop-ambient-1: 0 var(---theme-y-shadow-ambient-1)
    calc(var(---theme-blur-shadow-ambient-1) / 2)
    var(---theme-color-shadow-ambient-1);
  ---theme-shadow-drop-ambient-2: 0 var(---theme-y-shadow-ambient-2)
    calc(var(---theme-blur-shadow-ambient-2) / 2)
    var(---theme-color-shadow-ambient-2);
  ---theme-shadow-drop-ambient-3: 0 var(---theme-y-shadow-ambient-3)
    calc(var(---theme-blur-shadow-ambient-3) / 2)
    var(---theme-color-shadow-ambient-3);
  ---theme-shadow-drop-ambient-4: 0 var(---theme-y-shadow-ambient-4)
    calc(var(---theme-blur-shadow-ambient-4) / 2)
    var(---theme-color-shadow-ambient-4);
  ---theme-shadow-drop-ambient-5: 0 var(---theme-y-shadow-ambient-5)
    calc(var(---theme-blur-shadow-ambient-5) / 2)
    var(---theme-color-shadow-ambient-5);

  ---theme-shadow-drop-0: drop-shadow(var(---theme-shadow-drop-key-0))
    drop-shadow(var(---theme-shadow-drop-ambient-0));
  ---theme-shadow-drop-1: drop-shadow(var(---theme-shadow-drop-key-1))
    drop-shadow(var(---theme-shadow-drop-ambient-1));
  ---theme-shadow-drop-2: drop-shadow(var(---theme-shadow-drop-key-2))
    drop-shadow(var(---theme-shadow-drop-ambient-2));
  ---theme-shadow-drop-3: drop-shadow(var(---theme-shadow-drop-key-3))
    drop-shadow(var(---theme-shadow-drop-ambient-3));
  ---theme-shadow-drop-4: drop-shadow(var(---theme-shadow-drop-key-4))
    drop-shadow(var(---theme-shadow-drop-ambient-4));
  ---theme-shadow-drop-5: drop-shadow(var(---theme-shadow-drop-key-5))
    drop-shadow(var(---theme-shadow-drop-ambient-5));

  ---theme-shadow-key-0: 0 var(---theme-y-shadow-key-0)
    var(---theme-blur-shadow-key-0) var(---theme-color-shadow-key-0);
  ---theme-shadow-key-1: 0 var(---theme-y-shadow-key-1)
    var(---theme-blur-shadow-key-1) var(---theme-color-shadow-key-1);
  ---theme-shadow-key-2: 0 var(---theme-y-shadow-key-2)
    var(---theme-blur-shadow-key-2) var(---theme-color-shadow-key-2);
  ---theme-shadow-key-3: 0 var(---theme-y-shadow-key-3)
    var(---theme-blur-shadow-key-3) var(---theme-color-shadow-key-3);
  ---theme-shadow-key-4: 0 var(---theme-y-shadow-key-4)
    var(---theme-blur-shadow-key-4) var(---theme-color-shadow-key-4);
  ---theme-shadow-key-5: 0 var(---theme-y-shadow-key-5)
    var(---theme-blur-shadow-key-5) var(---theme-color-shadow-key-5);
  ---theme-shadow-ambient-0: 0 var(---theme-y-shadow-ambient-0)
    var(---theme-blur-shadow-ambient-0) var(---theme-color-shadow-ambient-0);
  ---theme-shadow-ambient-1: 0 var(---theme-y-shadow-ambient-1)
    var(---theme-blur-shadow-ambient-1) var(---theme-color-shadow-ambient-1);
  ---theme-shadow-ambient-2: 0 var(---theme-y-shadow-ambient-2)
    var(---theme-blur-shadow-ambient-2) var(---theme-color-shadow-ambient-2);
  ---theme-shadow-ambient-3: 0 var(---theme-y-shadow-ambient-3)
    var(---theme-blur-shadow-ambient-3) var(---theme-color-shadow-ambient-3);
  ---theme-shadow-ambient-4: 0 var(---theme-y-shadow-ambient-4)
    var(---theme-blur-shadow-ambient-4) var(---theme-color-shadow-ambient-4);
  ---theme-shadow-ambient-5: 0 var(---theme-y-shadow-ambient-5)
    var(---theme-blur-shadow-ambient-5) var(---theme-color-shadow-ambient-5);

  ---theme-shadow-box-0: var(---theme-shadow-key-0),
    var(---theme-shadow-ambient-0);
  ---theme-shadow-box-1: var(---theme-shadow-key-1),
    var(---theme-shadow-ambient-1);
  ---theme-shadow-box-2: var(---theme-shadow-key-2),
    var(---theme-shadow-ambient-2);
  ---theme-shadow-box-3: var(---theme-shadow-key-3),
    var(---theme-shadow-ambient-3);
  ---theme-shadow-box-4: var(---theme-shadow-key-4),
    var(---theme-shadow-ambient-4);
  ---theme-shadow-box-5: var(---theme-shadow-key-5),
    var(---theme-shadow-ambient-5);

  ---theme-shadow-inset-0: inset var(---theme-shadow-key-0),
    inset var(---theme-shadow-ambient-0);
  ---theme-shadow-inset-1: inset var(---theme-shadow-key-1),
    inset var(---theme-shadow-ambient-1);
  ---theme-shadow-inset-2: inset var(---theme-shadow-key-2),
    inset var(---theme-shadow-ambient-2);
  ---theme-shadow-inset-3: inset var(---theme-shadow-key-3),
    inset var(---theme-shadow-ambient-3);
  ---theme-shadow-inset-4: inset var(---theme-shadow-key-4),
    inset var(---theme-shadow-ambient-4);
  ---theme-shadow-inset-5: inset var(---theme-shadow-key-5),
    inset var(---theme-shadow-ambient-5);
}
