<s-box overflow-y="scroll">
  <s-box p="16 0" navigation="keyboard" grow>
    <se-file-list directory-path="graphics/sprites">
      <se-file-list-empty slot="empty">
        <s-icon icon="pacman 1" size="48" m="12"></s-icon>
        No Sprites
      </se-file-list-empty>
      <template>
        <se-file-item directory-path="graphics/sprites"></se-file-item>
      </template>
    </se-file-list>
  </s-box>
  <se-file-add-button directory-path="graphics/sprites" file-name="sprite_00">Add Sprite</se-file-add-button>
</s-box>