<s-box overflow-y="scroll">
  <s-box p="16 0" navigation="keyboard" grow>
    <se-file-button>sprite_00</se-file-button>
    <se-file-button>sprite_01</se-file-button>
    <se-file-button>sprite_02</se-file-button>
    <se-file-button>sprite_03</se-file-button>
    <se-file-button>sprite_04</se-file-button>
    <se-file-button>sprite_05</se-file-button>
    <se-file-button>sprite_06</se-file-button>
    <se-file-button>sprite_07</se-file-button>
    <se-file-button>sprite_08</se-file-button>
    <se-file-button>sprite_09</se-file-button>
    <se-file-button>sprite_10</se-file-button>
  </s-box>
  <se-add-fab>Add Sprite</se-add-fab>
</s-box>