<s-box>
  <s-list p="16 0" grow>
    <se-option-button id="pdfButton">
      <s-box id="pdfProgressBar" position="absolute" i="0" width="100%" bg-color="primary-70" opacity="0.15"
        pivot="left" grow></s-box>
      <s-box child-layout="row" child-align="center" child-gap="16">
        <s-icon name="file-type-pdf"></s-icon>
        <s-box>Screenplay PDF</s-box>
      </s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .pdf
        <s-button class="more" color="fg-50" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <se-option-button id="htmlButton">
      <s-box id="htmlProgressBar" position="absolute" i="0" width="100%" bg-color="primary-70" opacity="0.15"
        pivot="left" grow></s-box>
      <s-box child-layout="row" child-align="center" child-gap="16">
        <s-icon name="file-type-html"></s-icon>
        <s-box>Screenplay HTML</s-box>
      </s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .html
        <s-button class="more" color="fg-50" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <se-option-button>
      <s-box child-layout="row" child-align="center" child-gap="16">
        <s-icon name="brand-ao3"></s-icon>
        <s-box>Copy Work Text</s-box>
      </s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        <s-button class="more" color="fg-50" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <se-option-button>
      <s-box child-layout="row" child-align="center" child-gap="16">
        <s-icon name="brand-ao3"></s-icon>
        <s-box>Copy Work Skin</s-box>
      </s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        <s-button class="more" color="fg-50" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
  </s-list>
</s-box>