:host {
  display: contents;
}
:host {
  --position: relative;
  --overflow-x: clip;
  --overflow-y: clip;
  --height: 0.25rem;
  --shadow-inset: inset var(--s-shadow-sm);
  --text-font: var(--s-font-sans);
  --text-size: var(--s-text-xs-font-size);
  --text-weight: var(--s-font-weight-normal);
  --text-color: var(--s-color-neutral-0);
  --bg-color: var(--s-color-neutral-30);
  --color: var(--s-color-primary-70);
  --speed: 2.5s;
  --duration: 400ms;
}

.progress-bar {
  position: var(--position);
  overflow-x: var(--overflow-x);
  overflow-y: var(--overflow-y);
  height: var(--height);
  box-shadow: var(--shadow-inset);
  font-family: var(--text-font);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  background-color: var(--bg-color);
  border-top-left-radius: var(
    --corner-tl,
    var(--corner-t, var(--corner-l, var(--corner, 8px)))
  );
  border-top-right-radius: var(
    --corner-tr,
    var(--corner-t, var(--corner-r, var(--corner, 8px)))
  );
  border-bottom-right-radius: var(
    --corner-br,
    var(--corner-b, var(--corner-r, var(--corner, 8px)))
  );
  border-bottom-left-radius: var(
    --corner-bl,
    var(--corner-b, var(--corner-l, var(--corner, 8px)))
  );
}

.indicator {
  height: 100%;
  background-color: var(--color);
  color: var(--text-color);
  line-height: var(--height);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transition-property: width, background-color;
  transition-duration: var(--duration), var(--duration);
  user-select: none;
}

:host(:not([value])) .indicator {
  position: absolute;
  animation: indeterminate var(--speed) infinite cubic-bezier(0.37, 0, 0.63, 1);
}

:host([rtl]:not([value])) .indicator {
  animation-name: indeterminate-rtl;
}

@keyframes indeterminate {
  0% {
    left: -50%;
    width: 50%;
  }
  75%,
  100% {
    left: 100%;
    width: 50%;
  }
}

@keyframes indeterminate-rtl {
  0% {
    right: -50%;
    width: 50%;
  }
  75%,
  100% {
    right: 100%;
    width: 50%;
  }
}
