@font-face {
  font-family: "Courier Prime Sans";
  font-weight: 400;
  font-display: block;
  src: url("/fonts/courier-prime-sans.ttf") format("truetype");
}

@font-face {
  font-family: "Courier Prime Sans";
  font-weight: 700;
  font-display: block;
  src: url("/fonts/courier-prime-sans-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Courier Prime Sans";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/courier-prime-sans-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Courier Prime Sans";
  font-style: italic;
  font-weight: 700;
  font-display: block;
  src: url("/fonts/courier-prime-sans-bold-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Courier Prime";
  font-weight: 400;
  font-display: block;
  src: url("/fonts/courier-prime.ttf") format("truetype");
}

@font-face {
  font-family: "Courier Prime";
  font-weight: 700;
  font-display: block;
  src: url("/fonts/courier-prime-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Courier Prime";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/courier-prime-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Courier Prime";
  font-style: italic;
  font-weight: 700;
  font-display: block;
  src: url("/fonts/courier-prime-bold-italic.ttf") format("truetype");
}

:root {
  color-scheme: dark;
  --screenplay-preview-texture: url("/noisetexture.png");
}

html {
  overscroll-behavior: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

/* When the keyboard is active, we may need to prevent body scrolling 
   to stop iOS from "rubber-banding" the bottom-fixed toolbar away. */
body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  font-family: var(--theme-font-sans);
  min-height: 100dvh;
}

body.keyboard-open {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

main {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.picker * {
  pointer-events: auto;
}

.cm-context-menu {
  background-color: var(--theme-color-panel);
}

#bottom-toolbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;

  z-index: 9999;

  /* CRITICAL: Prevents iOS from applying its own weird offsets */
  will-change: transform, top;
  transition: transform 0.05s linear;

  /* Visual Polish */
  background-color: blueviolet;
  text-align: center;
  padding-bottom: env(safe-area-inset-bottom);
}

body.keyboard-open #bottom-toolbar {
  background-color: lightseagreen;
}
