@font-face {
  font-family: "Courier Prime Sans";
  font-weight: 400;
  font-display: block;
  src: url("/fonts/courier-prime-sans.ttf") format("truetype");
}

@font-face {
  font-family: "Courier Prime Sans";
  font-weight: 700;
  font-display: block;
  src: url("/fonts/courier-prime-sans-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Courier Prime Sans";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/courier-prime-sans-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Courier Prime Sans";
  font-style: italic;
  font-weight: 700;
  font-display: block;
  src: url("/fonts/courier-prime-sans-bold-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Courier Prime";
  font-weight: 400;
  font-display: block;
  src: url("/fonts/courier-prime.ttf") format("truetype");
}

@font-face {
  font-family: "Courier Prime";
  font-weight: 700;
  font-display: block;
  src: url("/fonts/courier-prime-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Courier Prime";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/courier-prime-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Courier Prime";
  font-style: italic;
  font-weight: 700;
  font-display: block;
  src: url("/fonts/courier-prime-bold-italic.ttf") format("truetype");
}

:root {
  color-scheme: dark;
  --screenplay-preview-texture: url("/noisetexture.png");
  --navbar-height: 60px;
  --navbar-display: flex;
  /* Environment Safe Areas */
  --safe-top: env(safe-area-inset-top, 0px);
  --safe-bottom: env(safe-area-inset-bottom, 0px);
  /* Updated by JS */
  --cm-top-offset: 0px;
  --cm-bottom-offset: 0px;
}

* {
  overscroll-behavior: none;
  touch-action: pan-y;
}

html,
body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;

  overflow: clip;
  overscroll-behavior: none;

  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;

  font-family: var(--theme-font-sans);
}

html {
  background-color: var(--theme-color-primary-bg);
}
html.keyboard-open {
  background-color: var(--theme-color-panel);
}

.keyboard-open body {
  background-color: var(--theme-color-panel);
  --navbar-display: none;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;

  overflow: clip;
  overscroll-behavior: none;

  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
}

input,
textarea {
  overscroll-behavior: none;
}

.picker * {
  pointer-events: auto;
}

.cm-context-menu {
  background-color: var(--theme-color-panel);
}
