:host {
  display: contents;
}
:host {
  --child-justify: center;
  --child-align: center;
  --size: calc(1em * var(--s-scale-icon));
}

:host > .root {
  display: flex;
  justify-content: var(--child-justify);
  align-items: var(--child-align);
  width: var(--size);
  height: var(--size);
  min-width: var(--size);
  min-height: var(--size);
  -webkit-mask-image: var(--icon, none);
  mask-image: var(--icon, none);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: currentColor;
  color-scheme: only light;
  will-change: transform;
}
