:host {
  display: contents;
}
:host {
  --overflow-x: visible;
  --overflow-y: visible;
  --child-layout: row;
  --child-align: center;
  --child-justify: flex-start;
  --position: relative;
  --interactable: auto;
  --selectable: none;
  --width: auto;
  --height: auto;
  --text-font: var(--s-font-sans);
  --text-wrap: nowrap;
  --transition-property: transform, background-color, color, border, filter;
  --duration: 100ms;
  --spacing: 12px;
  --border-width: 1px;
  --corner: 0;
  --shadow: none;
  --color: var(--s-color-neutral-100);
  --active-color: var(--s-color-neutral-100);
  --icon-size: var(--s-icon-size);
}

:host([value]) {
  --color: var(--s-color-neutral-70);
}

:host([active]:not([disabled])) > .root {
  color: var(--active-color) !important;
}

:host([size="xs"]) > .root {
  --width-min: 80px;
  --height-min: 24px;
  --text-size: var(--s-text-2xs-font-size);
  --text-leading: var(--s-text-2xs-line-height);
  --padding-lr: 12px;
}

:host([size="sm"]) > .root {
  --width-min: 80px;
  --height-min: 32px;
  --text-size: var(--s-text-sm-font-size);
  --text-leading: var(--s-text-sm-line-height);
  --padding-lr: 14px;
}

:host,
:host([size="md"]) > .root {
  --width-min: 80px;
  --height-min: 40px;
  --text-size: var(--s-text-sm-font-size);
  --text-leading: var(--s-text-sm-line-height);
  --padding-lr: 20px;
}

:host([size="lg"]) > .root {
  --width-min: 80px;
  --height-min: 48px;
  --text-size: var(--s-text-md-font-size);
  --text-leading: var(--s-text-md-line-height);
  --padding-lr: 24px;
}

:host > .root {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  overflow-x: var(--overflow-x);
  overflow-y: var(--overflow-y);
  flex-direction: var(--child-layout);
  align-items: var(--child-align);
  justify-content: var(--child-justify);
  position: var(--position);
  pointer-events: var(--interactable);
  user-select: var(--selectable);
  width: var(--width);
  height: var(--height);
  min-width: var(--width-min);
  min-height: var(--height-min);
  font-family: var(--text-font);
  font-size: var(--text-size);
  line-height: var(--text-leading);
  white-space: var(--text-wrap);
  transition-property: var(--transition-property);
  transition-duration: var(--duration);
  border-color: var(--border-color);
  border-width: var(--border-width);
  border-radius: var(--corner);
  padding-inline: var(--padding-lr);
  will-change: transform;
  color: var(--color);
  filter: var(--shadow);
  background-color: var(--background-color);
}

:host([disabled]) > .root {
  cursor: default;
  opacity: 0.5;
}

:host > .root > .ripple {
  border-radius: inherit;
  position: absolute;
  inset: 0;
}
:host([disabled]) > .root > .ripple {
  display: none;
}

:host > .root > .label {
  display: flex;
  visibility: visible;
  flex-direction: var(--child-layout);
  align-items: var(--child-align);
  justify-content: var(--child-justify);
  z-index: 1;
  transition-duration: var(--duration);
}
:host([child-justify]) > .root > .label {
  flex-grow: var(--grow);
}
:host([loading]) > .root > .label {
  visibility: hidden;
}
:host([icon]:not([variant="icon"])) > .root > .label {
  padding-left: var(--spacing);
}

:host > .root > .icon {
  display: none;
}
:host([icon]) > .root > .icon {
  position: relative;
  display: flex;
  width: var(--icon-size);
  height: var(--icon-size);
  min-width: var(--icon-size);
  min-height: var(--icon-size);
  font-size: var(--icon-size);
  justify-content: center;
  align-items: center;
  will-change: transform;
}

:host([icon]) > .root > .icon > .inactive-icon {
  position: absolute;
  inset: 0;
  line-height: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  will-change: transform, opacity;
  transition-property: none;
  color: var(--color);
}
:host([icon]) > .root > .icon > .inactive-icon:before {
  content: var(--icon);
}
:host([icon]:not([active])) > .root > .icon > .inactive-icon {
  display: flex;
}
:host([icon][active]) > .root > .icon > .inactive-icon {
  display: none;
}

:host([icon]) > .root > .icon > .active-icon {
  position: absolute;
  inset: 0;
  line-height: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  will-change: transform, opacity;
  transition-property: none;
  color: var(--active-color);
}
:host([icon]) > .root > .icon > .active-icon:before {
  content: var(--icon);
}
:host([active-icon]) > .root > .icon > .active-icon:before {
  content: var(--active-icon);
}
:host([icon]:not([active])) > .root > .icon > .active-icon {
  display: none;
}
:host([icon][active]) > .root > .icon > .active-icon {
  display: flex;
}
