:host {
  display: contents;
  --_overflow-x: visible;
  --_overflow-y: visible;
  --_child-layout: row;
  --_child-align: center;
  --_child-justify: flex-start;
  --_position: relative;
  --_interactable: auto;
  --_selectable: none;
  --_width: auto;
  --_height: auto;
  --_text-font: var(--theme-font-sans);
  --_text-wrap: nowrap;
  --_transition-property:
    transform, background-color, color, border, box-shadow;
  --_duration: 100ms;
  --_spacing: 12px;
  --_border-width: 1px;
  --_corner: 0;
  --_shadow: none;
  --_text-color: var(--theme-color-neutral-100);
  --_active-color: var(--theme-color-neutral-100);
}

:host([value]) {
  --_text-color: var(--theme-color-neutral-70);
}

:host([active]:not([disabled])) > .root {
  color: var(--_active-color) !important;
}

:host([size="xs"]) > .root {
  --_width-min: 80px;
  --_height-min: 24px;
  --_text-size: var(--theme-text-2xs-font-size);
  --_text-leading: var(--theme-text-2xs-line-height);
  --_padding-lr: 12px;
}

:host([size="sm"]) > .root {
  --_width-min: 80px;
  --_height-min: 32px;
  --_text-size: var(--theme-text-sm-font-size);
  --_text-leading: var(--theme-text-sm-line-height);
  --_padding-lr: 14px;
}

:host,
:host([size="md"]) > .root {
  --_width-min: 80px;
  --_height-min: 40px;
  --_text-size: var(--theme-text-sm-font-size);
  --_text-leading: var(--theme-text-sm-line-height);
  --_padding-lr: 20px;
}

:host([size="lg"]) > .root {
  --_width-min: 80px;
  --_height-min: 48px;
  --_text-size: var(--theme-text-md-font-size);
  --_text-leading: var(--theme-text-md-line-height);
  --_padding-lr: 24px;
}

:host > .root {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  overflow-x: var(--_overflow-x);
  overflow-y: var(--_overflow-y);
  flex-direction: var(--_child-layout);
  align-items: var(--_child-align);
  justify-content: var(--_child-justify);
  position: var(--_position);
  pointer-events: var(--_interactable);
  user-select: var(--_selectable);
  width: var(--_width);
  height: var(--_height);
  min-width: var(--_width-min);
  min-height: var(--_height-min);
  font-family: var(--_text-font);
  font-size: var(--_text-size);
  line-height: var(--_text-leading);
  white-space: var(--_text-wrap);
  transition-property: var(--_transition-property);
  transition-duration: var(--_duration);
  border-color: var(--_border-color);
  border-width: var(--_border-width);
  border-radius: var(--_corner);
  padding-inline: var(--_padding-lr);
  will-change: transform;
  color: var(--_text-color);
  box-shadow: var(--_shadow);
  background-color: var(--_background-color);
}

:host([disabled]) > .root {
  cursor: default;
  opacity: 0.5;
}

:host > .root > .ripple {
  border-radius: inherit;
  position: absolute;
  inset: 0;
}
:host([disabled]) > .root > .ripple {
  display: none;
}

:host > .root > .label {
  display: flex;
  visibility: visible;
  flex-direction: var(--_child-layout);
  align-items: var(--_child-align);
  justify-content: var(--_child-justify);
  z-index: 1;
  transition-duration: var(--_duration);
}
:host([child-justify]) > .root > .label {
  flex-grow: var(--_grow);
}
:host([loading]) > .root > .label {
  visibility: hidden;
}
:host([icon]:not([variant="icon"])) > .root > .label {
  padding-left: var(--_spacing);
}

:host > .root > .icon {
  display: none;
}
:host([icon]) > .root > .icon {
  position: relative;
  display: flex;
  width: var(--_icon-size, var(--theme-icon-size));
  height: var(--_icon-size, var(--theme-icon-size));
  min-width: var(--_icon-size, var(--theme-icon-size));
  min-height: var(--_icon-size, var(--theme-icon-size));
  font-size: var(--_icon-size, var(--theme-icon-size));
  justify-content: center;
  align-items: center;
  will-change: transform;
}

:host([icon]) > .root > .icon > .normal-icon {
  position: absolute;
  inset: 0;
  line-height: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  will-change: transform, opacity;
  transition-property: none;
  color: var(--_text-color);
}
:host([icon][active-icon][active]) > .root > .icon > .normal-icon {
  display: none;
}

:host([active-icon]) > .root > .icon > .active-icon {
  position: absolute;
  inset: 0;
  line-height: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  will-change: transform, opacity;
  transition-property: none;
  color: var(--_active-color);
}
:host([active-icon]:not([active])) > .root > .icon > .active-icon {
  display: none;
}
