<s-box id="authenticated" grow hidden>
  <s-button id="load-project-button" icon="download" variant="text" p="16 24" spacing="24" size="lg" width="100%"
    color="fab-bg" text-color="fab-fg" text-weight="500" child-justify="start" corner="0" shadow="1" m="1">
    Load Project
  </s-button>
  <s-button id="save-project-button" icon="upload" variant="text" p="16 24" spacing="24" size="lg" width="100%"
    color="fab-bg" text-color="fab-fg" text-weight="500" child-justify="start" corner="0" shadow="1" m="1">
    Save Project
  </s-button>
  <s-box grow></s-box>
  <s-dropdown sync-size="width">
    <s-button type="div" variant="text" width="100%" p="16" color="fab-bg" text-color="fab-fg" child-justify="start"
      corner="0" shadow="1" m="1">
      <s-box id="account" child-layout="row" child-align="center" overflow-x="hidden">
        <s-box corner="full" overflow-x="hidden" overflow-y="hidden" m-r="16">
          <img id="account-avatar" width="40" height="40"></img>
        </s-box>
        <s-box child-layout="column" shrink="1">
          <s-box id="account-name" text-weight="600" text-overflow="ellipsis"></s-box>
          <s-box id="account-email" text-weight="400" opacity="0.7" text-overflow="ellipsis"></s-box>
        </s-box>
      </s-box>
    </s-button>
    <slot slot="options">
      <s-option id="signout-button" icon="logout">Sign Out</s-option>
    </slot>
  </s-dropdown>
</s-box>
<s-box id="unauthenticated" grow hidden>
  <s-button id="signin-button" icon="brand-google-drive" variant="text" p="16 24" spacing="24" size="lg" width="100%"
    color="fab-bg" text-color="fab-fg" text-weight="500" child-justify="start" corner="0" shadow="1" m="1">
    Sync With Google Drive
  </s-button>
</s-box>