<div id="authenticated" hidden>
  <img id="account-avatar"></img>
  <div id="account-name"></div>
  <div id="account-email"></div>
  <button id="signout-button" style="width: 100%;">Sign Out</button>
  <button id="load-project-button" style="width: 100%;">Load Project</button>
  <button id="save-project-button" style="width: 100%;">Save Project</button>
  <div id="loaded-project" hidden>
    <pre id="content"></pre>
  </div>
</div>
<div id="unauthenticated" hidden>
  <button id="signin-button" style="width: 100%;">Sync With Google Drive</button>
</div>