:host {
  display: contents;
}

:host label {
  border-radius: 9999px;
  pointer-events: auto;
  position: absolute;
  inset: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

:host input {
  border-radius: 9999px;
  pointer-events: auto;
  position: absolute;
  inset: 0;
}

:host input::after {
  border-radius: 9999px;
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color);
}

:host input::after {
  --focus-duration: 50ms;
  position: absolute;
  inset: 0;
  content: "";
  transition-property: outline-offset, opacity;
  transition-duration: var(--focus-duration);
  transition-timing-function: ease;
  outline-offset: calc(-2 * var(--s-focus-ring-width));
  pointer-events: none;
}
:host input:focus-visible::after {
  outline: var(--s-color-focus) var(--s-focus-ring-style)
    var(--s-focus-ring-width);
  outline-offset: 0;
  -webkit-mask: none;
  mask: none;
}
:host input:active:focus-visible::after {
  outline-offset: calc((-1 * var(--s-focus-ring-width)) - 2px);
}
