<s-box>
  <s-list p="16 0" grow>
    <se-option-button>
      <s-box child-layout="row" child-align="center" child-gap="16">
        <s-icon name="square-letter-s"></s-icon>
        <s-box>Spark Cartridge</s-box>
      </s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .s.png
        <s-button class="more" aria-label="Settings" color="fg-50" variant="icon" icon="gear" m-l="16"
          m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <se-option-button>
      <s-box child-layout="row" child-align="center" child-gap="16">
        <s-icon name="brand-html5"></s-icon>
        <s-box>HTML5 App</s-box>
      </s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .zip
        <s-button class="more" aria-label="Settings" color="fg-50" variant="icon" icon="gear" m-l="16"
          m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <se-option-button>
      <s-box child-layout="row" child-align="center" child-gap="16">
        <s-icon name="brand-android"></s-icon>
        <s-box>Android App</s-box>
      </s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .apk
        <s-button class="more" aria-label="Settings" color="fg-50" variant="icon" icon="gear" m-l="16"
          m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <se-option-button>
      <s-box child-layout="row" child-align="center" child-gap="16">
        <s-icon name="brand-apple"></s-icon>
        <s-box>iOS App</s-box>
      </s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .ipa
        <s-button class="more" aria-label="Settings" color="fg-50" variant="icon" icon="gear" m-l="16"
          m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <s-button m="24" variant="outlined" size="lg" color="fg">
      Publish Online
    </s-button>
  </s-list>
</s-box>