<s-box>
  <s-list p="16 0" grow>
    <se-option-button>
      <s-box>Spark Cartridge</s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .s.png
        <s-button class="more" color="fg-50" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <se-option-button>
      <s-box>Android App</s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .apk
        <s-button class="more" color="fg-50" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <se-option-button>
      <s-box>iOS App</s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .ipa
        <s-button class="more" color="fg-50" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <se-option-button id="pdfButton">
      <s-box id="pdfProgressBar" position="absolute" i="0" width="100%" bg-color="primary-70" opacity="0.15"
        pivot="left" grow></s-box>
      <s-box>Screenplay PDF</s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .pdf
        <s-button class="more" color="fg-50" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <se-option-button id="htmlButton">
      <s-box id="htmlProgressBar" position="absolute" i="0" width="100%" bg-color="primary-70" opacity="0.15"
        pivot="left" grow></s-box>
      <s-box>Screenplay HTML</s-box>
      <s-box opacity="0.5" child-layout="row" child-align="center">
        .html
        <s-button class="more" color="fg-50" variant="icon" icon="gear" m-l="16" m-r="-24"></s-button>
      </s-box>
    </se-option-button>
    <s-button m="24" variant="outlined" size="lg" color="fg">
      Publish Online
    </s-button>
  </s-list>
</s-box>