<s-box position="fixed-top" height="header-nav" child-justify="center" z="2" bg-color="primary-bg">
  <s-box p="0 8 0 0" child-layout="row" child-align="center">
    <se-header-menu-button></se-header-menu-button>
    <s-box grow>
      <se-header-title-button></se-header-title-button>
      <s-box text-size="sm" text-weight="500" m-b="2px" text-color="fg-60">
        Synced Locally
      </s-box>
    </s-box>
    <s-box position="relative" width="56" height="56">
      <s-hidden initial="hide" hide-above="lg">
        <s-hidden initial="hide" hide-event="editor/unfocused window/didEditProjectName"
          show-event="editor/focused window/willEditProjectName" position="absolute" i="0">
          <s-button variant="icon" icon="check" text-size="20"></s-button>
        </s-hidden>
        <s-hidden hide-event="editor/focused window/willEditProjectName"
          show-event="editor/unfocused window/didEditProjectName" position="absolute" i="0">
          <se-preview-toggle-button></se-preview-toggle-button>
        </s-hidden>
      </s-hidden>
    </s-box>
  </s-box>
  <s-divider position="absolute" i-b="0"></s-divider>
</s-box>