:host {
  display: contents;
}
:host {
  --aspect: 1/1;
  --child-layout: column;
  --child-justify: center;
  --child-align: center;
  --shrink: 0;
  --size: 40px;
  --width: var(--size);
  --height: var(--size);
}

.root {
  display: flex;
  flex-direction: var(--child-layout);
  justify-content: var(--child-justify);
  align-items: var(--child-align);
  flex-shrink: var(--shrink);
  width: var(--width);
  height: var(--height);
  border-radius: 50%;
}
