:host {
  display: contents;
  border-radius: inherit;
  -webkit-mask: inherit;
  mask: inherit;
}
:host {
  --focus-opacity: var(--s-opacity-focus);
  --hover-opacity: var(--s-opacity-hover);
  --press-opacity: var(--s-opacity-press);
  --ripple-duration: 150ms;
  --hover-duration: 15ms;
  --focus-duration: 75ms;
  --press-duration: 105ms;
  --min-color-stop-length: 75%;
}

:host([disabled]) {
  opacity: 0;
}

.root {
  pointer-events: none;
  border-radius: inherit;
  position: absolute;
  inset: 0;
  overflow: hidden;
  will-change: transform;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask: inherit;
  mask: inherit;
}

.root::before,
.root::after {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  content: "";
  border-radius: inherit;
  -webkit-mask: inherit;
  mask: inherit;
}

.root::before {
  background-color: currentColor;
  transition-property: opacity, background-color;
  transition-timing-function: linear;
  inset: 0;
}
.hovered::before {
  background-color: currentColor;
  opacity: var(--hover-opacity);
  transition-property: opacity;
  transition-duration: var(--hover-duration);
}
.focused::before {
  background-color: currentColor;
  opacity: var(--focus-opacity);
  transition-property: opacity, outline;
  transition-duration: var(--focus-duration);
}

.root::after {
  background: radial-gradient(
    closest-side,
    currentColor max(calc(100% - 70px), var(--min-color-stop-length)),
    transparent 100%
  );
  transition-property: opacity;
  transition-duration: var(--ripple-duration);
  transition-timing-function: linear;
  transform-origin: center center;
}
.pressed::after {
  opacity: var(--press-opacity);
  transition-property: opacity;
  transition-duration: var(--press-duration);
}

@media screen and (forced-colors: active) {
  :host {
    display: none;
  }
}
