:root,
.s-theme-light,
.s-theme-dark {
  --s-easing-linear: linear;
  --s-easing-ease: ease;
  --s-easing-ease-in: ease-in;
  --s-easing-ease-out: ease-out;
  --s-easing-ease-in-out: ease-in-out;
  --s-easing-ease-elastic-1: cubic-bezier(0.5, 0.75, 0.75, 1.25);
  --s-easing-ease-elastic-2: cubic-bezier(0.5, 1, 0.75, 1.25);
  --s-easing-ease-elastic-3: cubic-bezier(0.5, 1.25, 0.75, 1.25);
  --s-easing-ease-elastic-4: cubic-bezier(0.5, 1.5, 0.75, 1.25);
  --s-easing-ease-elastic-5: cubic-bezier(0.5, 1.75, 0.75, 1.25);
  --s-easing-ease-squish-1: cubic-bezier(0.5, -0.1, 0.1, 1.5);
  --s-easing-ease-squish-2: cubic-bezier(0.5, -0.3, 0.1, 1.5);
  --s-easing-ease-squish-3: cubic-bezier(0.5, -0.5, 0.1, 1.5);
  --s-easing-ease-squish-4: cubic-bezier(0.5, -0.7, 0.1, 1.5);
  --s-easing-ease-squish-5: cubic-bezier(0.5, -0.9, 0.1, 1.5);
}
