<s-box p="16 0" navigation="keyboard" grow>
  <se-file-button>music_00</se-file-button>
  <se-file-button>music_01</se-file-button>
  <se-file-button>music_02</se-file-button>
  <se-file-button>music_03</se-file-button>
  <se-file-button>music_04</se-file-button>
  <se-file-button>music_05</se-file-button>
  <se-file-button>music_06</se-file-button>
  <se-file-button>music_07</se-file-button>
  <se-file-button>music_08</se-file-button>
  <se-file-button>music_09</se-file-button>
  <se-file-button>music_10</se-file-button>
</s-box>